<form class="form-horizontal form-validate form-modal" method="post" action="/api/form/ajaxformurl">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">秒杀活动使用指南</h4>
            </div>
            <div class="modal-body">
                <div class="">
                    <p>
                        秒杀活动是由运营平台发起，供货商报名商品参加，运营平台对报名商品审核，审核已通过后配置前台页面并展示。<br/>
                        <br/>
                        新建活动说明：<br/>
                        1.活动名称将在供货商看到的活动详情页中显示，支持2-30个字。<br/>
                        2.活动时间和报名时间都是一个区间，都可设置为长期，报名结束时间可晚于活动开始时间。<br/>
                        3.活动介绍，是对本次活动的简短介绍，用于吸引供货商报名参加。该活动介绍在供货商看到的活动详情页中显示，支持0-1000字。若为0则显示为“无”。<br/>
                        4.店铺范围默认为全部，可选择指定类目店铺参与。<br/>
                        5.店铺类型用于限定哪些店铺可参与。<br/>
                        6.限制店铺数指活动允许店铺参与的数，设置后超过数店铺不能报名。<br/>
                        7.秒杀设置用于对活动价的设置，可设置每个商品不高于X元，也可设置为秒杀固定为1元或9.9元等。<br/>
                        8.设置库存和商品销量后不符合条件商品将不能报名参与。<br/>
                        9.设置的活动信息会自动生成为活动规则，在活动规则输入框内可补充输入更多内容。
                    </p>
                </div>
            </div>
        </div>
    </div>
</form>



 
  


