<!DOCTYPE html>
<html lang="cn" class="app fadeInUp animated">

<head>
    <meta charset="utf-8" />
    <title>vshop</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <link href="/assets/stylesheets/bootstrap.min.css" rel="stylesheet" />
    <link href="/assets/stylesheets/animate.min.css" rel="stylesheet" />
    <link href="/assets/stylesheets/font-awesome.min.css" rel="stylesheet" />
    <link href="/assets/stylesheets/style.min.css" rel="stylesheet" />
    <link href="/assets/stylesheets/plugins/select2/select2.min.css" rel="stylesheet" />
    <!--[if lt IE 9]>
    <script src="/assets/javascripts/ie8/inie8.min.js"></script>
    <![endif]-->
    <script type="text/javascript">
    var _speedMark = new Date(),
        www_version = 1201405081146;
    </script>
</head>

<body>

    <section class="vbox">
        <header class="header bg-white b-b clearfix">
            <form class="form-inline talbe-search js_form" method="post" action="/api/Page/list">

                <div class="row m-t-sm">
                    <div class="col-sm-8">
                        <p class="pull-left m-t-xs m-r">投放时间</p>
                        <input type="text" style="width:100px" class="form-control input-sm" name="deploymentTime" value="2011-11-12" readonly="readonly" data-toggle="datepicker" data-change="submit" />
                        <i class="fa fa-calendar m-r-lg"></i>
                        <div class="btn-group">
                            <a data-toggle="dropdown" class="btn btn-sm btn-default dropdown-toggle">
                                <span class="dropdown-label">全部优惠券</span>
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu dropdown-select dropdown-select-50" data-change="submit">
                                <li class="active">
                                    <a href="javascript:;">
                                        <input type="radio" name="status" value="全部优惠券" checked="checked" />
                                        全部优惠券
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:;">
                                        <input type="radio" name="status" value="已选中" />
                                        已选中
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:;">
                                        <input type="radio" name="status" value="未选中" />
                                        未选中
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-4 m-b-xs">
                        <div class="input-group">
                            <div class="input-group-btn">
                                <button class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown">
                                    <span class="dropdown-label">优惠券名称</span>
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu dropdown-select">
                                    <li class="active">
                                        <a href="#">
                                            <input type="radio" value="1" name="searchBy" checked="checked">优惠券名称
                                        </a>
                                    </li>
                                    <!--<li><a href="#">
                                        <input type="radio" value="0" name="searchBy" checked="checked">订单编号</a>
                                    </li>-->
                                </ul>
                            </div>
                            <input type="text" class="input-sm form-control" name="keyword" data-rule-required="true">
                            <span class="input-group-btn">
                                <button class="btn btn-sm btn-default" type="submit" title="搜索">
                                    <i class="fa fa-search"></i>
                                </button>

                            </span>
                        </div>
                    </div>
                </div>
                <input type="hidden" name="pageNumber" id="pageNumber" value="1" />
                <input type="hidden" name="orderBy" id="orderBy" value="desc"/>
                <input type="hidden" name="order" id="order" value="depart" />
            </form>

        </header>

        <section class="scrollable wrapper w-f">
            <section class="panel panel-default ">
                <div class="table-responsive">
                   <table class="table table-striped m-b-none">
                        <thead>
                            <tr>
                                <th>优惠券名称</th>
                                <th>类型</th>
                                <th>商家店铺名</th>
                                <th>创建时间</th>
                                <th>有效期</th> 
                                <th>待投放数量</th>
                                <th>投放优先级</th>  
                                <th>状态</th> 
                                <th class="col-sm-1 mn70">操作</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>九折券</td>
                                <td>折扣券</td> 
                                <td>新秀丽旗舰店</td>
                                <td>2015.08.06 11：22</td>
                                <td>2015.08.06-2015.08.13</td>
                                <td>2323</td> 
                                <td>1</td> 
                                <td>已选中</td>
                                <td>
                                    <a href="javascript:;" data-trigger="batch" data-confirm="true" data-remote="/api/form/savePost" data-toggle="ajaxPost" data-msg="是否移出选中区?" title="移出选中区" class="m-r-xs">
                                        <i class="fa fa-trash-o text-muted"></i>
                                    </a>
                                    <!--<a href="javascript:;" data-trigger="batch" data-confirm="true" data-remote="/api/form/savePost" data-toggle="ajaxPost" data-msg="是否加入选中区?" title="加入选中区" class="m-r-xs">
                                        <i class="fa fa-plus text-muted"></i>
                                    </a>-->
                                    <a href="javascript:;" data-remote="async/priority_ed.html?id=1" data-toggle="ajaxModal" class="m-r-xs" title="修改优先级">
                                        <i class="fa fa-edit text-muted"></i>
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td>满100减50</td>
                                <td>代金券</td> 
                                <td>新秀丽旗舰店</td>
                                <td>2015.08.06 11：22</td>
                                <td>2015.08.06-2015.08.13</td>
                                <td>2323</td>
                                <td>2</td> 
                                <td>已选中</td>
                                <td>
                                    <a href="javascript:;" data-trigger="batch" data-confirm="true" data-remote="/api/form/savePost" data-toggle="ajaxPost" data-msg="是否移出选中区?" title="移出选中区" class="m-r-xs">
                                        <i class="fa fa-trash-o text-muted"></i>
                                    </a>
                                    <!--<a href="javascript:;" data-trigger="batch" data-confirm="true" data-remote="/api/form/savePost" data-toggle="ajaxPost" data-msg="是否加入选中区?" title="加入选中区" class="m-r-xs">
                                        <i class="fa fa-plus text-muted"></i>
                                    </a>-->
                                    <a href="javascript:;" data-remote="async/priority_ed.html?id=2" data-toggle="ajaxModal" class="m-r-xs" title="修改优先级">
                                        <i class="fa fa-edit text-muted"></i>
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td>礼品券</td>
                                <td>礼品券</td> 
                                <td>新秀丽旗舰店</td>
                                <td>2015.08.06 11：22</td>
                                <td>2015.08.06-2015.08.13</td>
                                <td>2323</td>
                                <td>3</td> 
                                <td>已选中</td>
                                <td>
                                    <a href="javascript:;" data-trigger="batch" data-confirm="true" data-remote="/api/form/savePost" data-toggle="ajaxPost" data-msg="是否移出选中区?" title="移出选中区" class="m-r-xs">
                                        <i class="fa fa-trash-o text-muted"></i>
                                    </a>
                                    <!--<a href="javascript:;" data-trigger="batch" data-confirm="true" data-remote="/api/form/savePost" data-toggle="ajaxPost" data-msg="是否加入选中区?" title="加入选中区" class="m-r-xs">
                                        <i class="fa fa-plus text-muted"></i>
                                    </a>-->
                                    <a href="javascript:;" data-remote="async/priority_ed.html?id=3" data-toggle="ajaxModal" class="m-r-xs" title="修改优先级">
                                        <i class="fa fa-edit text-muted"></i>
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td>优惠券</td>
                                <td>优惠券</td> 
                                <td>新秀丽旗舰店</td>
                                <td>2015.08.06 11：22</td>
                                <td>2015.08.06-2015.08.13</td>
                                <td>2323</td>
                                <td>4</td> 
                                <td>未选中</td>
                                <td>
                                    <!--<a href="javascript:;" data-trigger="batch" data-confirm="true" data-remote="/api/form/savePost" data-toggle="ajaxPost" data-msg="是否移出选中区?" title="移出选中区" class="m-r-xs">
                                        <i class="fa fa-trash-o text-muted"></i>
                                    </a>-->
                                    <a href="javascript:;" data-trigger="batch" data-confirm="true" data-remote="/api/form/savePost" data-toggle="ajaxPost" data-msg="是否加入选中区?" title="加入选中区" class="m-r-xs">
                                        <i class="fa fa-plus text-muted"></i>
                                    </a>
                                    <a href="javascript:;" data-remote="async/priority_ed.html?id=4" data-toggle="ajaxModal" class="m-r-xs" title="修改优先级">
                                        <i class="fa fa-edit text-muted"></i>
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td>优惠券</td>
                                <td>优惠券</td> 
                                <td>新秀丽旗舰店</td>
                                <td>2015.08.06 11：22</td>
                                <td>2015.08.06-2015.08.13</td>
                                <td>2323</td>
                                <td>5</td> 
                                <td>未选中</td>
                                <td>
                                    <!--<a href="javascript:;" data-trigger="batch" data-confirm="true" data-remote="/api/form/savePost" data-toggle="ajaxPost" data-msg="是否移出选中区?" title="移出选中区" class="m-r-xs">
                                        <i class="fa fa-trash-o text-muted"></i>
                                    </a>-->
                                    <a href="javascript:;" data-trigger="batch" data-confirm="true" data-remote="/api/form/savePost" data-toggle="ajaxPost" data-msg="是否加入选中区?" title="加入选中区" class="m-r-xs">
                                        <i class="fa fa-plus text-muted"></i>
                                    </a>
                                    <a href="javascript:;" data-remote="async/priority_ed.html?id=5" data-toggle="ajaxModal" class="m-r-xs" title="修改优先级">
                                        <i class="fa fa-edit text-muted"></i>
                                    </a>
                                </td>
                            </tr>
                            <!--  <tr>
                                        <td  colspan="6" class="nodata">暂无数据</td>
                                    </tr>-->
                        </tbody>
                    </table>
                </div>
            </section>
        </section>
        <footer class="footer bg-white b-t">
            <div class="row text-center-xs">
                <div class="col-md-6 hidden-sm">
                    <p class="text-muted m-t">总共321条 当前为第1页</p>
                </div>
                <div class="col-md-6 col-sm-12 text-right text-center-xs">
                    <ul class="pagination pagination-sm m-t-sm m-b-none" data-pages-total="20" data-page-current="1"></ul>
                </div>
            </div>
        </footer>

    </section>

    <script src="/assets/javascripts/sea-modules/seajs/seajs/2.2.0/sea.js?v=1201405081146"></script>
    <script src="/assets/javascripts/seajs_config.js?v=1201405081146"></script>
    <script type="text/javascript">seajs.use(["dist/application/app.js"])</script>

</body>

</html>