

<!DOCTYPE html>
<html lang="cn" class="app fadeInUp animated">

<head>
    <meta charset="utf-8" />
    <title>广告位管理</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <link href="/assets/stylesheets/bootstrap.min.css" rel="stylesheet" />
    <link href="/assets/stylesheets/animate.min.css" rel="stylesheet" />
    <link href="/assets/stylesheets/font-awesome.min.css" rel="stylesheet" />
    <link href="/assets/stylesheets/style.min.css" rel="stylesheet" />
    <link href="/assets/stylesheets/plugins/uploadify/uploadify.min.css" rel="stylesheet" />
    <!--[if lt IE 9]>
    <script src="/assets/javascripts/ie8/inie8.min.js"></script>
    <![endif]-->
    <script type="text/javascript">
        var _speedMark = new Date(),
            www_version = 1201405081146;
    </script>
    <style>
        .left{    margin: 10px 0 0 21%;}
        .form-group .area{    width: 480px;height: 90px;}
    </style>
</head>

<body>

    <section class="vbox">
        <header class="header bg-white b-b b-light">
            <p>首页弹窗管理</p>
        </header>
        <section class="scrollable  wrapper">

            <section class="panel panel-default">
                <div class="panel-body">

                    <form class="form-horizontal form-validate" method="post" action="/api/form/ajaxform">
                        <div class="form-group">
                            <label class="col-sm-2 control-label must">展示时间：</label>
                            <div class="col-sm-4">
                                <div class="input-group">
                                    <input type="text" class="form-control" name="time" value="" data-rule-required="true" data-position="top-right" data-toggle="daterangepicker" readonly>
                                    <span class="input-group-addon"> <i class="fa fa-calendar"></i>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="line line-dashed line-lg pull-in"></div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label must">左上角图标：</label>
                            <div class="col-sm-10">
                                <input class="hide" type="text" name="logo" value="" data-rule-required="true">
                                <button class="btn btn-default" type="button" data-toggle="selectimg">上传图片</button>
                                <span class="text-muted m-l-sm">建议尺寸180*180</span>
                            </div>
                        </div>
                        <div class="line line-dashed line-lg pull-in"></div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label must">选择跳转页：</label>
                            <div class="col-sm-10">
                                <div class="input-group">
                                    <div class="col-sm-12">
                                        <label class="radio-inline">
                                            <input class="js_select_url_type" type="radio" name="msss0" value="0">商品
                                        </label>
                                        <label class="radio-inline clearfix">
                                            <span class="pull-left m-r-xs" style="margin-top:7px">商品ID</span><input type="text" name="wpms_0" style="width:170px" data-rule-required="true" data-rule-number="true" class="form-control pull-left" disabled="disabled">
                                        </label>
                                    </div>
                                </div>
                                <div class="input-group">
                                    <div class="col-sm-12">
                                        <label class="radio-inline">
                                            <input class="js_select_url_type" type="radio" name="msss0" value="1">店铺
                                        </label>
                                        <label class="radio-inline clearfix">
                                            <span class="pull-left m-r-xs" style="margin-top:7px">店铺ID</span>
                                            <input type="text" name="wpms_1" data-rule-number="true" class="form-control pull-left" style="width:170px" data-rule-required="true" disabled="disabled">
                                        </label>
                                    </div>
                                </div>
                                <div class="input-group">
                                     <div class="col-sm-12">
                                        <label class="radio-inline">
                                            <input class="js_select_url_type" type="radio" name="msss0" value="2">链接
                                        </label>
                                        <label class="radio-inline clearfix">
                                            <input type="text" name="wpms_2" data-rule-urls="true" class="form-control pull-left" style="width:360px" data-rule-required="true" disabled="disabled">
                                        </label>
                                    </div>
                                </div>
                                <div class="input-group" style="width: 550px;">
                                    <label class="radio-inline" style="width:  550px;">
                                        <div class="col-sm-2">
                                            <input class="js_select_url_type " type="radio" name="msss0" value="3" checked="checked">专题</div>
                                        <div class="col-sm-3" style="margin-left:-27px;width: 180px;">
                                            <select class="form-control js_subject_type_select" name="type1" data-id="1,3" style="width: 160px;" data-rule-required="true" data-path="/plus/deliveryLocation_type.php" >
                                                <option value="">请选择专题类型</option>
                                                <option value="1" selected="">单品牌</option>
                                                <option value="2">综合</option>
                                                <option value="3">全民疯抢</option>
                                            </select>
                                        </div>
                                        <div class="col-sm-3" style="width: 180px;" >
                                           <select class="form-control hide js_subjects_show" name="type" style="width: 180px;" disabled="disabled" data-selected="2" data-rule-required="true" data-holder="请选择专题">
                                           </select>
                                        </div>
                                    </label>
                                </div>
                            </div>
                        </div>

                        <div class="line line-dashed line-lg pull-in"></div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label must">弹窗内容：</label>
                            <div class="col-sm-10">
                                <input class="hide" type="text" name="logo1" value="" data-rule-required="true">
                                <button class="btn btn-default" type="button" data-toggle="selectimg">上传图片</button>
                                <span class="text-muted m-l-sm">建议尺寸180*（960+150）</span>
                            </div>
                        </div>
                        <div class="line line-dashed line-lg pull-in"></div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label must">选择跳转页：</label>
                            <div class="col-sm-10">
                                <div class="input-group">
                                    <div class="col-sm-12">
                                        <label class="radio-inline">
                                            <input class="js_select_url_type" type="radio" name="msss1" value="0">商品
                                        </label>
                                        <label class="radio-inline clearfix">
                                            <span class="pull-left m-r-xs" style="margin-top:7px">商品ID</span><input type="text" data-rule-required="true" name="wpms_2" style="width:170px" data-rule-number="true" class="form-control pull-left" disabled="disabled">
                                        </label>
                                    </div>
                                </div>
                                <div class="input-group">
                                    <div class="col-sm-12">
                                        <label class="radio-inline">
                                            <input class="js_select_url_type" type="radio" name="msss1" value="1">店铺
                                        </label>
                                        <label class="radio-inline clearfix">
                                            <span class="pull-left m-r-xs" style="margin-top:7px">店铺ID</span>
                                            <input type="text" name="wpms_2" data-rule-number="true" class="form-control pull-left" data-rule-required="true" style="width:170px" disabled="disabled">
                                        </label>
                                    </div>
                                </div>
                                <div class="input-group">
                                     <div class="col-sm-12">
                                        <label class="radio-inline">
                                            <input class="js_select_url_type" type="radio" name="msss1" value="2">链接
                                        </label>
                                        <label class="radio-inline clearfix">
                                            <input type="text" name="wpms_2" data-rule-urls="true" class="form-control pull-left" style="width:360px" data-rule-required="true" disabled="disabled">
                                        </label>
                                    </div>
                                </div>
                                <div class="input-group" style="width: 550px;">
                                    <label class="radio-inline" style="width:  550px;">
                                        <div class="col-sm-2">
                                            <input class="js_select_url_type " type="radio" name="msss1" value="3" checked="checked">专题</div>
                                        <div class="col-sm-3" style="margin-left:-27px;width: 180px;">
                                            <select class="form-control js_subject_type_select" name="type3" data-id="1,3" style="width: 160px;" data-rule-required="true" data-path="/plus/deliveryLocation_type.php" >
                                                <option value="">请选择专题类型</option>
                                                <option value="1" selected="">单品牌</option>
                                                <option value="2">综合</option>
                                                <option value="3">全民疯抢</option>
                                            </select>
                                        </div>
                                        <div class="col-sm-3" style="width: 180px;" >
                                           <select class="form-control hide js_subjects_show" name="type4" style="width: 180px;" disabled="disabled" data-selected="2" data-rule-required="true" data-holder="请选择专题">
                                           </select>
                                        </div>
                                    </label>
                                </div>
                            </div>
                        </div>
                        

                        <div class="form-group">
                            <div class="col-sm-4 col-sm-offset-2">
                                <button type="submit" id="sub_btn" class="btn btn-primary" data-loading-text="保存中...">保存</button>
                                <button type="button" class="btn btn-default" data-toggle="back">取消</button>
                            </div>
                        </div>
                    </form>
                </div>
            </section>
        </section>
    </section>
    <script type="text/html" id="delivery_city_tem">
        {{each data as item}}
            <option value="{{item.id}}" {{if item.id==selected}}selected="selected"{{/if}}>{{item.name}}</option>
        {{/each}}
    </script>

    <script src="/assets/javascripts/sea-modules/seajs/seajs/2.2.0/sea.js"></script>
    <script src="/assets/javascripts/seajs_config.js"></script>
    <script type="text/javascript">
        seajs.use(["dist/application/app.js","dist/share/init.js"]);
    </script>

</body>

</html>