


<!DOCTYPE html>
<html lang="cn" class="app fadeInUp animated">

<head>
    <meta charset="utf-8" />
    <title>微商城</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <link href="/assets/stylesheets/bootstrap.min.css" rel="stylesheet" />
    <link href="/assets/stylesheets/animate.min.css" rel="stylesheet" />
    <link href="/assets/stylesheets/font-awesome.min.css" rel="stylesheet" />
    <link href="/assets/stylesheets/style.min.css" rel="stylesheet" />
    <link href="/assets/stylesheets/plugins/daterangepicker/daterangepicker-bs3.min.css" rel="stylesheet" />

    <!--[if lt IE 9]>
    <script src="/assets/javascripts/ie8/inie8.min.js"></script>
    <![endif]-->
    <script type="text/javascript">
    var _speedMark = new Date(),
        www_version = 1201405081146;
    </script>
    <style>
        .form-modal .input-group-addon{padding: 2px;background: none;border:0;}
    </style>
</head>

<body>

    <section class="vbox">

        <header class="header bg-white b-b clearfix">
            <form class="talbe-search form-inline" method="post" action="/api/Page/list">
                <div class="row m-t-sm">
                    <div class="col-sm-8 m-b-xs">
                        <div class="btn-group">
                            <button type="button" data-toggle="refresh" class="btn btn-sm btn-default" title="刷新"> <i class="fa fa-refresh"></i>
                            </button>
                        </div>
                        
                        <div class="btn-group">
                            <a data-toggle="dropdown" class="btn btn-sm btn-default dropdown-toggle">
                                <span class="dropdown-label">全部</span>
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu dropdown-select dropdown-select-50" data-change="submit">
                                <li class="active">
                                    <a href="javascript:;">
                                        <input type="radio" name="status" checked="" value="1" />
                                        全部
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:;">
                                        <input type="radio" name="status" value="2" />
                                        已开启
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:;">
                                        <input type="radio" name="status" value="3" />
                                        未开启
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="btn-group">
                            <a data-toggle="dropdown" class="btn btn-sm btn-default dropdown-toggle">
                                <span class="dropdown-label">全部</span>
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu dropdown-select dropdown-select-50" data-change="submit">
                                <li class="active">
                                    <a href="javascript:;">
                                        <input type="radio" name="templateType" checked="" value="1" />
                                        全部
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:;">
                                        <input type="radio" name="templateType" value="2" />
                                        秒杀模板
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:;">
                                        <input type="radio" name="templateType" value="3" />
                                        普通模板
                                    </a>
                                </li>
                            </ul>
                        </div>

                        <a href="choose_template.html" class="btn btn-sm btn-default">
                            <i class="fa fa-plus m-r-xs"></i>
                            添加专题
                        </a>
                    </div>

                    <div class="col-sm-4 m-b-xs">
                        <div class="input-group">
                            <input type="text" class="input-sm form-control" name="keyword" placeholder="专题名称"  />
                            <span class="input-group-btn">
                                <button class="btn btn-sm btn-default" type="submit" title="搜索">
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
                        </div>
                    </div>
                </div>
                <input type="hidden" name="pageNumber" id="pageNumber" value="1" />
                <input type="hidden" name="orderBy" id="orderBy" value="desc" />
                <input type="hidden" name="order" id="order" value="Name" />
            </form>
        </header>
        <section class="scrollable wrapper w-f">
            <section class="panel panel-default ">
                <div class="table-responsive">
                    <table class="table table-striped m-b-none">
                        <thead>
                            <tr>
                                <th>专题ID</th>
                                <th>专题名称</th>
                                <th>模板类型</th>
                                <th>报名截止</th>
                                <th>生效时间</th>
                                <th>开启/关闭</th>
                                <th class="col-sm-1 mn140">操作</th>
                            </tr>
                        </thead>
                        <tbody>

                            <tr>
                                <td>01</td>
                                <td>双11促销</td>
                                <td>普通模板</td>
                                <td>2015.09.30</td>
                                <td>2014-08-12 15:54:00</td>
                                <td>
                                    <a href="#" data-remote="/api/Form/ajaxShelves/1" class="active" data-toggle="ajaxSwitch"><i class="fa fa-check text-success text-active"></i><i class="fa fa-times text-danger text"></i></a>
                                </td>
                                <td>
                                    <a href="subject_ed.html" class="m-xs" title="编辑">
                                        <i class="fa fa-edit text-muted"></i>
                                    </a>
                                    <a href="/api/Form/ajaxRemove/1" data-toggle="ajaxRemove" data-msg="确定删除 此专题？" class="m-xs" title="删除">
                                        <i class="fa fa-trash-o text-muted"></i>
                                    </a>
                                    <a class="m-xs" href="async/preview.html" data-toggle="ajaxModal" title="预览"><i class="fa fa-search-plus text-muted"></i></a>
                                    <span class="js_copy_text copy_text" title="复制专题url" data-icon="true">
                                        <span class="hd">http://www.weimob.com</span>
                                    </span>
                                </td>
                            </tr>
                            <tr>
                                <td>02</td>
                                <td>双11促销</td>
                                <td>普通模板</td>
                                <td>2015.09.30</td>
                                <td>2014-08-12 15:54:00</td>
                                <td>
                                    <a href="#" data-remote="/api/Form/ajaxShelves/1" data-toggle="ajaxSwitch"><i class="fa fa-check text-success text-active"></i><i class="fa fa-times text-danger text"></i></a>

                                </td>
                                <td>
                                    <a href="subject_ed.html" class="m-xs" title="编辑">
                                        <i class="fa fa-edit text-muted"></i>
                                    </a>
                                    <a href="/api/Form/ajaxRemove/1" data-toggle="ajaxRemove" data-msg="确定删除 此专题？" class="m-xs" title="删除">
                                        <i class="fa fa-trash-o text-muted"></i>
                                    </a>
                                    <a class="m-xs" href="async/preview.html" data-toggle="ajaxModal" title="预览"><i class="fa fa-search-plus text-muted"></i></a>
                                    <span class="js_copy_text copy_text" title="复制专题url" data-icon="true">
                                        <span class="hd">http://www.weimob.com</span>
                                    </span>
                                </td>
                            </tr>
                            <tr>
                                <td>03</td>
                                <td>双11促销</td>
                                <td>文章模板</td>
                                <td>2015.09.30</td>
                                <td>2014-08-12 15:54:00</td>
                                <td>
                                    <a href="#" data-remote="/api/Form/ajaxShelves/1" data-toggle="ajaxSwitch"><i class="fa fa-check text-success text-active"></i><i class="fa fa-times text-danger text"></i></a>

                                </td>
                                <td>
                                    <a href="subject_ed3.html" class="m-xs" title="编辑">
                                        <i class="fa fa-edit text-muted"></i>
                                    </a>
                                    <a href="/api/Form/ajaxRemove/1" data-toggle="ajaxRemove" data-msg="确定删除 此专题？" class="m-xs" title="删除">
                                        <i class="fa fa-trash-o text-muted"></i>
                                    </a>
                                    <a class="m-xs" href="async/preview.html" data-toggle="ajaxModal" title="预览"><i class="fa fa-search-plus text-muted"></i></a>
                                    <span class="js_copy_text copy_text" title="复制专题url" data-icon="true">
                                        <span class="hd">http://www.weimob.com</span>
                                    </span>
                                </td>
                            </tr>
                            <tr>
                                <td>04</td>
                                <td>双11促销</td>
                                <td>单品牌模板</td>
                                <td>2015.09.30</td>
                                <td>2014-08-12 15:54:00</td>
                                <td>
                                    <a href="#" data-remote="/api/Form/ajaxShelves/1" data-toggle="ajaxSwitch"><i class="fa fa-check text-success text-active"></i><i class="fa fa-times text-danger text"></i></a>

                                </td>
                                <td>
                                    <a href="subject_ed4.html" class="m-xs" title="编辑">
                                        <i class="fa fa-edit text-muted"></i>
                                    </a>
                                    <a href="/api/Form/ajaxRemove/1" data-toggle="ajaxRemove" data-msg="确定删除 此专题？" class="m-xs" title="删除">
                                        <i class="fa fa-trash-o text-muted"></i>
                                    </a>
                                    <a class="m-xs" href="async/preview.html" data-toggle="ajaxModal" title="预览"><i class="fa fa-search-plus text-muted"></i></a>
                                    <span class="js_copy_text copy_text" title="复制专题url" data-icon="true">
                                        <span class="hd">http://www.weimob.com</span>
                                    </span>
                                </td>
                            </tr>
                            <tr>
                                <td>05</td>
                                <td>双11促销</td>
                                <td>秒杀模板</td>
                                <td>2015.09.30</td>
                                <td>2014-08-12 15:54:00</td>
                                <td>
                                    <a href="#" data-remote="/api/Form/ajaxShelves/1" data-toggle="ajaxSwitch"><i class="fa fa-check text-success text-active"></i><i class="fa fa-times text-danger text"></i></a>

                                </td>
                                <td>
                                    <a href="subject_ed5.html" class="m-xs" title="编辑">
                                        <i class="fa fa-edit text-muted"></i>
                                    </a>
                                    <a href="/api/Form/ajaxRemove/1" data-toggle="ajaxRemove" data-msg="确定删除 此专题？" class="m-xs" title="删除">
                                        <i class="fa fa-trash-o text-muted"></i>
                                    </a>
                                    <a class="m-xs" href="async/preview.html" data-toggle="ajaxModal" title="预览"><i class="fa fa-search-plus text-muted"></i></a>
                                    <span class="js_copy_text copy_text" title="复制专题url" data-icon="true">
                                        <span class="hd">http://www.weimob.com</span>
                                    </span>
                                </td>
                            </tr>
                            <tr>
                                <td>06</td>
                                <td>双11促销</td>
                                <td>1元购</td>
                                <td>2015.09.30</td>
                                <td>2014-08-12 15:54:00</td>
                                <td>
                                    <a href="#" data-remote="/api/Form/ajaxShelves/1" data-toggle="ajaxSwitch"><i class="fa fa-check text-success text-active"></i><i class="fa fa-times text-danger text"></i></a>

                                </td>
                                <td>
                                    <a href="subject_ed7.html" class="m-xs" title="编辑">
                                        <i class="fa fa-edit text-muted"></i>
                                    </a>
                                    <a href="/api/Form/ajaxRemove/1" data-toggle="ajaxRemove" data-msg="确定删除 此专题？" class="m-xs" title="删除">
                                        <i class="fa fa-trash-o text-muted"></i>
                                    </a>
                                    <a class="m-xs" href="async/preview.html" data-toggle="ajaxModal" title="预览"><i class="fa fa-search-plus text-muted"></i></a>
                                    <span class="js_copy_text copy_text" title="复制专题url" data-icon="true">
                                        <span class="hd">http://www.weimob.com</span>
                                    </span>
                                </td>
                            </tr>
                            <tr>
                                <td>07</td>
                                <td>双11促销</td>
                                <td>综合模板</td>
                                <td>2015.09.30</td>
                                <td>2014-08-12 15:54:00</td>
                                <td>
                                    <a href="#" data-remote="/api/Form/ajaxShelves/1" data-toggle="ajaxSwitch"><i class="fa fa-check text-success text-active"></i><i class="fa fa-times text-danger text"></i></a>

                                </td>
                                <td>
                                    <a href="subject_ed6.html" class="m-xs" title="编辑">
                                        <i class="fa fa-edit text-muted"></i>
                                    </a>
                                    <a href="/api/Form/ajaxRemove/1" data-toggle="ajaxRemove" data-msg="确定删除 此专题？" class="m-xs" title="删除">
                                        <i class="fa fa-trash-o text-muted"></i>
                                    </a>
                                    <a class="m-xs" href="async/preview.html" data-toggle="ajaxModal" title="预览"><i class="fa fa-search-plus text-muted"></i></a>
                                    <span class="js_copy_text copy_text" title="复制专题url" data-icon="true">
                                        <span class="hd">http://www.weimob.com</span>
                                    </span>
                                </td>
                            </tr>
                            <!-- 
                                     <tr>
                            <td  colspan="5" class="nodata">暂无数据</td>
                        </tr>
                        -->
                    </tbody>
                </table>
            </div>
        </section>
    </section>
    <footer class="footer bg-white b-t">
        <div class="row text-center-xs">
            <div class="col-md-6 hidden-sm">
                <p class="text-muted m-t">总共321条 当前为第1页</p>
            </div>
            <div class="col-md-6 col-sm-12 text-right text-center-xs">
                <ul class="pagination pagination-sm m-t-sm m-b-none" data-pages-total="20" data-page-current="1"></ul>
            </div>
        </div>
    </footer>

</section>

<script src="/assets/javascripts/sea-modules/seajs/seajs/2.2.0/sea.js?v=1201405081146"></script>
<script src="/assets/javascripts/seajs_config.js?v=1201405081146"></script>
<script type="text/javascript">seajs.use("dist/application/app.js")</script>

</body>

</html>