<!DOCTYPE html>
<html lang="cn" class="app fadeInUp animated">
<head>
    <meta charset="utf-8" />
    <title>广告位管理</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <link href="/assets/stylesheets/bootstrap.min.css" rel="stylesheet" />
    <link href="/assets/stylesheets/animate.min.css" rel="stylesheet" />
    <link href="/assets/stylesheets/font-awesome.min.css" rel="stylesheet" />
    <link href="/assets/stylesheets/style.min.css" rel="stylesheet" />
    <link href="/assets/stylesheets/page/subject_pic.css" rel="stylesheet" />
    <!--[if lt IE 9]><script src="/assets/javascripts/ie8/inie8.min.js"></script><![endif]-->
    <script type="text/javascript">
        var _speedMark = new Date(),
            www_version = 1201405081146;
    </script>
</head>
<body>
    <section class="vbox">
        <header class="header bg-white b-b b-light">
            <p><i class="fa fa-edit text-muted m-r-xs"></i>添加专题</p>
            <a class="text-muted pull-right m-t pointer" data-toggle="back" title="返回"><i class="fa fa-reply"></i></a>
        </header>
        <section class="scrollable  wrapper">
           
            <section class="panel panel-default">
                <div class="panel-body">
                    <form class="form-horizontal form-validate" method="post" action="/api/form/ajaxform">
                        <div class="form-group">
                            <label class="col-sm-2 control-label must">专题标题</label>
                            <div class="col-sm-3"> 
                                <input type="text" name="subject_title" class="form-control" value="" data-rule-required="true">
                            </div>
                        </div>
                        <div class="line line-dashed line-lg pull-in"></div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label must">优惠信息</label>
                            <div class="col-sm-3"> 
                                <input type="text" name="description" class="form-control" value="" data-rule-required="true">
                            </div>
                        </div>
                        <div class="line line-dashed line-lg pull-in"></div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label must">分享标题</label>
                            <div class="col-sm-3"> 
                                <input type="text" name="share_title" class="form-control" value="" data-rule-required="true" data-rule-maxlength="36">
                            </div>
                            <div class="col-sm-3">
                                <p class="form-control-static text-muted">36字以内</p>
                            </div>
                        </div>
                        <div class="line line-dashed line-lg pull-in"></div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label must">分享副标题</label>
                            <div class="col-sm-3"> 
                                <input type="text" name="share_subtitle" class="form-control" value="" data-rule-required="true" data-rule-maxlength="52">
                            </div>
                            <div class="col-sm-3">
                                <p class="form-control-static text-muted">52字以内</p>
                            </div>
                        </div>
                        <div class="line line-dashed line-lg pull-in"></div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label must">分享图片</label>
                            <div class="col-sm-10 small-img">
                            <!--<img class="thumb_img" src="http://stc.weimob.com/img/template/lib/home-150150.jpg" style="max-height: 100px;" />-->
                                <input class="hide" type="text" name="share_pic" value="" />
                                <button class="btn btn-default" type="button" data-toggle="selectimg">上传图片</button>
                                <span class="help-inlne">单张图片容量不超过1MB，建议尺寸180×180</span>
                            </div>
                        </div>
                        <div class="line line-dashed line-lg pull-in"></div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label must">专题图片</label>
                            <div class="col-sm-10 small-img">
                            <!--<img class="thumb_img" src="http://stc.weimob.com/img/template/lib/home-150150.jpg" style="max-height: 100px;" />-->
                                <input class="hide" type="text" id="special_pic" name="logo2" value="" />
                                <button class="btn btn-default" type="button" data-toggle="selectimg">上传图片</button>
                                <span class="help-inlne">单张图片容量不超过1MB</span>
                            </div>
                        </div>
                        <div class="line line-dashed line-lg pull-in"></div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label must">专题导语</label>
                            <div class="col-sm-3"> 
                                <textarea rows="4" class="form-control" name="describle" data-rule-required="true" data-rule-maxlength="150"></textarea>   
                            </div>
                            <div class="col-sm-3">
                                <p class="form-control-static text-muted">150字以内</p>
                            </div>
                        </div>
                        <div class="line line-dashed line-lg pull-in"></div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">主题信息</label>
                            <div class="col-sm-10">
                                <a href="javascript:;" class="btn btn-sm btn-default m-r js_add_text_subject" data-max="8"><i class="fa fa-plus m-r-xs"></i>文本组件</a>
                                <a href="javascript:;" class="btn btn-sm btn-default m-r js_picture_subject_tag" data-max="8"><i class="fa fa-plus m-r-xs"></i>图片组件（可贴标签）</a>
                                <a href="javascript:;" class="btn btn-sm btn-default m-r js_add_goods_subject" data-max="8"><i class="fa fa-plus m-r-xs"></i>商品组件（可编辑）</a>
                                <a href="javascript:;" class="btn btn-sm btn-default m-r js_add_special_subject" data-max="8"><i class="fa fa-plus m-r-xs"></i>专场组件</a>
                                <input type="hidden" value="1" id="isRequired">
                            </div>
                        </div>

                        <div id="parent_list" style="max-width:66%;margin:auto;">
                        </div>  

                        <div class="form-group">
                            <div class="col-sm-4 col-sm-offset-2">
                                <button type="submit" id="sub_btn" class="btn btn-primary" data-loading-text="保存中...">保存</button>
                                <button type="button" class="btn btn-default" data-toggle="back">取消</button>
                            </div>
                        </div>
                    </form>
                </div>
            </section>
        </section>
    </section>

    <div class="modal fade in js_goods_modal" id="js_goods_modal" tabindex="-1" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
               <form class="form-horizontal form-modal" method="" action="">
                  <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                      <h4 class="modal-title">选择商品</h4>
                  </div>
                  <div class="modal-body">
                        <div class="form-group">
                            <div class="col-sm-12">
                                <ul id="myTab" class="nav nav-tabs">
                                    <input class="js_toggle_type" type="hidden" name="send_type" value="1" />
                                    <li class="active">
                                        <a href="#single" data-toggle="tab" data-type="1">单个上传</a>
                                    </li>
                                    <li>
                                        <a href="#multiple" data-toggle="tab" data-type="2">批量导入</a>
                                    </li>
                                    <li>
                                        <a href="#selectGoods" data-toggle="tab" data-type="3">选择活动商品</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="form-group m-b-n-md">
                            <div class="col-sm-12">
                                <div id="myTabContent" class="tab-content">
                                   <div class="tab-pane fade in active" id="single">
                                        <label class="col-sm-2 control-label">商品ID</label>
                                        <div class="col-sm-6">
                                            <input type="text" name="shop_id" id="shop_id" class="form-control" value="">
                                        </div>
                                   </div>
                                   <div class="tab-pane fade" id="multiple">
                                        <label class="col-sm-2 control-label">上传文件</label>
                                        <div class="col-sm-7">
                                            <div id="file_id" class="fileinput fileinput-new" data-provides="fileinput">
                                                <div class="input-group">
                                                    <div class="form-control" data-trigger="fileinput">
                                                        <i class="glyphicon glyphicon-file fileinput-exists"></i>
                                                        <span class="fileinput-filename"></span>
                                                    </div>
                                                    <span class="input-group-addon btn btn-default btn-file">
                                                        <span class="fileinput-new">选择文件</span>
                                                        <span class="fileinput-exists">更改</span>
                                                        <input type="file" name="files" />
                                                    </span>
                                                    <a href="#" class="input-group-addon btn btn-default fileinput-exists" data-dismiss="fileinput">移除</a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-12 m-t-sm">
                                            <p><strong>导入文件格式为.csv,数据结构示例如下：</strong></p>
                                            <table class="table table-bordered">
                                                <tr>
                                                    <td>商品ID(必填)</td>
                                                </tr>
                                                <tr>
                                                    <td>100002_23232</td>
                                                </tr>
                                            </table>
                                        </div>
                                   </div>
                                   <div class="tab-pane fade" id="selectGoods">
                                        <label class="col-sm-2 control-label">选择活动</label>
                                        <div class="col-sm-10">
                                            <select name="selectActivity" class="form-control change_goods">
                                                <!--<option value="">--请选择活动--</option>
                                                <option value="1">999秒杀</option>
                                                <option value="2">99秒杀</option>
                                                <option value="3">9秒杀</option>-->
                                            </select>
                                        </div>
                                       <div class="col-sm-12" style="margin-top: 15px;">
                                           <div class="col-sm-3" style="margin-left: 124px;">
                                               <select name="selectActivity" class="form-control change_shop1">
                                                   <option value="">--全部店铺类型--</option>
                                                   <option value="1">一级类目</option>
                                                   <option value="2">商品名称</option>
                                               </select>
                                           </div>
                                           <div class="col-sm-3">
                                               <select name="selectActivity" class="form-control change_shop2">
                                                   <option value="">--一级类目--</option>
                                                   <option value="1">食品</option>
                                                   <option value="2">美妆</option>
                                                   <option value="3">母婴</option>
                                               </select>
                                           </div>
                                           <div class="col-sm-4 m-b-xs">
                                               <div class="input-group">
                                                   <div class="input-group-btn keyword_ss">
                                                       <button class="btn btn-default btn-sm dropdown-toggle " data-toggle="dropdown">
                                                           <span class="dropdown-label">商品名称</span>
                                                           <span class="caret"></span>
                                                       </button>
                                                       <ul class="dropdown-menu dropdown-select">
                                                           <li class="active">
                                                               <a href="#">
                                                                   <input type="radio" value="0" name="searchBy" checked="checked">商品名称
                                                               </a>
                                                           </li>
                                                           <li>
                                                               <a href="#">
                                                                   <input type="radio" value="1" name="searchBy">店铺名称
                                                               </a>
                                                           </li>
                                                       </ul>
                                                   </div>
                                                   <input type="text" class="input-sm form-control shoping_chosed" name="keyword">
                                                        <span class="input-group-btn">
                                                            <button class="btn btn-sm btn-default change_shop_chosed" type="button" title="搜索">
                                                                <i class="fa fa-search"></i>
                                                            </button>
                                                        </span>
                                               </div>
                                           </div>
                                       </div>
                                        <div class="col-sm-12 m-t">
                                            <table class="table table-striped table-bordered">
                                                <thead>
                                                    <tr>
                                                        <th class="col-sm-1">
                                                            <label class="checkbox-inline js_select_all" title="全选">
                                                                <input type="checkbox" name="goodsList" />
                                                            </label>
                                                        </th>
                                                        <th style="width: 250px;">商品名称</th>
                                                        <th style="width: 120px;">店铺类型</th>
                                                        <th style="width: 120px;">图片</th>
                                                        <th style="width: 120px;">市场价</th>
                                                        <th style="width: 120px;">活动价</th>
                                                        <th style="width: 120px;">库存</th>
                                                        <th style="width: 120px;">佣金比例</th>
                                                    </tr>
                                                </thead>
                                                <tbody> 
                                                </tbody>
                                            </table>
                                        </div>
                                   </div>
                                </div>
                            </div>
                        </div>
                  </div>
                  <div class="modal-footer">
                      <button type="button" id="saveData" class="btn btn-primary" data-size="0" data-dismiss="modal">确定</button>
                      <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                  </div>
                </form>
            </div>
        </div>
    </div>

    <div class="modal fade in js_material_modal" id="js_material_modal" tabindex="-1" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
               <form class="form-horizontal form-modal" method="" action="">
                  <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                      <h4 class="modal-title">选择素材</h4>
                  </div>
                  <div class="modal-body">
                      <div class="col-sm-6 m-b-xs" style="float: right;margin: 0px auto 15px;">
                          <div class="input-group">
                              <div class="input-group-btn open materials_word">
                                  <button class="btn btn-default btn-sm dropdown-toggle " data-toggle="dropdown">
                                      <span class="dropdown-label">素材名称</span>
                                      <span class="caret"></span>
                                  </button>
                                  <ul class="dropdown-menu dropdown-select">
                                      <li class="active">
                                          <a href="#">
                                              <input type="radio" value="0" name="searchBy" checked="checked">素材名称
                                          </a>
                                      </li>
                                      <li>
                                          <a href="#">
                                              <input type="radio" value="1" name="searchBy">素材编号
                                          </a>
                                      </li>
                                  </ul>
                              </div>
                              <input type="text" class="input-sm form-control materials_chosed" name="keyword">
                                                        <span class="input-group-btn">
                                                            <button class="btn btn-sm btn-default change_materials_chosed" type="button" title="搜索">
                                                                <i class="fa fa-search"></i>
                                                            </button>
                                                        </span>
                          </div>
                      </div>
                        <div class="form-group m-b-none">
                            <div class="col-sm-12">
                                <table class="table table-striped table-bordered">
                                    <thead>
                                        <tr>
                                            <th class="col-sm-1">
                                            </th>
                                            <th>素材编号</th>
                                            <th>素材名称</th>
                                            <th>素材类型</th>
                                            <th>素材图片</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                  </div>
                  <div class="modal-footer">
                      <button type="button" id="saveData" class="btn btn-primary" data-size="0" data-dismiss="modal">确定</button>
                      <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                  </div>
                </form>
            </div>
        </div>
    </div>

    <div class="modal fade in js_special_modal" id="js_special_modal" tabindex="-1" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
               <form class="form-horizontal form-modal" method="" action="">
                  <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                      <h4 class="modal-title">选择专场</h4>
                  </div>
                  <div class="modal-body">
                      <div class="col-sm-6 m-b-xs" style="float: right;margin: 0px auto 15px;">
                          <div class="input-group">
                              <div class="input-group-btn open materials_word">
                                  <button class="btn btn-default btn-sm dropdown-toggle " data-toggle="dropdown">
                                      <span class="dropdown-label">素材名称</span>
                                      <span class="caret"></span>
                                  </button>
                                  <ul class="dropdown-menu dropdown-select">
                                      <li class="active">
                                          <a href="#">
                                              <input type="radio" value="0" name="searchBy" checked="checked">素材名称
                                          </a>
                                      </li>
                                      <li>
                                          <a href="#">
                                              <input type="radio" value="1" name="searchBy">素材编号
                                          </a>
                                      </li>
                                  </ul>
                              </div>
                              <input type="text" class="input-sm form-control materials_chosed" name="keyword">
                                                        <span class="input-group-btn">
                                                            <button class="btn btn-sm btn-default change_materials_chosed" type="button" title="搜索">
                                                                <i class="fa fa-search"></i>
                                                            </button>
                                                        </span>
                          </div>
                      </div>
                        <div class="form-group m-b-none">
                            <div class="col-sm-12">
                                <table class="table table-striped table-bordered">
                                    <thead>
                                        <tr>
                                            <th class="col-sm-1">
                                                <label class="checkbox-inline js_select_all">
                                                    <input type="checkbox" name="goodsList" />
                                                </label>
                                            </th>
                                            <th>专场ID</th>
                                            <th>专场名称</th>
                                            <th>图片</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                  </div>
                  <div class="modal-footer">
                      <button type="button" id="saveData" class="btn btn-primary" data-size="0" data-dismiss="modal">确定</button>
                      <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                  </div>
                </form>
            </div>
        </div>
    </div>

    <!--<div class="modal fade in js_activity_modal" id="js_activity_modal" tabindex="-1" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
               <form class="form-horizontal form-modal" method="" action="">
                  <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                      <h4 class="modal-title">选择商品</h4>
                  </div>
                  <div class="modal-body">
                        <div class="form-group m-b-none">
                            <div class="col-sm-12">
                                <table class="table table-striped table-bordered">
                                    <thead>
                                        <tr>
                                            <th class="col-sm-1">
                                                <label class="checkbox-inline js_select_all" title="全选">
                                                    <input type="checkbox" name="goodsList" />
                                                </label>
                                            </th>
                                            <th>商品ID</th>
                                            <th>商品名称</th>
                                            <th>图片</th>
                                            <th>原价</th>
                                            <th>秒杀价</th>
                                            <th>库存</th>
                                        </tr>
                                    </thead>
                                    <tbody> 
                                    </tbody>
                                </table>
                            </div>
                        </div>
                  </div>
                  <div class="modal-footer">
                      <button type="button" id="saveData" class="btn btn-primary" data-size="0" data-dismiss="modal">确定</button>
                      <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                  </div>
                </form>
            </div>
        </div>
    </div>-->

    <!--<div class="modal fade in js_shop_modal" id="js_shop_modal" tabindex="-1" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
               <form class="form-horizontal form-modal" method="" action="">
                  <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                      <h4 class="modal-title">选择店铺</h4>
                  </div>
                  <div class="modal-body">
                        <div class="form-group">
                            <label class="col-sm-2 control-label">选择活动</label>
                            <div class="col-sm-10">
                                <select name="shops" id="shops_id" class="form-control">
                                    <option value="">--请选择活动--</option>
                                    <option value="1">999秒杀</option>
                                    <option value="2">99秒杀</option>
                                    <option value="3">9秒杀</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group m-b-none">
                            <div class="col-sm-12">
                                <table class="table table-striped table-bordered">
                                    <thead>
                                        <tr>
                                            <th class="col-sm-1">
                                            </th>
                                            <th>店铺ID</th>
                                            <th>店铺名称</th>
                                            <th>商品数量</th>
                                            <th>店铺类型</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                  </div>
                  <div class="modal-footer">
                      <button type="button" id="saveData" class="btn btn-primary" data-size="0" data-dismiss="modal">确定</button>
                      <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                  </div>
                </form>
            </div>
        </div>
    </div>-->

    <!--商品组件 保存完成渲染-->
    <script type="text/html" id="li_hasTag_tmp">
        <li>
            <div class="newgoods_li">
                <span class="goods_img pull-left">
                    <img class="thumb_img" src="{{url}}" alt="">
                    <input class="hide" type="text" value="{{url}}" name="shop[{{size}}][url]" data-info-name="shop">
                    <button class="js_btn_icon pull-right" type="button" data-toggle="selectimg2">
                        <i class="fa fa-pencil text-muted"></i>
                    </button>
                </span>
                <span class="goods_icon pull-right m-r-xs">
                    <a href="javascript:;" class="js_del" title="删除">
                        <i class="fa fa-trash-o text-muted"></i>
                    </a>
                </span>
                <span class="goods_icon pull-right m-r-xs money">{{price}}</span>
                <span class="goods_icon pull-right m-r-xs">
                    <a title="编辑" class="pull-right m-r-xs js_title_edit" href="javascript:;">
                        <i class="fa fa-pencil text-muted"></i>
                    </a>
                </span>
                <span class="js_goods_title">
                    <input type="text" class="tagname" name="shop[{{size}}][tag]" data-info-name="shop" value="{{title}}">
                </span>

                <input type="hidden" value="{{id}}" name="shop[{{size}}][id]" data-info-name="shop">
                
                <input type="hidden" value="{{price}}" name="shop[{{size}}][price]" data-info-name="shop">
                {{if activityId}} 
                <input type="hidden" value="{{activityId}}" name="shop[{{size}}][activityId]" data-info-name="activityId">
                {{/if}} 
            </div>
        </li>
    </script>

    <!--专场组件 保存完成渲染-->
    <script type="text/html" id="li_tmp">
        <li>
            <div class="newgroup_li">
                <span class="span_col span_col1" title="{{id}}">{{id}}</span>
                <span class="span_col span_col2" title="{{title}}">{{title}}</span>
                <span class="group_img span_col span_col3">
                    <img src="{{url}}" alt="">
                </span>
                <span class="span_col span_col4">
                    <a href="javascript:;" class="js_del" title="删除"><i class="fa fa-trash-o text-muted"></i></a>
                </span>
                <input type="hidden" value="{{id}}" name="shop[{{size}}][id]" data-info-name="shop">
                <input type="hidden" value="{{url}}" name="shop[{{size}}][url]" data-info-name="shop">
                {{if activityId}} 
                <input type="hidden" value="{{activityId}}" name="shop[{{size}}][activityId]" data-info-name="activityId">
                {{/if}}
            </div>
        </li>
    </script>

    <script type="text/html" id="goods_table_tmp">
        <tr>
            <td>
                <label class="checkbox-inline">
                    <input type="checkbox" name="goodsLists" />
                    <input type="hidden" name="goodsId" data-id="{{id}}" />
                </label>
            </td>
            <td>{{name}}</td>
            <td>{{type}}</td>
            <td>
                <img src="{{url}}" alt="{{name}}" style="width:auto;height:40px;" />
            </td>
            <td>{{initPrice}}</td>
            <td>{{promotionPrice}}</td>
            <td>{{stock}}</td>
            <td>{{commission}}</td>
        </tr>
    </script>

    <script type="text/html" id="material_table_tmp">
        <tr>
            <td>
                <label class="radio-block">
                    <input type="radio" name="material" />
                    <input type="hidden" name="materialId" data-id="{{id}}" />
                </label>
            </td>
            <td>{{id}}</td>
            <td>{{name}}</td>
            <td>{{type}}</td>
            <td>
                <img src="{{url}}" alt="{{name}}" style="width:auto;height:40px;" />
            </td>
        </tr>
    </script>

    <script type="text/html" id="shop_table_tmp">
        <tr>
            <td>
                <label class="radio-block">
                    <input type="radio" name="shop" />
                    <input type="hidden" name="shopId" data-id="{{id}}" />
                </label>
            </td>
            <td>{{id}}</td>
            <td>{{name}}</td>
            <td>{{stock}}</td>
            <td>{{type}}</td>
        </tr>
    </script>

    <script type="text/html" id="special_table_tmp">
        <tr>
            <td>
                <label class="checkbox-block">
                    <input type="checkbox" name="specialLists" />
                    <input type="hidden" name="specialId" data-id="{{id}}" />
                </label>
            </td>
            <td>{{id}}</td>
            <td>{{name}}</td>
            <td>
                <img src="{{url}}" alt="{{name}}" style="width:auto;height:40px;" />
            </td>
        </tr>
    </script>

    <script type="text/html" id="activity_table_tmp">
        <tr>
            <td>
                <label class="checkbox-inline">
                    <input type="checkbox" name="activityLists" />
                    <input type="hidden" name="activityId" data-id="{{id}}" />
                </label>
            </td>
            <td>{{id}}</td>
            <td>{{name}}</td>
            <td>
                <img src="{{url}}" alt="{{name}}" style="width:auto;height:40px;" />
            </td>
            <td>{{initPrice}}</td>
            <td>{{promotionPrice}}</td>
            <td>{{stock}}</td>
        </tr>
    </script>

    <script type="text/html" id="goodsLists_pager_tmp">
        <div class="col-sm-12 goodsPager">
            <p class="pull-left m-t-xs">当前第{{currentPage}}页/共{{totalPage}}页</p>
            <p class="pull-right">
                <button type="button" class="btn btn-sm btn-default js_first" data-page="{{currentPage}}" data-total="{{totalPage}}">首页</button>
                <button type="button" class="btn btn-sm btn-default js_prev" data-page="{{currentPage}}" data-total="{{totalPage}}">上一页</button>
                <button type="button" class="btn btn-sm btn-default js_next" data-page="{{currentPage}}" data-total="{{totalPage}}">下一页</button>
                <button type="button" class="btn btn-sm btn-default js_last" data-page="{{currentPage}}" data-total="{{totalPage}}">尾页</button>
            </p>
        </div>
    </script>

    <!-- 图片贴标签 一-->
    <script type="text/html" id="picture_subject_sign_tmp">
        <div class="panel panel-default js_pic_sign" id="children-box-{{size}}">
            <div class="panel-heading">
                <span class="change-num">{{num}}</span>F 图片组件
                <a href="javascript:;" class="js_del_subject pull-right"  data-msg="确定删除此 主题?" title="删除"><i class="fa fa-times-circle-o text"></i></a>

                <a href="javascript:;" class="js_down_subject pull-right m-r" title="下移"><i class="fa fa-long-arrow-down text"></i></a>

                <a href="javascript:;" class="js_up_subject pull-right m-r" title="上移"><i class="fa fa-long-arrow-up text"></i></a>
            </div>
            <div class="panel-body">
                <div class="form-group">
                    <label class="col-sm-3 control-label">图片</label>
                    <div class="col-sm-5 small-img">
                        <div class="move_box">
                            <!--<img style="max-height: none; width: 100%;" src="http://www.vdian.com/Resource/../attached/image/20150928/20150928105313_2197.jpg" class="thumb_img">-->
                            <input class="hide uploading-project" type="text" name="shop[{{size}}][uploading_pic]" id="uploading_pic[{{size}}]" />
                            <input type="hidden" name="shop[{{size}}][type]" value="1" />
                            <button class="btn btn-default" type="button" data-max-size="50" data-toggle="selectimg2">上传图片</button>
                            <div class="js_sign">
                                
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-7 js_pic_title hide">
                        <button class="btn btn-default js_addsign" type="button"><i class="fa fa-plus m-r-xs"></i>添加标签</button>
                    </div>
                </div>
            </div>
        </div>
    </script>

    <!-- 图片贴标签 二-->
    <script type="text/html" id="picture_subject_tag_tmp">
        <div class="panel panel-default js_pic_tag" id="children-box-{{size}}">
            <div class="panel-heading">
                <span class="change-num">{{num}}</span>F 图片组件
                <a href="javascript:;" class="js_del_subject pull-right"  data-msg="确定删除此 主题?" title="删除"><i class="fa fa-times-circle-o text"></i></a>

                <a href="javascript:;" class="js_down_subject pull-right m-r" title="下移"><i class="fa fa-long-arrow-down text"></i></a>

                <a href="javascript:;" class="js_up_subject pull-right m-r" title="上移"><i class="fa fa-long-arrow-up text"></i></a>
            </div>
            <div class="panel-body">
                <div class="form-group">
                    <label class="col-sm-3 control-label">图片</label>
                    <div class="col-sm-6 small-img">
                        <div class="move_box">
                            <!--<img style="max-height: none; width: 100%;" src="http://www.vdian.com/Resource/../attached/image/20150928/20150928105313_2197.jpg" class="thumb_img">-->
                            <input class="hide uploading-project" type="text" name="shop[{{size}}][uploading_pic]" id="uploading_pic[{{size}}]" />
                            <input type="hidden" name="shop[{{size}}][type]" value="1" />
                            <button class="btn btn-default" type="button" data-max-size="50" data-toggle="selectimg2">上传图片</button>
                            <div class="js_tag">
                                
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 js_tag_title hide">
                        <button class="btn btn-default js_addtag" type="button"><i class="fa fa-plus m-r-xs"></i>添加标签</button>
                        <button class="btn btn-default js_tag_view" type="button">预览</button>
                    </div>
                </div>
            </div> 
        </div>
    </script>

<!--
    <script type="text/html" id="material_subject_tmp">
        <div class="panel panel-default" id="children-box-{{size}}">
            <div class="panel-heading">
                <span class="change-num">{{num}}</span>F 素材组件
                <a href="javascript:;" class="js_del_subject pull-right"  data-msg="确定删除此 主题?" title="删除"><i class="fa fa-times-circle-o text"></i></a>
            </div>
            <div class="panel-body">
                <div class="form-group">
                    <label class="col-sm-3 control-label">素材</label>
                    <div class="col-sm-9">
                        <input type="hidden" name="shop[{{size}}][type]" value="2" />
                        <ul class="ipost-list js_tem_list js_tem_newgood clearfix m-l-n-xl">
                            <li class="js_add_material_tmp js_tmp" title="添加更多" data-size="{{size}}">
                                <i class="fa fa-plus m-r-xs"></i>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </script>

    <script type="text/html" id="clock_subject_tmp">
        <div class="panel panel-default" id="children-box-{{size}}">
            <div class="panel-heading">
                <span class="change-num">{{num}}</span>F 倒计时组件
                <a href="javascript:;" class="js_del_subject pull-right"  data-msg="确定删除此 主题?" title="删除"><i class="fa fa-times-circle-o text"></i></a>
            </div>
            <div class="panel-body">
                <div class="form-group">
                    <div class="col-sm-12">
                        <input type="hidden" name="shop[{{size}}][type]" value="3" />
                        <img src="http://www.vdian.com/Resource/../attached/image/20150331/20150331103034_5961.jpg" alt="倒计时组件" style="width:inherit;" />
                    </div>
                </div>
            </div>
        </div>
    </script>-->

    <script type="text/html" id="text_subject_tmp">
        <div class="panel panel-default" id="children-box-{{size}}">
            <div class="panel-heading">
                <span class="change-num">{{num}}</span>F 文本组件
                <a href="javascript:;" class="js_del_subject pull-right"  data-msg="确定删除此 主题?" title="删除"><i class="fa fa-times-circle-o text"></i></a>

                <a href="javascript:;" class="js_down_subject pull-right m-r" title="下移"><i class="fa fa-long-arrow-down text"></i></a>

                <a href="javascript:;" class="js_up_subject pull-right m-r" title="上移"><i class="fa fa-long-arrow-up text"></i></a>
            </div>
            <div class="panel-body">
                <div class="form-group">
                    <div class="col-sm-12">
                        <textarea rows="12" class="form-control" data-toggle="kindeditor" data-rule-rangelength="[1,10000]" data-rule-required="true" data-msg-required="文本内容不能为空" name="shop[{{size}}][content]"></textarea>
                        <input type="hidden" name="shop[{{size}}][type]" value="8" />
                    </div>
                </div>
            </div>
        </div>
    </script>

    <script type="text/html" id="goods_subject_tmp">
        <div class="panel panel-default" id="children-box-{{size}}">
            <div class="panel-heading">
                <span class="change-num">{{num}}</span>F 商品组件
                <a href="javascript:;" class="js_del_subject pull-right"  data-msg="确定删除此 主题?" title="删除"><i class="fa fa-times-circle-o text"></i></a>

                <a href="javascript:;" class="js_down_subject pull-right m-r" title="下移"><i class="fa fa-long-arrow-down text"></i></a>

                <a href="javascript:;" class="js_up_subject pull-right m-r" title="上移"><i class="fa fa-long-arrow-up text"></i></a>
            </div>
            <div class="panel-body">
                <div class="form-group">
                    <label class="col-sm-3 control-label">组件名称</label>
                    <div class="col-sm-6 must">
                        <input type="text" name="shop[{{size}}][goods_name]" data-info-name="subject_name" id="subject_name[{{size}}]" class="form-control" value="" data-rule-required="true">
                        <input type="hidden" name="shop[{{size}}][type]" value="4" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">商品列表</label>
                    <div class="col-sm-9">
                        <ul class="ipost-list js_tem_list clearfix m-l-n-xl">
                            <li class="js_add_goods_tmp js_tmp" title="添加更多" data-size="{{size}}">
                                <i class="fa fa-plus m-r-xs"></i>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </script>

    <script type="text/html" id="special_subject_tmp">
        <div class="panel panel-default" id="children-box-{{size}}">
            <div class="panel-heading">
                <span class="change-num">{{num}}</span>F 专场组件
                <a href="javascript:;" class="js_del_subject pull-right"  data-msg="确定删除此 主题?" title="删除"><i class="fa fa-times-circle-o text"></i></a>

                <a href="javascript:;" class="js_down_subject pull-right m-r" title="下移"><i class="fa fa-long-arrow-down text"></i></a>

                <a href="javascript:;" class="js_up_subject pull-right m-r" title="上移"><i class="fa fa-long-arrow-up text"></i></a>
            </div>
            <div class="panel-body">
                <div class="form-group">
                    <label class="col-sm-3 control-label">组件名称</label>
                    <div class="col-sm-6 must">
                        <input type="text" name="shop[{{size}}][special_name]" data-info-name="subject_name" id="subject_name[{{size}}]" class="form-control" value="" data-rule-required="true">
                        <input type="hidden" name="shop[{{size}}][type]" value="5" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">专场列表</label>
                    <div class="col-sm-9">
                        <ul class="ipost-list js_tem_list clearfix m-l-n-xl">
                            <li class="js_add_special_tmp js_tmp" title="添加更多" data-size="{{size}}">
                                <i class="fa fa-plus m-r-xs"></i>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </script>
<!--
    <script type="text/html" id="activity_subject_tmp">
        <div class="panel panel-default" id="children-box-{{size}}">
            <div class="panel-heading">
                <span class="change-num">{{num}}</span>F 场次组件
                <a href="javascript:;" class="js_del_subject pull-right"  data-msg="确定删除此 主题?" title="删除"><i class="fa fa-times-circle-o text"></i></a>
            </div>
            <div class="panel-body">
                <div class="form-group">
                    <label class="col-sm-3 control-label">起止时间</label>
                    <div class="col-sm-6">
                        <div class="input-group">
                            <input type="text" class="form-control daterangepick" name="shop[{{size}}][datetime]" value="2014/05/12 00:00 - 2014/06/12 23:59" data-rule-required="true"  readonly="readonly" data-position="top-right" data-toggle="daterangepicker" />
                            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">组件名称</label>
                    <div class="col-sm-6 must">
                        <input type="text" name="shop[{{size}}][activity_name]" data-info-name="subject_name" id="subject_name[{{size}}]" class="form-control" value="" data-rule-required="true">
                        <input type="hidden" name="shop[{{size}}][type]" value="6" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">秒杀商品信息</label>
                    <div class="col-sm-9">
                        <ul class="ipost-list js_tem_list clearfix m-l-n-xl">
                            <li class="js_add_activity_tmp js_tmp" title="添加更多" data-size="{{size}}">
                                <i class="fa fa-plus m-r-xs"></i>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </script>-->
<!--
    <script type="text/html" id="shop_subject_tmp">
        <div class="panel panel-default" id="children-box-{{size}}">
            <div class="panel-heading">
                <span class="change-num">{{num}}</span>F 店铺组件
                <a href="javascript:;" class="js_del_subject pull-right"  data-msg="确定删除此 主题?" title="删除"><i class="fa fa-times-circle-o text"></i></a>
            </div>
            <div class="panel-body">
                <div class="form-group">
                    <label class="col-sm-3 control-label">组件名称</label>
                    <div class="col-sm-6 must">
                        <input type="text" name="shop[{{size}}][shop_name]" data-info-name="subject_name" id="subject_name[{{size}}]" class="form-control" value="" data-rule-required="true">
                        <input type="hidden" name="shop[{{size}}][type]" value="7" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">店铺信息</label>
                    <div class="col-sm-9">
                        <ul class="ipost-list js_tem_list clearfix m-l-n-xl">
                            <li class="js_add_shop_tmp js_tmp" title="添加更多" data-size="{{size}}">
                                <i class="fa fa-plus m-r-xs"></i>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </script>-->

    <!-- 图片组件相关模板 hhq -->
    <!--版本一-->
    <script type="text/html" id="shop_move_tmp">
        <div class="form-group">
            <label class="col-sm-3">标签内容</label>
            <div class="col-sm-7">                     
                 <input type="text" class="form-control js_sign_text" id="sign_text[{{size}}][{{num}}]" name="sign_text[{{size}}][{{num}}]" value="" data-rule-required="true" data-rule-maxlength="7" placeholder="最多输入7个字" />
            </div> 
            <div class="col-sm-2 m-t-xs">                     
                <a title="删除" class="m-xs js_delsign" href="javascript:;">
                    <i class="fa fa-trash-o text-muted"></i>
                </a>
            </div>  
        </div>
    </script>
    <script type="text/html" id="shop_sign_tmp">
        <div class="js_sign_lab" data-id="sign_text[{{size}}][{{num}}]">
            <span></span>
            <input type="hidden" class="js_pos_x" name="sign_posx[{{size}}][{{num}}]" value=""/>
            <input type="hidden" class="js_pos_y" name="sign_posy[{{size}}][{{num}}]" value=""/>
        </div>
    </script>
    <!--版本二-->
    <script type="text/html" id="shop_move_tag_tmp">
        <div class="form-group">
            <label class="col-sm-3">标签内容</label>
            <div class="col-sm-7">                     
                 <input type="text" class="form-control js_tag_text" name="tag_text[{{size}}][{{num}}]" value="" data-rule-required="true" data-rule-maxlength="7" placeholder="最多输入7个字" />
            </div> 
            <div class="col-sm-2 m-t-xs">                     
                <a title="删除" class="m-xs js_deltag" href="javascript:;">
                    <i class="fa fa-trash-o text-muted"></i>
                </a>
            </div>  
        </div>
    </script>
    <script type="text/html" id="shop_tag_tmp1">
        <div class="js_tag_lab tag_lab_style1" data-width="10" data-height="20" style="top: 0;left: 0;">
            <span></span>
            <input type="hidden" class="js_tag_pc_x" name="tag_pcx[{{size}}]" value=""/>
            <input type="hidden" class="js_tag_pc_y" name="tag_pcy[{{size}}]" value=""/>
            <input type="hidden" class="js_tag_phone_x" name="tag_phonex[{{size}}]" value=""/>
            <input type="hidden" class="js_tag_phone_y" name="tag_phoney[{{size}}]" value=""/>
        </div>
    </script>
    <script type="text/html" id="shop_tag_tmp2">
        <div class="js_tag_lab tag_lab_style2" data-width="10" data-height="45" style="top: 0;left: 0;">
            <span class="sp_1"></span>
            <span class="sp_2"></span>
            <input type="hidden" class="js_tag_pc_x" name="tag_pcx[{{size}}]" value=""/>
            <input type="hidden" class="js_tag_pc_y" name="tag_pcy[{{size}}]" value=""/>
            <input type="hidden" class="js_tag_phone_x" name="tag_phonex[{{size}}]" value=""/>
            <input type="hidden" class="js_tag_phone_y" name="tag_phoney[{{size}}]" value=""/>
        </div>
    </script>
    <script type="text/html" id="shop_tag_tmp3">
        <div class="js_tag_lab tag_lab_style3" data-width="10" data-height="40"style="top: 0;left: 0;" >
            <span></span>
            <span class="sp_t"></span>
            <span class="sp_t"></span>
            <input type="hidden" class="js_tag_pc_x" name="tag_pcx[{{size}}]" value=""/>
            <input type="hidden" class="js_tag_pc_y" name="tag_pcy[{{size}}]" value=""/>
            <input type="hidden" class="js_tag_phone_x" name="tag_phonex[{{size}}]" value=""/>
            <input type="hidden" class="js_tag_phone_y" name="tag_phoney[{{size}}]" value=""/>
        </div>
    </script>
    <script type="text/html" id="shop_tag_tmp4">
        <div class="js_tag_lab tag_lab_style4" data-width="10" data-height="55" style="top: 0;left: 0;">
            <span></span>
            <span class="sp_ts"></span>
            <span class="sp_ts"></span>
            <span class="sp_ts"></span>
            <input type="hidden" class="js_tag_pc_x" name="tag_pcx[{{size}}]" value=""/>
            <input type="hidden" class="js_tag_pc_y" name="tag_pcy[{{size}}]" value=""/>
            <input type="hidden" class="js_tag_phone_x" name="tag_phonex[{{size}}]" value=""/>
            <input type="hidden" class="js_tag_phone_y" name="tag_phoney[{{size}}]" value=""/>
        </div>
    </script>


    <script src="/assets/javascripts/sea-modules/seajs/seajs/2.2.0/sea.js"></script>
    <script src="/assets/javascripts/seajs_config.js"></script>
    <script type="text/javascript">
        seajs.use(["dist/application/app.js","dist/subject/init.js"]);
        window.shop_url = "/Plus/shop.php";
        window.shop_multiple_url = "/Plus/shop2.php";
        window.shop_special_url = "/Plus/shop2.php";
        window.shop_single_shop_url = "/Plus/shop.php";
        window.shop_single_material_url = "/Plus/shop.php";
        window.shop_multiple_activity_url = "/Plus/shop2.php";
        window.shop_multiple_special_url = "/Plus/shop2.php";
        window.shop_goods_url = "/Plus/shop3.php";
        window.shop_activity_url = "/Plus/shop3.php";
        window.shop_material_url = "/Plus/shop3.php";
        window.shop_special2_url = "/Plus/shop3.php";
        window.shop_special3_url = "/Plus/shop3.php";
        window.shop_special4_url = "/Plus/shop3.php";
        window.shop_special5_url = "/Plus/shop3.php";
        window.shop_shop_url = "/Plus/shop3.php";
        window.get_activity = "/Plus/activity2.php";
        window.titleLength = "2";
        window.subject_name = ["subject_name","subject_describe","uploading_pic","state","shop"];  //添加更多主题  name 修改那么时一起修改
    </script>

</body>

</html>
