


<!DOCTYPE html>
<html lang="cn" class="app fadeInUp animated">

<head>
    <meta charset="utf-8" />
    <title>微商城</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <link href="/assets/stylesheets/bootstrap.min.css" rel="stylesheet" />
    <link href="/assets/stylesheets/animate.min.css" rel="stylesheet" />
    <link href="/assets/stylesheets/font-awesome.min.css" rel="stylesheet" />
    <link href="/assets/stylesheets/style.min.css" rel="stylesheet" />

    <link href="/assets/stylesheets/management/agreement_confirm.min.css" rel="stylesheet" />
    <!--[if lt IE 9]>
    <script src="/assets/javascripts/ie8/inie8.min.js"></script>
    <![endif]-->
    <script type="text/javascript">
    var _speedMark = new Date(),
        www_version = 1201405081146;
    </script>
</head>

<body>

    <section class="vbox">
        <header class="header bg-white b-b clearfix">
            <p>签约确认书</p>
            <a class="text-muted pull-right m-t pointer" data-toggle="back" title="返回"><i class="fa fa-reply"></i></a>

        </header>
        <section class="scrollable wrapper form-horizontal">
            <div class="panel panel-default">
                <div class="panel-body">

                    <form class="form-horizontal form-validate qyqrs" method="post" action="/api/form/ajaxformurl">
                        <h1 class="title">签约确认书</h1>
                        <p>【 XXXXXXXXXX公司 】（以下简称“贵公司”或“商家”）<br/>
                            上海微盟企业发展有限公司（以下简称“本公司”）恭贺贵公司已经成功入驻本公司运营的萌店网站（www.mengdian.com）。<br/>
                            本公司特向贵公司发出本费用确认书（以下简称“本确认书”），以再次告知贵公司入驻萌店网站的相关情况，包括店铺基本信息、费用信息等。具体如下：<br/>
                        </p>
                        <div class="line"></div>
                        <h1 class="max">商家信息</h1>
                        <ul class="ban_ul">
                            <li>公司名称：北京欧莱雅美妆有限公司</li>
                            <li>营业执照号：13132142313423</li>
                        </ul>
                        <ul class="ban_ul">
                            <li>组织机构代码：13132142313423</li>
                            <li>法定代表人或负责人姓名：刘奇文</li>
                        </ul>
                        <p>入驻类目：美妆-->美容护肤、香水彩妆</p>
                        <ul class="three_ul">
                            <li>店铺类型：旗舰店</li>
                            <li>店铺名称：欧莱雅旗舰店</li>
                            <li>入驻年限：2年</li>
                        </ul>
                        <div class="line"></div>
                        <h1 class="max">费用信息</h1>

                        <ul class="three_ul">
                            <li>诚信保证金：20000</li>
                            <li>技术服务年费：12000</li>
                        </ul>
                        <p>交易技术服务费：美容护肤（4%）、香水彩妆（4%），该费用产生商品交易后扣除</p>
                        <h1 class="max">商家联系信息</h1>

                        <ul class="ban_ul">
                            <li>联系人：刘奇文</li>
                            <li>电话：021-243423432</li>
                            <li>手机：13132232423</li>
                            <li>邮箱：1@1.2</li>
                            <li>地址：所到发送到发送到刚收到</li>
                        </ul>
                        <h1 class="max">商家结算信息</h1>
                        <p>账户名：刘奇文</p>
                        <p>银行账号/支付宝账号：6222222222222222</p>
                        <p>商家开户银行：上海市工商银行</p>
                        <div class="line"></div>
                        <h1 class="max sure">本确认书生效日期以文尾本公司落款日期为准。自生效日起（含当日），本确认书对贵公司和本公司产生法律上的约束力。
                            本确认书作为贵公司与本公司签署的《萌店网络交易平台服务协议》（以下简称“平台协议”）的附件之一，
                            与平台协议具有同等法律约束力。</h1>
                        <p>烦请贵公司按照与本公司之间达成的平台协议及其他相关约定全面履行。</p>
                        <p>感谢贵公司的合作与配合，并祝愿贵公司事业蒸蒸日上、生意兴旺发达！</p>
                        <p>顺颂商祺！</p>
                        <p class="bottom">上海微盟企业发展有限公司</p>
                        <p class="bottom">2015年   月   日</p>
                        <!--<div class="form-group">-->
                            <!--<label class="col-sm-2 control-label">公司名称：</label>-->
                            <!--<div class="col-sm-10">-->
                                <!--<p class="form-control-static">北京欧莱雅美妆有限公司</p>-->
                            <!--</div>-->
                        <!--</div>-->
                        <!--<div class="form-group">-->
                            <!--<label class="col-sm-2 control-label">入驻类目：</label>-->
                            <!--<div class="col-sm-10">-->
                                <!--<p class="form-control-static">美妆&ndash;&gt;美容护肤、香水彩妆</p>-->
                            <!--</div>-->
                        <!--</div>-->
                        <!--<div class="form-group">-->
                            <!--<label class="col-sm-2 control-label">店铺类型：</label>-->
                            <!--<div class="col-sm-10">-->
                                <!--<p class="form-control-static">旗舰店</p>-->
                            <!--</div>-->
                        <!--</div>-->
                        <!--<div class="form-group">-->
                            <!--<label class="col-sm-2 control-label">店铺名称：</label>-->
                            <!--<div class="col-sm-10">-->
                                <!--<p class="form-control-static">欧莱雅旗舰店</p>-->
                            <!--</div>-->
                        <!--</div>-->
                        <!--<div class="form-group">-->
                            <!--<label class="col-sm-2 control-label">入驻年限：</label>-->
                            <!--<div class="col-sm-10">-->
                                <!--<p class="form-control-static">2年</p>-->
                            <!--</div>-->
                        <!--</div>-->
                        <!--<div class="form-group">-->
                            <!--<label class="col-sm-2 control-label">诚信保证金：</label>-->
                            <!--<div class="col-sm-10">-->
                                <!--<p class="form-control-static">20000</p>-->
                            <!--</div>-->
                        <!--</div>-->
                        <!--<div class="form-group">-->
                            <!--<label class="col-sm-2 control-label">技术服务年费：</label>-->
                            <!--<div class="col-sm-10">-->
                                <!--<p class="form-control-static">12000</p>-->
                            <!--</div>-->
                        <!--</div>-->
                        <!--<div class="form-group">-->
                            <!--<label class="col-sm-2 control-label">交易技术服务费：</label>-->
                            <!--<div class="col-sm-10">-->
                                <!--<p class="form-control-static">美容护肤（4%）、香水彩妆（4%），该费用产生商品交易后扣除</p>-->
                            <!--</div>-->
                        <!--</div>-->
                        <!--<div class="form-group">-->
                            <!--<div class="col-sm-4 col-sm-offset-2">-->
                                <!--<button type="button" class="btn btn-default" data-toggle="back">返回</button>-->
                            <!--</div>-->
                        <!--</div>-->
                    </form>
                </div>
            </div>
        </section>

    </section>

    <script src="/assets/javascripts/sea-modules/seajs/seajs/2.2.0/sea.js?v=1201405081146"></script>
    <script src="/assets/javascripts/seajs_config.js?v=1201405081146"></script>
    <script type="text/javascript">seajs.use(["dist/application/app.js"])</script>
</body>

</html>