


<!DOCTYPE html>
<html lang="cn" class="app fadeInUp animated">

<head>
    <meta charset="utf-8" />
    <title>微商城</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <link href="/assets/stylesheets/bootstrap.min.css" rel="stylesheet" />
    <link href="/assets/stylesheets/animate.min.css" rel="stylesheet" />
    <link href="/assets/stylesheets/font-awesome.min.css" rel="stylesheet" />
    <link href="/assets/stylesheets/style.min.css" rel="stylesheet" />

    <link href="/assets/stylesheets/management/agreement.min.css" rel="stylesheet" />

    <!--[if lt IE 9]>
    <script src="/assets/javascripts/ie8/inie8.min.js"></script>
    <![endif]-->
    <script type="text/javascript">
    var _speedMark = new Date(),
        www_version = 1201405081146;
    </script>
</head>

<body>

    <section class="vbox">
        <header class="header bg-white b-b clearfix">
            <p>在线签署商家入驻文件</p>
        </header>
        <section class="scrollable wrapper form-horizontal">
            <div class="panel panel-default">
                <header class="panel-heading font-bold"><span id="header"  data-protocol="1">商家入驻协议：</span>
                    <a href="javascript:;" id="btn_again" class="btn btn-sm btn-default">重新选择协议类型</a>
                </header>
                <div class="panel-body">
                    <div class="m b-a xy xy_0" style="height:500px; overflow-y:scroll;padding:10px">
                        <p class="text-center m-t-sm"> <strong>萌店网络交易平台服务协议</strong>
                        </p>
                        <p> <strong>重要须知：</strong>
                        </p>
                        <p style="text-indent: 2em">
                            <strong>《萌店网络交易平台服务协议》（以下简称“本协议”）是由萌店网站（即www.mengdian.com，以下简称“萌店网站”）的运营方即上海微盟企业发展有限公司（以下简称“甲方”）与商家（以下简称“乙方”或“商家”）达成的关于提供和使用萌店网络交易平台（以下简称“网络交易平台”）服务的各项条款、条件和规则。</strong> 
                        </p>
                        <p style="text-indent: 2em">
                            <strong>本协议包括本协议正文及本协议附件（本协议附件包括但不限于《萌店网站商家在线签约系统服务协议》、《萌店平台交易纠纷处理规则》、《签约确认书》(前述文件的具体名称可能做适当调整)及所有甲方已经发布的及/或将来发布的各类规则(可于www.mengdian.com的商家中心查看)，以下合称“附件”）。本协议附件为本协议不可分割的一部分，与本协议正文具有同等法律效力。</strong> 
                        </p>
                        <p style="text-indent: 2em">
                            <strong>
                                在适用的法律法规允许的最大限度内，甲方有权根据情况不时地制定、修订、调整、及/或变更本协议正文及/或附件，但是对于影响商户权利义务的变更萌店将提前至少7日公示在www.mengdian.com。前述制定、修订、调整、及/或变更后的本协议正文及/或附件一经甲方公示并通知乙方后，立即自动生效，成为本协议的一部分。如果乙方不同意前述制定、修订、调整、及/或变更后的本协议正文及/或附件，须立即以正式书面盖章的通知方式向甲方提出异议，在此种情况下，甲方有权选择终止相关变更或立即与商户解约且甲方对于该等终止不负任何违约责任或其他责任，乙方应配合甲方协商本协议终止事宜（包括但不限于款项结算事宜(如有)）。如乙方未根据前述约定向甲方提出异议，登陆或继续使用萌店服务即视为乙方接受前述制定、修订、调整、及/或变更后的本协议正文及/或附件。
                            </strong>
                        </p>
                        <p style="text-indent: 2em">
                            <strong>
                                本协议之签署、效力、解释和执行以及本协议项下争议之解决均适用中华人民共和国法律（为本协议之目的，不包括香港、澳门、台湾法律）。甲乙双方在签署、履行本协议中发生的争议或纠纷，应通过友好协商解决；协商不成的，任何一方有权将争议提交至甲方住所地人民法院诉讼解决。
                            </strong>
                        </p>
                        <p style="text-indent: 2em">
                            <strong>
                                甲方在此特别提醒乙方认真阅读、充分理解本协议各条款（对于本协议中以加粗字体显示的内容，应重点阅读），并请乙方审慎考虑并选择接受或不接受本协议。如果乙方一经选择“
                                <span class="text-ul">我已阅读、同意并接受</span>
                                ”选项并点击“
                                <span class="text-ul">签署</span>
                                ”按钮（前述选项及/或按钮的具体表述可能会做适当调整），即表示其已接受本协议，并同意受本协议各项条款的约束。如果乙方不同意本协议的任何约定，可以不予选择“
                                <span class="text-ul">我已阅读、同意并接受</span>
                                ” 选项及/或不予点击“
                                <span class="text-ul">签署</span>
                                ”按钮（前述选项及/或按钮的具体表述可能会做适当调整），在此种情况下，乙方未予接受本协议，无法使用网络交易平台服务，亦无法登陆或使用相关账户。
                            </strong>
                        </p>
                        <p class="text-center">
                            <strong>本“重要须知”为本协议正文的组成部分。</strong>
                        </p>
                        <p style="line-height:22px">
                            <strong>1.服务内容</strong>
                            <br/>
                            1.1    甲方为乙方提供网络交易平台服务，乙方在甲方提供的网络交易平台上向顾客/萌主销售商品及/或提供服务。
                            <br/>
                            1.2    甲方为乙方提供的网络交易平台服务，具体包括：
                            <br/>
                            (1)    在网络交易平台前台为乙方提供独立的网上店铺；
                            <br/>
                            (2)    在网络交易平台后台为乙方提供支持其进行商品销售、促销、结算、配送等操作的软件系统服务，包括但不限于商品销售系统、网上支付系统、商品展示系统、后台管理系统等模块服务，以实现乙方自行进行商品管理、图片上传、商品促销、财务结算、店铺装修等功能；
                            <br/>
                            (3)    为乙方在网络交易平台上销售商品及/或提供服务事宜提供配套服务，包括但不限于商品仓储服务、商品配送服务、网络营销服务、网上店铺运营培训、网上店铺装修服务、短信提醒服务、资质审核服务及其他配套服务。
                            <br/>
                            1.3    本协议项下的服务均同时提供、同时终止，乙方不可进行单独订购或使用。
                            <br/>
                        </p>
                        <p style="line-height:22px">
                            <strong>2.    费用及结算</strong>
                            <br/>
                            2.1
                            <strong>就本协议项下服务事宜，乙方应向甲方支付相关费用，包括但不限于平台使用服务年费、诚信保证金、交易技术服务费等。</strong>
                            具体费用类别、数额及其他明细由甲乙双方另行协商确定。
                            <br/>
                            2.2    上述费用的支付时间和方式由甲乙双方另行协商确定。
                            <br/>
                            2.3      本协议所涉及的所有费用以人民币为计算单位；
                            <br/>
                            2.4
                            <strong>微盟支付：本协议签订后，乙方通过甲方平台代为收取所有交易款项，经结算系统结算及结算查验后转付至乙方账户；</strong>
                            <br/>
                            <strong>2.5      萌主佣金：针对每一笔成功消费的订单，按照乙方设定的佣金比例支付给萌主的佣金费用；</strong>
                            <br/>
                            <strong>
                                2.6      交易技术服务费：针对每一笔成功消费的订单，甲方按照萌店平台规定的交易技术服务费费率向乙方收取的相应费用，费率的设定包含了客户使用支付宝、银联U付、微信支付产生的交易手续费；
                            </strong>
                            <br/>
                            <strong>2.7      结算价：针对每一笔成功消费的订单，甲方于代收款项中扣除萌主佣金、交易技术服务费后，向甲方支付的金额；</strong>
                            <br/>
                            2.8
                            <strong>支付周期：乙方客户支付至甲方平台的交易款项经甲方申请支付后转付至乙方账户的时间周期：T+ 3（工作日）</strong>
                            <br/>
                            2.9
                            <strong>支付起点金额：乙方向甲方提现的最低金额：人民币  1000元（大写：壹仟元）</strong>
                        </p>
                        <p style="line-height:22px">
                            <strong>3.    甲方的权利和义务</strong>
                            <br/>
                            3.1    甲方应按照甲乙双方约定的服务内容和标准向乙方提供服务。
                            <br/>
                            3.2    为保证乙方交易活动顺利进行，甲方应提供持续的技术支持服务，以不断完善现有功能模块及开发新的功能模块。
                            <br/>
                            3.3    甲方应根据乙方需要不断完善现有服务及开发新的服务内容。
                            <br/>
                            3.4    除适用的法律法规另有明确规定或本协议另有明确约定外，甲方应在现有技术支持的基础上尽力确保并维护网络交易平台的正常运营。
                            <br/>
                            <strong>
                                3.5    在适用的法律法规允许的最大限度内，甲方有权查阅及/或审查乙方的注册资料、信息发布、商品及/或服务交易行为，并有权根据适用的法律法规的规定、本协议的约定、生效法律文书或行政处罚决定、顾客/萌主或任何他方投诉、及/或甲方查阅及/或审查的前述情况等，对乙方的注册资料、信息发布、商品及/或服务交易行为进行判定；如甲方认为或怀疑其存在或可能存在任何问题（包括但不限于存在或可能存在违法违规及/或违反本协议行为的），乙方认可甲方有权采取相关措施，包括但不限于：向乙方发出询问及/或要求改正的通知，直接删除相关信息，删除、屏蔽、断开链接，在网站上公示乙方的违法违规行为，暂时停止或终止为乙方提供服务，终止本协议，要求乙方承担赔偿责任或违约责任，及/或向有权机关报告乙方的违法违规情况等措施。
                            </strong>
                            <br/>
                            <strong>
                                3.6    在适用的法律法规允许的最大限度内，甲方根据本协议第3.5款的约定查阅及/或审查乙方的注册资料、信息发布、商品及/或服务交易行为并不被视为甲方的义务，甲方为此无需承担任何责任，乙方应对其注册资料、信息发布、商品及/或服务交易行为的合法、有效、真实、准确、完整性负责。
                            </strong>
                            <br/>
                            3.7
                            <strong>乙方认可甲方有权在适用的法律法规允许的最大限度内对乙方经营情况进行考核，</strong>
                            包括但不限于：
                            <br/>
                            (1)    甲方将根据乙方运营情况，定期或不定期对乙方进行考核。
                            <br/>
                            (2)    甲方将以自身及/或普通消费者身份购买或使用乙方商品及/或服务，并且将其提供给第三方检测机构及/或品牌权利方进行商品及/或服务质量和品质检测（包括但不限于是否为正品真货检测）。如果商品检测结果不合格，甲方有权在萌店网站上及/或通过其他渠道公示检测结果及/或相应的处罚措施。乙方应配合接受前述检测，且认可：在商品检测结果不合格的情况下，乙方应承担与检测相关的全部成本和费用，包括但不限于检测费用、样品费用、运费、差旅费等。
                            <strong>乙方认可：甲方有权根据适用的法律法规的规定、本协议的约定和甲方要求，根据上述考核结果，对乙方采取相关处理措施。</strong>
                            <br/>
                            3.8    甲方鼓励乙方向顾客/萌主提供高于《中华人民共和国产品质量法》、《中华人民共和国消费者权益保护法》及其他法律、法规、规章、政策性文件、国家和地方标准、行业标准、本协议的约定和甲方要求等规定的标准的服务（包括但不限于售后服务），以便更好满足顾客需求，充分全面保护消费者的合法权益。
                            <br/>
                            3.9
                            <strong>
                                甲方仅向乙方和顾客/萌主提供网络交易平台，在适用的法律法规允许的最大限度内，甲方对于与乙方在网络交易平台上展示、销售、提供商品及/或服务相关的全部事宜不承担任何责任。
                            </strong>
                            <br/>
                            <strong>
                                3.10    在适用的法律法规允许的最大限度内，甲方对基于本协议为乙方提供的服务所涉及的信息和技术，不作任何明示或默示的保证，该等保证包括但不限于该等信息及/或技术的适用性、正确性、持续性、准确性、可靠性、完整性、及时性、及/或适用于某一特定用途等。
                                <br/>
                                3.11    除非适用的法律法规另有明确规定或本协议另有明确约定，甲方有权自行决定对其服务（包括但不限于模块、功能、软件、服务语种）进行增减、变更、升级、暂缓；此种情况下，甲方的服务将被或可能被增减、变更、升级、暂缓，在适用的法律法规允许的最大限度内，甲方对此不负任何违约责任或其他责任，但甲方应及时通知乙方。
                                <br/>
                                3.12      甲方有权根据业务调整情况将本协议项下的全部权利义务一并转移给其关联公司，此种情况将会提前7天以网站公告的形式通知。
                            </strong>
                            <br/>
                        </p>
                        <p style="line-height:22px">
                            <strong>
                                4.     乙方的权利和义务
                                <br/>
                                4.1    乙方向甲方承诺和保证：在本协议有效期内，
                                <br/>
                                (1)    乙方为依据适用的法律法规成立的经营主体，具有签署和履行本协议的资格和能力，具备在网络交易平台上销售商品及/或提供服务的经营主体资格。
                                <br/>
                                (2)    乙方应严格遵守适用的法律法规的规定、本协议的约定、甲方要求及诚实信用原则，尊重和保障社会公共利益和消费者合法权益；乙方保证不采取不正当竞争行为，不扰乱网上交易的正常秩序。
                                <br/>
                                (3)    乙方保证其已依法通过或取得在网络交易平台上展示、销售、提供商品及/或服务所必需的全部审批、许可、授权，且具备合法来源证明；其有权依法在网络交易平台上展示、销售、提供商品及/或服务；其在网络交易平台上展示、销售、提供商品及/或服务并未侵犯甲方及/或任何他方的知识产权及/或其他合法权利（包括但不限于著作权、专利权、商标权、企业名称权、商业秘密、人身权利等）。
                                <br/>
                                (4)    乙方保证应按照《中华人民共和国产品质量法》、《中华人民共和国消费者权益保护法》及其他法律、法规、规章、政策性文件、国家和地方标准、行业标准、本协议的约定和甲方要求等在网络交易平台上展示、销售、提供商品及/或服务、确保商品及/或服务质量及品质、并提供售后服务（包括但不限于提供退换货服务、依法向顾客开具并提供发票及/或其他合法有效的销售凭证）；乙方保证商品价格的制定、标识、通知、宣传等均符合关于价格管理的适用的法律法规的规定。
                                <br/>
                                (5)    乙方应确保其向甲方及/或顾客提供的文件、资料及信息（包括但不限于乙方在萌店网站上输入、上传的文件、资料、信息(包括但不限于乙方营业执照或其他经营主体资格证明、名称、地址、联系方式)）均为合法、有效、真实、准确、完整，未发布任何违法违规违约内容；前述文件、资料及/或信息如有任何更新，乙方应及时告知甲方及/或顾客。
                                <br/>
                                (6)    如遇任何投诉、咨询、举报事宜，乙方应根据甲方要求在规定时间内予以反馈、大力配合甲方及/或任何他方进行的调查及/或处理流程。
                                <br/>
                                (7)    乙方保证维护甲方的良好声誉和企业形象，不得作出任何有损于甲方品牌形象和声誉的任何言论及/或行动。如乙方违反上述任一承诺与保证，乙方应负责处理全部事宜并承担全部责任（包括但不限于任何由此引致的争议、纠纷、诉讼、仲裁、处罚、索赔）。
                                <br/>
                            </strong>
                            4.2    为履行乙方在本协议第4.1款中所作的承诺与保证，乙方应向甲方提供相关证明文件，包括但不限于：
                            <br/>
                            (1)    经营主体资格证书：包括但不限于营业执照及/或其他经营主体资格证明、税务登记证（国税、地税）、组织机构代码证等；
                            <br/>
                            (2)    特定资质证书：包括但不限于根据国家法律、法规、规章、规范性文件等需要具备的资质证书；
                            <br/>
                            (3)    拥有或被授权使用知识产权及/或其他合法权利（包括但不限于著作权、专利权、商标权、企业名称权、商业秘密、人身权利）的文件；
                            <br/>
                            (4)    根据适用的法律法规规定、本协议约定和甲方要求需提供的其他文件（包括但不限于商品及/或服务的购买发票及/或其他合法有效的购买凭证、购买合同及/或协议）.
                            <br/>
                            <strong>
                                4.3    乙方应根据甲方要求，向甲方提供本协议第4.2款约定的文件原件及/或复印件，并加盖乙方公章。除适用的法律法规另有明确规定或本协议另有明确约定外，上述文件经甲方审核通过后，乙方不得擅自修改、替换。上述文件如有任何更新，乙方应在更新后立即通知甲方并将更新后的文件提供给甲方审核。乙方认可，甲方有权在适用的法律法规规定要求及/或允许的最大限度内，对前述文件进行登记，建立登记档案，进行必要披露及/或使用。
                                <br/>
                                4.4    在适用的法律法规允许的最大限度内，与乙方展示、销售、提供商品及/或服务相关的全部事项（包括但不限于信息展示、售前服务、产品安全、产品质量、售后服务、配送、运输及运输风险、交货、发票开具等），以及由该等事项引发的任何争议、纠纷、诉讼、仲裁、处罚、投诉、索赔等（包括但不限于因乙方操作失误造成的系统自动退款等），均由乙方自行处理并负责承担全部法律责任（包括但不限于赔偿给顾客、甲方及/或任何他方造成的损失）。
                                <br/>
                                4.5    乙方认可：为保障消费者权益，经甲方根据适用的法律法规规定、本协议约定、生效法律文书及/或行政处罚决定、顾客/萌主及/或任何他方投诉、及/或甲方查阅及/或审查乙方的注册资料、信息发布及/或商品及/或服务交易行为的情况等判断乙方应向顾客承担包括但不限于退货、退款、赔偿损失等消费者合法权益保障义务的，甲方将有权选择直接扣除保证金的部分或全部，用于对于顾客的赔付；如保证金余额不足以支付的，乙方应根据甲方的要求及时补足，否则，由此造成的损失均由乙方全部承担且甲方有权从甲乙双方的结算款项（包括但不限于货款）中直接扣除相应金额并赔付顾客。乙方在网络交易平台展示、销售及/或提供的商品及/或服务出现以下任一情形时，甲方有权选择对于乙方的保证金进行部分或全部扣减以用于对于顾客的赔付：
                                <br/>
                                (1)    商品及/或服务出现质量问题；
                                <br/>
                                (2)    商品及/或服务与宣传不符；
                                <br/>
                                (3)    出售假冒伪劣商品等其他侵犯消费者权益的行为；
                                <br/>
                                (4)    其他根据适用的法律法规规定、本协议约定、生效法律文书及/或行政处罚决定、顾客/萌主及/或任何他方投诉、及/或甲方查阅及/或审查乙方的注册资料、信息发布、及/或商品及/或服务交易行为的情况等应予以扣除保证金的情形。
                                <br/>
                                4.6     乙方应明示只接受“微盟支付”方式作为其通过萌店平台达成交易的支付工具；
                                <br/>
                                4.7     乙方应按照甲方的规定妥善保管、使用甲方提供的相关账户（包括但不限于用户名、原始密码信息）及/或乙方自行修改的密码，并确保使用商家账户的主体均为乙方或乙方授权的人员；除适用的法律法规另有明确规定及本协议另有明确约定外，乙方不得以任何形式泄露、擅自转让、披露及/或授权他人使用该等帐户。否则，由此产生的任何争议、纠纷、处罚、诉讼、仲裁、投诉、索赔等均由乙方自行负责处理并承担全部法律责任（包括但不限于赔偿由此给顾客、甲方及/或任何他方造成的全部损失），并且甲方有权立即终止乙方使用该等账户的权利，及/或立即终止与乙方的部分或全部合作（无论该等合作是否基于本协议而产生，下同）。
                            </strong>
                            <br/>
                            4.8    乙方使用网络交易平台服务下载或者获取任何资料的行为，均出于乙方的独立判断并应由乙方自行承担全部责任（包括但不限于乙方应自行承担其电脑、系统或资料灭失造成的损失）；
                            <strong>在适用的法律法规允许的最大限度内，甲方无需就前述情形承担任何责任。</strong>
                            <br/>
                            4.9    如本协议期满终止或甲乙双方同意提前解除，则乙方履行完毕全部义务后，乙方可向甲方书面申请关店。
                            <strong>
                                除适用的法律法规另有明确规定或本协议另有明确约定外，如乙方在履行本协议过程中未发生任何违反适用的法律法规规定及/或本协议约定的行为，且在甲方审核通过乙方关店申请或协议期满45日内没有收到任何第三方投诉或发生交易纠纷，甲方将无息返还保证金余额（如有）；若超出45天未处理完交易投诉或纠纷，将顺延返还保证金时间，直到处理结束为止再作退还。除适用的法律法规另有明确规定或本协议另有明确约定外，如乙方擅自关店及/或以任何理由或借口擅自停止经营行为，则甲方有权视乙方违约情形采取相关处理措施，包括但不限于扣除部分或全部保证金、货款及其他款项。
                            </strong>
                            <br/>
                            <strong>
                                4.10    在适用的法律法规允许的最大限度内，乙方不可撤销地授权甲方依本协议的约定和双方另行达成的其他约定直接对乙方在甲方处的款项余额进行冻结、扣除和支付（包括但不限于支付损失赔偿、违约金等）。
                            </strong>
                            <br/>
                        </p>
                        <p style="line-height:22px">
                            <strong>
                                5.    知识产权
                                <br/>
                                5.1    除适用的法律法规另有明确规定或本协议另有明确约定外，本协议项下，甲方提供的服务和服务成果的知识产权均归甲方所有。
                                <br/>
                                5.2    乙方在此授权甲方，以任何方式（包括但不限于复制、翻译、展示形式）使用乙方公示于网络交易平台及/或通过其他形式向甲方提供的各类文件、资料及信息，或以现在已知或日后开发的任何形式、载体或技术，将上述信息纳入其他作品（以下简称“许可使用权”）。乙方授予甲方在本协议有效期内无偿享有前述许可使用权，且甲方有权就该许可使用权进行包括但不限于市场推广行为的再授权。
                                <br/>
                                5.3    在上述约定的授权期限后、或本协议被提前终止后，对于甲方及/或甲方授权的他方在上述授权有效期内已经使用的乙方各类信息，乙方同意甲方及/或甲方授权的他方无需更换、收回或处理并无须承担任何责任（包括但不限于侵权责任、费用支付）。
                                <br/>
                                5.4    除适用的法律法规另有明确规定或本协议另有明确约定外，未经甲方事先书面授权，乙方不得为任何目的和形式使用甲方的知识产权及其他合法权利（包括但不限于域名、商标权、著作权、专利权、企业名称权、商业秘密等），否则，乙方应承担由此引致的全部法律责任（包括但不限于赔偿给甲方造成的全部损失）。
                                <br/>
                            </strong>
                            <p style="line-height:22px">
                                <strong>
                                    6.    信息的使用和保密
                                    <br/>
                                    6.1    除适用的法律法规另有明确规定、本协议另有明确约定、甲方和顾客/萌主之间的相关协议另有约定外，顾客数据库为甲方的资产。为本协议之目的，“顾客数据库”指可被甲方不时更新的，与运营萌店网站及/或萌店网站上任何交易有关而由甲方收集或汇总的顾客登陆、密码、个人数据、联系、促销、喜好、交易及其他信息的数据库，无论该等信息是由商家、顾客及/或任何其他合法授权人上载、产生、要求或收集的。乙方特此（1）向甲方转让和同意向甲方转让其在或对顾客数据库全部或部分可能有的（或将来获得的）任何和所有权利和利益（包括但不限于其中的任何知识产权）；并且（2）不可撤销地承诺不时及时采取为使该等转让生效可能必需的所有行动、获得为使该等转让生效可能必需的所有同意以及签署和报备为使该等转让生效可能必需的文件。顾客数据库或其任何部分不构成乙方的商业秘密。
                                    <br/>
                                    6.2    乙方可能在萌店网站上获得某些有关顾客、顾客订单和交易的数据。乙方仅可为（1）依法完成、记录相关顾客交易和就相关顾客交易进行记账之目的，或（2）履行本协议之目的而使用该等数据，且条件是该等使用应当符合适用的法律法规、萌店网站发布的隐私声明、服务协议及其他数据安全保护规定、以及乙方作为一方或另行受之约束的协议、约定、规则及/或任何其他文件。仅受制于前述规定的前提下，未经甲方事先书面同意，乙方不应对甲方的任何数据（包括但不限于顾客数据库）进行使用、披露、转让，包括但不限于以复制、传播等方式使用在萌店网站上展示的任何资料。
                                </strong>
                                <br/>
                                6.3    除适用的法律法规另有明确规定或本协议另有明确规定（包括但不限于本协议第6.2款的规定）外，甲方或乙方应对其在本协议签订、履行过程中所获知的对方各项信息，包括但不限于本协议内容、签约和履行主体、框架、条款和附件、财务信息、商业信息、商业模式等（以下合称“保密信息”）承担严格的保密义务，直至保密信息进入公知领域时止。
                                <br/>
                            </p>
                            <p style="line-height:22px">
                                <strong>
                                    7.    反商业贿赂条款
                                    <br/>
                                    7.1    甲乙双方都清楚并愿意严格遵守中华人民共和国反商业贿赂的法律规定及其他适用的法律法规的规定，双方都清楚任何形式的行贿、索贿、居间贿赂行为都将触犯法律，并将受到法律的严惩。
                                    <br/>
                                    7.2    甲方或乙方均不得向对方或对方经办人或其他相关人员索要、收受、提供、给予本协议约定外的任何利益，包括但不限于明扣、暗扣、现金、购物卡、实物、有价证券、旅游或其他非物质性利益等，但如该等利益属于行业惯例或通常做法，则须在本协议中明示。
                                    <br/>
                                    7.3    甲方严格禁止甲方经办人员的任何商业贿赂行为。甲方经办人发生本条第7.2款所列示的任何一种行为，都是违反适用的法律法规规定和甲方公司制度的，都将受到有权机关和甲方的惩处。
                                    <br/>
                                    7.4    甲方郑重提示：甲方反对乙方或乙方经办人员为了本协议之目的与本协议以外的任何第三方发生本条第7.2款所列示的任何一种行为，该等行为都是违反适用的法律法规规定和甲方公司制度的行为，并将受到有权机关和甲方的惩处。
                                    <br/>
                                    7.5    如因一方或一方经办人违反上述第7.2款、第7.3款、第7.4款之规定，给对方造成损失的，应承担损害赔偿责任。
                                    <br/>
                                    7.6    本条所称“其他相关人员”是指甲乙双方经办人以外的与本协议有直接或间接利益关系的人员，包括但不仅限于本协议经办人的亲友。
                                    <br/>
                                    7.7    在适用的法律法规允许的最大限度内，乙方有义务配合甲方发起的商业贿赂调查和审计项目，且有义务提供相关交易的原始财务凭证、会计资料及其他甲方要求的文件、资料及信息。如乙方实施商业贿赂行为，经有权机关、甲方及/或任何其他有权方查证属实的，乙方应当承担由此引发的全部责任，并承担全部赔偿、成本和费用（包括但不限于甲方及/或甲方委托的任何他方发生的全部调查成本和费用）。
                                    <br/>
                                    7.8    如任何一方发现存在违反本第7条规定的任何情形，应及时向有权机关、甲方及/或任何其他有权方举报。
                                    <br/>
                                </strong>
                            </p>
                            <p style="line-height:22px">
                                <strong>
                                    8.    违约责任
                                    <br/>
                                    8.1    若经甲方查证属实或任何他方（包括但不限于顾客/萌主）向甲方投诉乙方存在下列情形的：销售侵权、假冒伪劣商品的；销售方式、宣传图片等侵权或违法的；销售及/或提供国家禁止流通、限制流通商品及/或服务的；销售及/或提供其他非法商品及/或服务的；商品及/或服务被有权机关检测出有质量问题的；商品及/或服务存在其他根据适用的法律法规规定、本协议约定等判定为不宜继续销售或提供的情形的；甲方可采取下述部分或全部处理措施：
                                    <br/>
                                    (1)    甲方对相应商品及/或服务进行下架处理，并通知乙方提供相关证明文件，乙方应在甲方要求的时间内提供。若乙方不能提供的，甲方有权解除本协议，并有权要求乙方承担赔偿责任（包括但不限于赔偿、支付由此给甲方造成的损失、调查成本和费用）；
                                    <br/>
                                    (2)    若经查投诉属实，甲方有权解除本协议，可视乙方的违约情形要求乙方支付违约金，违约金不能弥补甲方损失的部分，甲方有权向乙方追偿；同时甲方有权扣除乙方的保证金。
                                    <br/>
                                    8.2    乙方如出现下列情形，包括但不限于：商品及/或服务缺、断货，顾客/萌主投诉问题未解决，未能履行销售或促销承诺，未及时送货，随意取消顾客订单等，甲方有权解除本协议，同时甲方保留向乙方追索由此造成的全部直接或间接损失的权利。如因前述原因导致乙方被甲方处罚或停止合作，乙方仍需继续履行售后服务义务并对已售出商品及/或服务承担全部责任（包括但不限于赔偿由此给顾客、甲方及/或任何他方造成的损失）。
                                    <br/>
                                    8.3    除本协议另有明确约定外，在本协议有效期内，未经甲乙双方协商一致，乙方不得擅自终止本协议，不得擅自将网上店铺经营权等相关权益转让给任何他方及/或与任何他方合作经营；否则，甲方有权解除本协议，乙方应负责承担全部责任（包括但不限于赔偿由此给甲方、顾客及/或任何他方造成的全部损失）。
                                    <br/>
                                    8.4    如乙方提供的文件、资料及/或信息（包括但不限于乙方在萌店网站(包括但不限于商家后台)上输入、上传的文件、资料及/或信息）不合法、无效或失效、不真实、不准确、及/或不完整的（包括但不限于乙方提供虚假失效文件、未及时提供更新后的文件等），由此产生的任何争议、纠纷、处罚、诉讼、仲裁、投诉、索赔等均由乙方自行负责处理并承担全部法律责任（包括但不限于赔偿由此给顾客、甲方及/或任何他方造成的全部损失），并且甲方有权立即终止乙方使用相关账户的权利，及/或终止与乙方的部分或全部合作。
                                    <br/>
                                    8.5    除本协议另有约定外，若乙方违反适用的法律法规规定和本协议的约定，乙方同意甲方有权对其采取包括但不限于删除、屏蔽、断开链接、关闭网上店铺、冻结商家账户、冻结或扣除部分或全部保证金、冻结或扣除部分或全部其他待结算款项、终止部分或全部合作、要求乙方支付赔偿（包括但不限于由此产生的全部诉讼费用和律师费）或违约金等的措施。如因乙方原因导致甲方被起诉、遭受有权机关查处及/或收到任何他方向甲方主张权利或索赔的，乙方应在符合适用的法律法规规定的最大限度内，大力协助甲方处理并承担全部法律责任并使甲方免受损害、损失、处罚、赔偿，包括但不限于：乙方应根据甲方的要求，为甲方辩护、与甲方一起参加诉讼及/或授权甲方及/或甲方委托的他方代表乙方进行诉讼、及/或乙方负责自行处理全部事宜，同时，乙方应按有权机关、甲方及/或任何他方的要求提供全部证明文件；且，乙方应向有权机关、甲方及/或任何他方支付赔偿、处罚款项、成本、费用等（包括但不限于甲方由此发生的全部成本、费用、损失）。
                                    <br/>
                                    8.6    如甲方发现乙方有故意诋毁或损害甲方声誉的言行或行为的，甲方有权立即终止本协议，乙方应负责妥善处理以恢复甲方声誉并承担全部法律责任（包括但不限于乙方应赔偿由此给甲方造成的全部损失）。
                                </strong>
                                <br/>
                                8.7    乙方之代理人、受任人、受雇人、合伙人等的一切行为均代表乙方，乙方应对其代理人、受任人、受雇人、合伙人的行为承担法律责任。
                                <br/>
                                8.8    除适用的法律法规另有明确规定或本协议另有明确规定外，任何一方违反本协议约定的，应承担违约责任（包括但不限于赔偿由此给对方造成的损失）。
                                <br/>
                                8.9
                                <strong>合同在履行期间，乙方主动提出解约的，技术服务年费概不退还；因乙方违约造成甲方解除合同的，技术服务年费亦不退还。</strong>
                                <br/>
                            </p>
                            <p style="line-height:22px">
                                <strong>
                                    9.    不可抗力
                                    <br/>
                                    9.1    在适用的法律法规允许的最大限度内，甲方均不对由于因特网连接故障，电脑、通讯或其他系统的故障，电力故障，黑客攻击，罢工，暴乱，起义，骚乱，灾难性天气（包括但不限于火灾、洪水、风暴），爆炸，战争，政府行为，有权机关的命令及/或第三方的不作为而造成的不能服务、延迟服务、中断服务及/或其他未能本协议的约定提供服务的情形等及其造成的损失、成本、费用承担责任。
                                    <br/>
                                    9.2    在适用的法律法规允许的最大限度内，甲方无需向乙方或任何他方在使用服务时对甲方在传输或联络中的迟延、不准确、错误或疏漏等及因此而致使的损害、损失承担责任。
                                </strong>
                                <br/>
                                9.3    除本协议另有约定外，如任何一方迟延履行或未能履行其在本协议下的义务是由自然灾害（例如洪水、火灾、风暴、闪电、台风）、政府限制、政府管制、政府控制、延迟发放许可或批准、敌意或敌视的政府行为、市民暴动、或其他不能预见、不能避免、不能克服的原因（以下简称“不可抗力”）造成的，则该受影响方不对此迟延履行或未能履行承担责任，但应立即通知另一方以避免损失扩大，且应在十（10）个工作日内向另一方提供有权机关的证明（如有）；否则，就相对方因此遭受的扩大的损失，须由遭受不可抗力的一方予以赔偿。
                                <br/>
                            </p>
                            <p style="line-height:22px">
                                <strong>
                                    10.    协议的成立、生效及期限
                                    <br/>
                                    10.1     本协议须同时满足下述条件方得成立：
                                    <br/>
                                    (1)    乙方接受本协议全部规定；
                                    <br/>
                                    (2)    乙方通过其银行账户向甲方银行账户全额支付诚信保证金和预付平台使用服务年费且经甲方认可该诚信保证金和预付平台使用服务年费的支付；
                                    <br/>
                                    (3)    甲方以书面形式通知乙方本协议成立。本协议自甲方以书面形式通知乙方之时方得成立。本协议一经成立，立即生效。
                                    <br/>
                                    10.2    本协议第10.1款约定的诚信保证金作为甲乙双方签署本协议的保证，本协议一经生效，则该诚信保证金即自动转为本协议项下的履约保证金。本协议第10.1款约定的预付平台使用服务年费为乙方预缴的使用网络交易平台服务的基本费用，本协议一经生效，则该预付平台使用服务年费即自动转为乙方使用网络交易平台的平台使用服务年费。如甲方确认本协议不予成立，则在乙方未损害甲方利益及/或未造成甲方损失的情况下，甲方将退还乙方诚信保证金和预付平台使用服务年费；否则，甲方有权在适用的法律法规允许的最大限度内，在扣除乙方应赔偿及/或支付给甲方的款项金额后，将诚信保证金和预付平台使用年费余额（如有）退还给乙方；如该诚信保证金和预付平台使用服务年费金额不足以弥补乙方应赔偿及/或支付给甲方的款项金额的，则就差额部分，乙方还应赔偿及/或支付给甲方。
                                    <br/>
                                    10.3    本协议首次有效期为一年。本协议首次有效期届满前30日内任何一方均无异议的，本协议将自动续展，每次续展的期限为一年；虽有前述约定，但如果双方在本协议有效期内另行签署新的萌店网络交易平台服务协议，则本协议自新的萌店网络交易平台服务协议生效之时自动失效。
                                    <br/>
                                </strong>
                            </p>
                            <p style="line-height:22px">
                                <strong>11.    协议的暂停与终止</strong>
                                <br/>
                                11.1    除本协议另有约定外，本协议有效期届满前30日内，本协议任何一方依据第10.3款的规定提出异议的，本协议自动终止。
                                <br/>
                                11.2    除本协议另有明确约定外，本协议任何一方均可以提前30日书面形式通知对方而终止本协议。
                                <br/>
                                <strong>
                                    11.3    除本协议另有明确约定外，如乙方违反本协议项下的任何约定，甲方有权立刻终止本协议，且按本协议的相关规定采取相关处理措施。
                                    <br/>
                                    11.4    除本协议另有约定外，因乙方与任何第三方之间存在争议，甲方认为其合法权益可能受到影响时，或出现本协议其他条款中规定的甲方可以解除本协议的情形时，甲方可以单方解除本协议。
                                </strong>
                                <br/>
                                11.5    除本协议另有约定外，本协议规定的其他协议终止条件发生或实现时，本协议终止。
                                <br/>
                                <strong>
                                    11.6    除本协议另有约定外，无论本协议因何种原因终止，在本协议终止前的乙方行为所导致的任何处罚、赔偿和责任，乙方必须完全且独立地承担。
                                    <br/>
                                    11.7    不论本协议是否另有规定，乙方认可，甲方有权根据业务发展的需要在及时通知或通过其代理人通知乙方的情况下暂停或终止本协议、暂停或终止提供本协议项下的服务、及/或将甲方在本协议项下的权利及/或义务部分或全部转让给第三方，但甲方应努力妥善解决由此引起的相关事宜。
                                </strong>
                                <br/>

                            </div>

                    <div class="m b-a xy xy_1" style="height:500px; overflow-y:scroll;padding:10px">
                        <p class="text-center m-t-sm"> <strong>萌店全球购平台服务协议</strong>
                        </p>
                        <p> <strong>重要须知：</strong>
                        </p>
                        <p style="text-indent: 2em">
                            <strong>《萌店全球购平台服务协议》（以下简称“本协议”）是由萌店平台（即mengdian.hk，以下简称“萌店平台”）的运营方即微盟电子商务有限公司（以下简称“甲方”）与商家（以下简称“乙方”）达成的关于提供和使用萌店网络交易平台（以下简称“网络交易平台”）服务的各项条款、条件和规则。</strong>
                        </p>
                        <p style="text-indent: 2em">
                            <strong>甲方在此特别提醒乙方认真阅读、充分理解本协议各条款（对于本协议中以加粗字体显示的内容，应重点阅读），并请乙方审慎考虑并选择接受或不接受本协议。如果乙方一经选择“我已阅读、同意并接受”选项并点击“同意以上文件并继续”按钮（前述选项、按钮的具体表述可能会做适当调整），即表示其已接受本协议，并同意受本协议各项条款的约束。如果乙方不同意本协议的任何约定，可以不予选择“我已阅读、同意并接受” 选项、不予点击“同意以上文件并继续”按钮（前述选项、按钮的具体表述可能会做适当调整），在此种情况下，乙方未予接受本协议，无法使用网络交易平台服务，亦无法登陆或使用相关账户。</strong>
                        </p>
                        <p style="text-center">
                            <strong>本“重要须知”为本协议正文的组成部分。</strong>
                        </p>
                        <p style="text-indent: 2em;line-height:22px;">
                            <strong>
                                本协议由协议正文、附件及依据本协议公示于“mengdian.hk”平台（以下简称“萌店全球购平台”）的各项规则所组成，协议附件及规则与本协议具有同等法律效力，如规则与本协议约定不一致的，以公布生效日期或签署日期在后的文件为准执行。
                            </strong>
                            本协议各条的标题仅为方便阅读而设，无意成为本协议的一部分，也不影响本协议的含义或解释。
                        </p>
                        <p style="line-height:22px">
                             第一条 相关定义及解释
                            <br/>
                            <strong>
                            1.1  萌店全球购：本协议中指 WEIMOB  E-COMMERCE LIMITED，简称为“萌店全球购”或甲方。 本协议由萌店全球购/甲方与乙方签署。
                            </strong>
                            <br/>
                            1.2“mengdian.hk”网站：指由“萌店全球购”提供技术支持和服务的域名为mengdian.hk 的网站。
                            <br/>
                            1.3   萌店全球购平台：指运行于“mengdian.hk”网站的开放平台，是“mengdian.hk”网站上为用户提供信息 发布、交流，第三方经营者开设店铺经营，进行电子商务交易的服务平台。
                            <br/>
                            1.4 “mengdian.hk”网站用户：指所有在“mengdian.hk”网站上注册成为“mengdian.hk”注册会员的法人、自然人及其他组织，本协议中统称为“用户”，除非另有说明，否则“用户”均指此含义。
                            <br/>
                            <strong>
                            1.5   商家注册及入驻：商家注册指欲成为“萌店全球购平台”的商家（本文或称“卖家”），依据“萌店全球购平台”入驻流程和要求完成在线信息提交，经“萌店全球购”审核同意后，商家可以使用设定的萌店全球购平台用户名和密码登陆“萌店全球购后台”，以开立店铺开展经营；商家入驻，亦称“店铺入驻” 指完成商家注册，通过资质审核且满足本协议第四条店铺服务开通条件后成功开设萌店全球购店铺的过程；本协议中的商家指本协议缔约方中的“乙方”。
                                <br/>
                                1.6   萌店全球购平台用户名：亦称“店铺用户名”，是指商家完成商家注册后获取的与自设密码共同使用以登陆“萌店全球购平台”商家管理系统，使用“萌店全球购平台”店铺服务的登陆账户，每一个萌店全球购平台用户名对应一个店铺。商家应妥善保管店铺用户名及密码信息，不得擅自转让或授权他人使用，并对其店铺用户名下的一切行为独立承担责任。
                            </strong>
                            <br/>
                            1.7   店铺：商家在完成商家注册及商家入驻流程后，为进行合法经营，依据协议约定和萌店全球购平台规则由乙方申请、“萌店全球购”审核通过的具有独立且唯一性 ID（英文 IDentity 的缩写，意为“身份标识号码”, 此处指“商家 ID”）、特定名称（可依据相关平台规则进行调整）的网络化虚拟商铺。乙方通过萌店全球购平台用户名可以实现对该店铺的管理，包括但不仅限于商品信息上传、修改、删除处理，交易跟踪、取消等。
                            <br/>
                            <strong>
                            1.8   萌店全球购平台规则：指公示在“萌店全球购平台”之上的，与商家经营有关的任何规范性文件，包括但不限于卖家公告、卖家帮助中心等。商家知晓并同意：甲方有权不时单方更新、调整、修订萌店全球购平台规则并不需另行通知商家； 所有经更新、调整、修订的相关规则将与“萌店全球购平台”上公布即生效，商家继续使用服务视为同意受其约束。如乙方不同意前述制定、修订、调整、及/或变更后的本协议正文及/或附件，须立即以正式书面盖章的通知方式向甲方提出异议，在此种情况下，甲方有权选择终止相关变更或立即与商户解约且甲方对于该等终止不负任何违约责任或其他责任，乙方应配合甲方协商本协议终止事宜（包括但不限于款项结算事宜(如有)）。如乙方未根据前述约定向甲方提出异议，登陆或继续使用萌店服务即视为乙方接受前述制定、修订、调整、及/或变更后的本协议正文及/或附件。
                            <br/>
                            1.9   诚信保证金：商家向“萌店全球购”缴纳的用以保证本协议履行及对商品和服务质量进行担保的金额，“萌店全球购”可以依照本协议的相关约定对其进行处置。
                            <br/>
                            1.10 平台技术服务年费：商家使用“萌店全球购平台”各项服务时按照本协议约定缴纳的固定交易技术服务费用。
                            <br/>
                            1.11 交易技术服务费：针对每一笔成功消费的订单，甲方按照“萌店全球购平台”规定的交易技术服务费费率向乙方收取的相应费用，费率的设定包含了客户使用支付宝、银联U付、微信支付产生的交易手续费；
                            </strong>
                        </p>
                        <p style="line-height:22px">
                            第二条 服务内容及乙方店铺经营方式
                            <br/>
                            2.1   甲方为乙方提供网络交易平台服务，乙方在甲方提供的网络交易平台上向顾客/萌主销售商品及/或提供服务。
                            <br/>
                            2.2   除上述服务内容外，乙方可使用本协议附件列明的其他甲方提供的有偿服务，具体服务内容以本协议附件约定或双方另行签署（含乙方同意相关有偿服务的电子协议等以数据电文形式签署）的文件约定 为准。
                            <br/>
                            2.3   乙方店铺经营方式：乙方作为销售者，其店铺内商品，均以乙方自身名义进行商品信息上传、展示、 咨询答复、商品销售、发票开具、物流配送服务及售后服务提供等；乙方销售及服务出现争议、纠纷、 相关机关、机构或有关方面调查时，由乙方以销售者身份处理。“萌店全球购”不参与乙方店铺的经营中， 除依据本协议相关约定外，不直接介入乙方与其他人间的争议和纠纷。
                        </p>
                        <p style="line-height:22px">
                            第三条 入驻条件及证明文件提交<br/>
                            3.1  入驻条件<br/>
                            乙方申请成为“萌店全球购平台”入驻商家，在“萌店全球购平台”开展经营活动，须持续满足以下条件：<br/>
                            1)     乙方是依据营业执照注册国的法律注册并领取合法有效的营业执照及其他经营许可，身份信息应 为商家自身情况的客观表现；<br/>
                            2)    乙方同意本协议及萌店全球购平台相关规则；<br/>
                            3)    乙方申请经营的商品来源合法，资质齐全；<br/>
                            4)    乙方已提供本协议 3.2 条要求提交的全部证明文件；<br/>
                            5)    乙方已按本协议 7.1.1 条规定中约定的费用数额全数支付平台技术服务年费、诚信保证金，并同意由“萌店全球购”通过系统自买家支付的货款中实时扣除交易技术服务费。<br/>
                            3.2   证明文件提交<br/>
                            3.2.1     乙方须根据萌店全球购平台相关规则及要求向甲方提交证明文件或其他相关证明，包括但不限于《乙方信息确认表》、《类目&费率表》、合法有效的企业法人营业执照正（副）本复印件、税务登记证明、授权委托书、乙方公司所在地的商标注册证明、质检报告、检验检疫证书、产品来源地证明等。<br/>
                            3.2.2     乙方保证向甲方提供的上述证明文件或其他相关证明真实、合法、准确、有效，并保证上述证 明文件或其他相关证明发生任何变更或更新时，及时通知甲方，若上述文件变更或更新导致乙方不符合本协议所规定入驻条件的，甲方有权单方全部或部分限制乙方经营，直至终止本协议。<br/>
                            3.2.3     乙方对其提交的证明文件或其他相应证明的真实性、合法性、准确性、有效性承担全部法律责 任，若因乙方提交虚假、过期文件或未及时更新或通知证明文件导致纠纷或被相关监管机关处罚的，由乙方独立承担全部法律责任，如因此造成萌店全球购（包括“萌店全球购”合作方、代理人或职员）损失的，乙方应予以赔偿。<br/>
                        </p>
                        <p style="line-height:22px">
                            第四条 店铺服务开通及停止<br/>
                            4.1   对于乙方拟开展经营的特定店铺，甲方在乙方提出开店申请并满足以下条件后 7 个工作日内为乙方开通服务，服务期以萌店全球购商家在线入驻系统显示为准。<br/>
                            1)     乙方已按照本协议及萌店全球购平台相关规则确定的金额和时间足额缴纳诚信保证金；<br/>
                            2)    乙方已按照本协议及萌店全球购平台相关规则提交证明文件或其他相关证明并已通过甲方审核；<br/>
                            3)    乙方已注册成为萌店全球购平台用户且本协议已签署生效；<br/>
                            4)    乙方已按照萌店全球购相关规则足额缴纳特定店铺相应服务期的平台使用费。<br/>
                            4.2   甲方为乙方开通服务后，乙方可利用萌店全球购平台用户名及自设密码登陆商家后台，根据萌店全球购平台相关规则及流程向本协议附件中涉及的乙方特定店铺上传、发布商品信息，与用户交流达成交易， 使用本协议约定的其他有偿服务等。<br/>
                            4.3   乙方店铺服务的停止：<br/>
                            <strong>
                            4.3.1 乙方需要停止店铺服务的，应至少提前七个工作日向甲方提出申请，经甲方审核同意后由甲方停 止该店铺的服务功能；为弥补甲方已投入的人力、物力和技术支持，乙方同意甲方不退还该店铺未到期部分对应的平台技术服务年费；<br/>
                            4.3.2 出现以下任一情形时，甲方有权随时停止乙方该店铺的服务；<br/>
                            4.3.2.1 乙方不满足入驻条件的；<br/>
                            4.3.2.2 乙方提供虚假资质文件的；<br/>
                            4.3.2.3 乙方产品价格、规格等信息标示错误，导致有关方面处罚、争议和纠纷的；<br/>
                            4.3.2.4乙方产品质量、标识不合格的，或者产品涉嫌走私、假冒伪劣、旧货、返修品的；<br/>
                            4.3.2.5 未经甲方事先审核产品品牌，而上传某品牌商品的；<br/>
                            4.3.2.6 乙方连续 30（三十）日或累计 45（四十五）日未正常经营店铺的；<br/>
                            4.3.2.7其他违反本协议约定或萌店全球购平台规则的，或者其他甲方认为侵犯萌店全球购或消费者权益的。<br/>
                            4.4   乙方未经甲方同意，擅自停止店铺经营，或者乙方因为出现 4.3.2 情形被甲方停止店铺服务的，为弥补甲方已投入的人力、物力和技术支持，乙方同意甲方不退还该店铺未到期部分对应的平台技术服务年费。<br/>
                            </strong>
                        </p>
                        <p style="line-height:22px">
                            第五条 双方权利及义务<br/>
                            5.1   “萌店全球购”根据本协议向乙方提供电子商务交易平台及相应技术支持服务，尽力维护“萌店全球购平台” 的正常稳定运行，并努力提升和改进技术，对平台功能及服务进行更新、升级，不断提升平台性能和交易效率。<br/>
                            5.2   “萌店全球购”对乙方在使用“萌店全球购平台”过程中遇到的问题及提出的建议和意见积极予以回复，可依乙方需求对其使用“萌店全球购平台”提供合理的指导和培训。<br/>
                            5.3   乙方同意“萌店全球购”根据乙方企业法人营业执照所载明的经营范围及乙方申请经营的经营类目，核实及调整乙方在“萌店全球购平台”经营的具体商品的种类、数量和类目范围。<br/>
                           <strong>
                            5.4   乙方同意“萌店全球购”或“萌店全球购”单方聘请第三方公司对乙方提供的相关资质文件及各类信息资料进行审核，乙方应积极配合。“萌店全球购”审核为形式审核，审核通过并不代表“萌店全球购”对审核内容的真实性、合法性、准确性、及时性的确认，乙方仍须对其提交的资料的 真实性、合法性、准确性、及时性等承担相应的法律责任。如果乙方拒绝承担相关费用，“萌店全球购” 有权选择从乙方未结算款项中扣除。<br/>
                           </strong>
                            5.5   质量控制<br/>
                            <strong>
                            5.5.1    为最大程度保障消费者权益，满足消费者对商品的质量要求，乙方有义务对其在“萌店全球购平台”销售的每款商品按照相应法律、行业标准及“萌店全球购”发布的各品类商品要求进行质量控制（包括且不仅限于商品法律法规符合性，商品安全性，商品功能材质与描述符合性，商品标识标示，商品外观，商品包装等）。“萌店全球购”有权以自身及/或普通消费者身份购买或使用乙方商品及/或服务，并且将其提供给第三方检测机构及/或品牌权利方进行商品及/或服务质量和品质检测（包括但不限于是否为正品真货检测）。<br/>
                            </strong>
                            5.5.2 尽管有“萌店全球购”为保障消费者权益而对乙方销售的商品有权自行或者委托第三方质检机构进行不定期商品抽检的规定，但并不意味着“萌店全球购”有义务对乙方在“萌店全球购平台”上的交易行为以及与 交易有关的其它事项进行事先审查的义务。<br/>
                            <strong>
                            5.5.3“萌店全球购”无义务对乙方在“萌店全球购平台”上的交易行为以及与交易有关的其它事项进行事先审查，但如存在下列任何情况：第三方通知甲方，认为乙方可能有任何侵权、违法或违反本协议或有关 规则的情况；或甲方有理由认为乙方可能有侵权或违法或违反本协议或有关规则的情况，则甲方有权 根据本协议或有关规则的规定对乙方采取相关执行行动，包括但不限于删除其在“萌店全球购平台”发布的 任何信息内容、对乙方店铺实行服务功能限制或停止对乙方提供服务。 甲方保留其就乙方的违法行为、侵犯他人合法权利、或违反本协议约定的情况向乙方提起法律程序的权利。<br/>
                                5.5.4 如果乙方所销售商品抽检不合格或无法向“萌店全球购”提供相关商品及批次质量合格的证明文件， “萌店全球购”有权根据本协议约定及所公示的商家规则，规范及标准，并且依据问题的严重程度对乙方进 行处罚及提出相应的限期整改要求。乙方必须配合限期整改及根据“萌店全球购”的要求进行指定商品的第三方检测，并完全承担因此产生的所有费用。乙方拒绝执行的，“萌店全球购”有权采取相关措施，包括且不仅限于停止乙方服务、终止本协议、要求乙方承担违约责任、损害赔偿等措施。<br/>
                            5.5.5 如果因乙方商品质量问题而导致“萌店全球购”产生损失（包括且不仅限于经济或声誉上的损失），“萌店全球购”有权要求乙方赔偿因此而产生的所有费用，并保留进一步追究乙方相应责任的权利。<br/>
                            </strong>
                            5.6  “萌店全球购”有权对乙方的注册信息、上传的相关数据信息、在“萌店全球购平台”发布的其他信息及交 易行为不时进行监督检查，若乙方在“萌店全球购平台”发布的信息属于以下信息及其相关内容，乙 方同意“萌店全球购”不经通知立即删除及按有关规则的规定采取任何相关的执行行动，<br/>

                            5.6.1以规避交易技术服务费用为目的的信息；<br/>
                            5.6.2以在“萌店全球购平台”上炒作信用、销量为目的的信息；<br/>
                            5.6.3“萌店全球购”有理由相信存在欺诈等恶意或虚假内容的信息；<br/>
                            5.6.4“萌店全球购”有理由相信与“萌店全球购平台”上交易无关的信息；<br/>
                            5.6.5“萌店全球购”有理由相信存在恶意竞价或其它试图扰乱“萌店全球购”正常交易秩序因素的信息；<br/>
                            5.6.6“萌店全球购”有理由相信信息为诽谤、中伤、恐吓或骚扰、猥亵、令人反感、有攻击性、色情或有 害于未成年人的；<br/>
                            5.6.7“萌店全球购”有理由相信属违反公共利益或可能严重损害“萌店全球购”和/或其它用户合法利益的信息。同时，若甲方有理由怀疑乙方违反本协议、有关规则或相关法律的任何条款，或对发现的其他问题或 疑问，有权向乙方发出询问及要求改正的通知，乙方应在接到通知后立即做出说明或改正。
                            对乙方前述不当行为，“萌店全球购”有权追究其违约、侵权责任并/或解除本协议<br/>
                            <strong>
                            5.7   “萌店全球购”有权将生效法律文书或行政文书确定的乙方违法违规事件，或乙方已确认的乙方违反本协议相关约定的事项，在“萌店全球购平台”上予以公示；乙方多次违规或者有严重违约、违规情形的，“萌店全球购”有权对其采取暂停店铺运营、扣除诚信保证金直至终止本协议等措施，上述措施不足以补偿甲方损失的，“萌店全球购”有权继续向乙方追偿。<br/>
                            </strong>
                                5.8   如乙方的运营情况不能满足“萌店全球购平台”要求，经限期整改调整后，仍无法满足平台运营条件的，“萌店全球购”有权解除本协议，停止向乙方提供服务。<br/>
                            5.9   “萌店全球购”有权根据市场情况及“萌店全球购平台”入驻商家经营情况组织相应的促销活动，乙方应根据自身经营情况及商品情况积极予以支持。<br/>
                            <strong>
                            5.10  “萌店全球购”有权要求乙方提供与乙方商品、售后服务等相关的信息，以便于客户直接向“萌店全球购平台”客服中心进行咨询时予以回复，对于“萌店全球购”无法回答或属乙方掌握的情况，“萌店全球购”有权要求乙方在指定的时限内予以回复或给出相应方案，对乙方未及时解决的客户咨询及投诉，“萌店全球购”有权对乙方采取相应处理措施。<br/>
                            5.11    如因乙方商品、发布的信息或提供的售后服务问题而引发客户对“萌店全球购”及/或“萌店全球购平台”的诉讼或仲裁，“萌店全球购”及/或“萌店全球购平台”有权披露乙方为实际商品的直接提供商，乙方应承担因客户诉讼而产生的全部法律责任，如因此而给“萌店全球购”及/或“萌店全球购平台”造成损失的，“萌店全球购” 有权要求乙方赔偿“萌店全球购”及“萌店全球购平台”的全部损失。<br/>
                            5.12    乙方同意并自愿遵守“萌店全球购”根据相关法律法规、政策及平台运营情况，对公示于“萌店全球购平台” 的流程、收费标准等进行更新、调整。更新、调整后的流程、收费标准等无需另行通知乙方，公布即自动生效。<br/>
                            5.13    乙方同意“萌店全球购”根据业务调整情况将本协议项下的权利和义务部分或全部转移给甲方相关关联公司，此种情况将会提前7天以网站公告的形式通知。<br/>
                            </strong>
                        <p style="line-height:22px">
                        第六条 乙方声明及保证<br/>
                        <strong>
                        6.1   保证在“萌店全球购平台”提交的注册资料真实、准确、合法、有效，对获得的与自设密码共同使用的萌店全球购平台用户名（店铺用户名）妥善保管，不得转让或授权他人使用，并对利用该用户名和密码所进行的一切活动负全部责任。<br/>
                        </strong>
                        6.2   保证符合本协议约定的入驻条件，保证向“萌店全球购”提交的证明文件及其他相关证明真实、准确、合法、有效，并保证在上述资料发生变更时及时通知甲方，并在“萌店全球购平台”上予以更新。<br/>
                        6.3   保证其有权利订立本协议，其代理人已获得充分授权，并对代理人的行为承担法律责任，同时乙方保证对其雇员、本协议约定的联系人及其他乙方委派的履行本协议的人员的行为承担法律责任。<br/>
                        6.4   保证遵守本协议及附件的相关约定和萌店全球购平台相关规则及流程，在使用“萌店全球购平台”相关服务时严格按照上述约定及规则和流程使用，不从事任何有损甲方利益的行为。<br/>
                        6.5   保证对在“萌店全球购平台”经营的商品拥有合法销售权，且为正品，商品质量合格，符合相关质量标准， 不侵犯任何第三方的合法权利，并对其商品质量及商品合法性独立承担全部法律责任。<br/>
                        6.6   保证在“萌店全球购平台”发布的商品信息真实、准确，符合萌店全球购平台规则及相关法律法规的规定， 与实际出售的商品一致，不含任何夸大或虚假内容，并对商品信息承担独立的完全的法律责任。若发布的上述信息变更的，乙方应及时在“萌店全球购平台”予以更新。若因信息未及时变更引起法律后果的， 乙方独立承担全部责任。<br/>
                        6.7   保证按照“萌店全球购平台”审核通过的商品类目和品牌经营，未经“萌店全球购”事先确认，不得擅自增加、 变更商品类目和品牌。保证按照萌店全球购平台规则及相关规定设置商品价格、售卖限制、库存数量、 商品说明及其他商品信息，并对上述设置独立承担全部法律责任。乙方同时保证在经营过程中，按照“萌店全球购平台”相关规则使用客服聊天工具，积极回复“萌店全球购”用户的咨询，并保证在用户提交订单后按要求发货。<br/>
                        6.8   保证向购买其商品的用户提供合法及正当进货来源凭证、货物清单票据，并保证自行承担快递运输费、 报关手续费及关税等。如因乙方无法提供合法及正当进货来源凭证、商品清单或者其他凭证问题引起 的纠纷，均由乙方独立承担相应的法律责任，如造成“萌店全球购”损失的，乙方应予以赔偿。<br/>

                        6.9   保证按照相关适用法律的规定、自身售后服务承诺及附件自主售后的相关要求，并提供一个中国大陆境内的指定运货地址供买家退还任何于萌店全球购平台上从乙方购买的商品，并对买家所购买的商品提供“修理、更换”等售后服务。<br/>
                        6.10保证在使用“萌店全球购平台”进行交易的过程中遵守诚实信用原则，不在交易中采取欺诈及虚假宣传、 混淆等不正当竞争行为，不扰乱网上交易的正常秩序，不从事与网上交易无关的行为。<br/>
                        6.11 保证不将从“萌店全球购平台”获取的任何数据用于本协议约定以外的用途，同时保证未经“萌店全球购”许可 不得擅自获取、使用、传播“萌店全球购平台”的任何资料，包括但不限于交易数据、用户信息、支付信息、“萌店全球购”其他用户展示于“萌店全球购平台”的信息等。<br/>
                       <strong>
                        6.12 同意授予“萌店全球购”全球通用（在法律许可范围内）的、免费的许可使用权利（并有权对该权利进行再授权），使“萌店全球购”有权（全部或部份地） 使用、复制、修订、改写、发布、翻译、分发、执行和展示 乙方公示于“萌店全球购平台”网络店铺的各类信息或制作其派生作品，和/或以现在已知或日后开发的任 何形式、媒体或技术，将上述信息纳入其它作品内。<br/>
                        6.13 乙方不得在“萌店全球购平台”发布任何吸引“萌店全球购”用户到其他平台或乙方自身网络销售平台或渠道进行交易的信息，也不得在配送包裹中夹带此类吸引“萌店全球购”用户的信息。<br/>
                        6.14 乙方不得隐瞒任何可能对“萌店全球购平台”产生风险的事项，包括但不限于产品出现设计缺陷、质量瑕疵、权利纠纷、重大违约、上传资料包含病毒木马等，若乙方发生此类影响萌店全球购平台商誉、正常经营、安全的事项而乙方未及时通知甲方的，“萌店全球购”有权解除本协议并追究乙方违约、侵权责任。<br/>
                        6.15 乙方不得将本协议项下权利义务全部或部分转移给第三方；乙方聘请第三方代运营公司代表乙方运营店铺的，第三方代运营公司的一切行为均视同为乙方亲自实施，由乙方承担全部法律后果；乙方与第 三方代运营公司间的权利义务关系由乙方与第三方代运营公司单独解决，不得影响到“萌店全球购”及其他用户的权利。
                       </strong>
                        </p>
                        <p style="line-height:22px">
                            第七条 费用及结算<br/>
                            7.1   乙方应按向“萌店全球购”支付下述费用：<br/>
                            7.1.1    平台技术服务年费<br/>
                            1)  平台技术服务年费按乙方店铺相应服务期期间缴纳；<br/>
                            2)  乙方店铺续展的，乙方应在续展期前十五个工作日内缴纳续展期间平台技术服务年费。<br/>
                            7.1.2    交易技术服务费<br/>
                            针对每一笔成功消费的订单，甲方按照萌店全球购平台公布的交易技术服务费费率向乙方收取的相应费用。<br/>
                            7.1.3     结算手续费<br/>
                            结算手续费：提现时银行打款所产生的手续费。如商家对币种有特殊需求，产生的汇差由商家承担。<br/>
                            7.1.4     其他费用<br/>
                            本协议附件或甲乙双方补充协议（若有）约定的乙方应向“萌店全球购”支付的其他费用，按照附件或补充协议（若有）的约定收取。<br/>
                            7.2   甲乙双方按照下述约定对乙方在“萌店全球购平台”完成交易的货款进行结算：<br/>
                            7.2.1     乙方同意并授权“萌店全球购”代收货款：买家通过“萌店全球购平台”与乙方进行交易的，货款支付至甲方账户。<br/>
                            7.2.2     结算款：结算期间的提现款项总和减去结算手续费。<br/>
                            7.2.3     结算期间：指每月两个结算日之间的期间。<br/>
                            7.2.4     结算日：每月6日与20日为结算日（结算日遇休息日或法定节假日的，顺延至休息日或法定节假日结束后的第一个工作日）。<br/>
                            7.2.5     提现方式：萌店全球购在结算日将结算款支付至乙方指定的账户；<br/>
                            7.2.6     所有交易均使用美元（$）进行结算。<br/>
                            7.3    结算账户
                        <table rules="all" frame="box" style="width:80%;">
                            <tr style="width: 100%;height: 30px;">
                                <td style="width: 30%;">公司名称（中文）</td>
                                <td style="width: 70%;">微盟電子商務有限公司</td>
                            </tr>
                            <tr style="width: 100%;height: 30px;">
                                <td>公司名称（英文）</td>
                                <td>WEIMOB E-COMMERCE LIMITED</td>
                            </tr>
                            <tr style="width: 100%;height: 30px;">
                                <td>银行账户</td>
                                <td>787 725597 883</td>
                            </tr>
                            <tr style="width: 100%;height: 30px;">
                                <td>开户银行</td>
                                <td>恒生银行有限公司</td>
                            </tr>
                            <tr style="width: 100%;height: 30px;">
                                <td>开户银行（英文）</td>
                                <td>Hang Seng Bank Limited</td>
                            </tr>
                            <tr style="width: 100%;height: 30px;">
                                <td>银行地址</td>
                                <td>83 Des Voeux Road Central Hong Kong</td>
                            </tr>
                            <tr style="width: 100%;height: 30px;">
                                <td>SWIFT CODE（8位）</td>
                                <td>HASEHKHH</td>
                            </tr>
                            <tr style="width: 100%;height: 30px;">
                                <td>SWIFT CODE（11位）</td>
                                <td>HASEHKHHXXX</td>
                            </tr>
                            <tr style="height: 30px;width: 100%;">
                                <td colspan="2">款项由美国汇出时需要提供CHIPS No. 010522</td>
                            </tr>
                        </table>
                        </p>
                        <br/>
                        <p style="line-height:22px">
                            第八条 保密<br/>
                            8.1   甲乙双方对于本协议的签订、内容及在履行本协议期间所获知的另一方的商业秘密负有保密义务。非经对方事先书面同意，任何一方不得向第三方（关联公司除外）泄露、给予或转让该等保密信息。（根据法律、法规、证券交易所规则向政府、证券交易所和/或其他监管机构提供、双方的法律、会计、商业及其他顾问、雇员除外）。<br/>
                            8.2   如对方提出要求，任何一方均应将载有对方保密信息的任何文件、资料或软件等，在本协议终止后按 对方要求归还对方，或予以销毁，或进行其他处置，并且不得继续使用这些保密信息。<br/>
                            8.3   在本协议终止之后，各方在本条款项下的义务并不随之终止，各方仍需遵守本协议之保密条款，履行 其所承诺的保密义务，直到其他方同意其解除此项义务，或事实上不会因违反本协议的保密条款而给 其他方造成任何形式的损害时为止。<br/>
                            8.4   任何一方均应告知并督促其因履行本协议之目的而必须获知本协议内容及因合作而获知对方商业秘密的雇员、代理人、顾问等遵守保密条款，并对其雇员、代理人、顾问等的行为承担责任。
                        </p>
                        <p style="line-height:22px">
                            第九条 违约责任<br/>
                            <strong>
                            9.1   乙方向甲方提供虚假、失效的证明文件或其他相关证明，在“萌店全球购平台”发布错误、虚假、违法及不良信息或进行其他违反本协议约定的行为，给甲方及/或“萌店全球购平台”造成任何损失的（损失包括但不限于诉讼费、仲裁费、律师费、赔偿、补偿、行政机关处罚、差旅费等），乙方同意甲方自乙方缴纳的诚信保证金及未结算货款中直接予以扣除，本协议另有约定的除外。<br/>
                            9.2   乙方不论采取何种方式将甲方消费者吸引到甲方平台以外的平台或场所进行交易或绕开甲方指定付款方式进行交易的，以及非法获取“萌店全球购”系统数据、利用“萌店全球购平台”谋取不正当利益或从事非法活动的，甲方有权扣除乙方全部诚信保证金作为违约金，并保留向乙方继续追究违约责任的权利。<br/>
                            9.3   乙方承诺不在甲方平台销售水货、假货、旧货、不合格产品等非正品新货，否则甲方有权要求乙方支付所涉商品在甲方平台销售额的 10 倍的违约金或者壹万元人民币违约金，二者以高者为准，同时甲方有权对乙方采取暂停向乙方提供服务、暂时关闭乙方后台管理账户、暂缓支付未结算款项、终止合作等措施。违约金不足以弥补甲方损失的，乙方还应全部赔偿（包括但不限于甲方对客户的赔偿、补偿、 行政部门的处罚、律师费、诉讼费、仲裁费、鉴定费、差旅费等）。上述违约金的支付并不影响甲方依本协议及附件和/或补充协议（若有）的约定扣除相应的诚信保证金。<br/>
                            </strong>
                            9.4   乙方发生违反本协议及萌店全球购平台规则的情形时，甲方除有权按照本条约定要求乙方承担违约责任外，还有权按照“萌店全球购平台”相关管理规则采取商品立即下架、暂停向乙方提供服务、暂时关闭乙方后台管理账户、暂缓支付未结算款项、终止合作等措施。
                        </p>
                        <p style="line-height:22px">
                            第十条 有限责任及免责<br/>
                            10.1    不论在何种情况下，“萌店全球购”均不对由于电力、网络、电脑、通讯或其他系统的故障、罢工（含内部罢工或劳工骚乱）、劳动争议、暴乱、起义、骚乱、生产力或生产资料不足、火灾、洪水、风暴、 爆炸、战争、政府行为等不可抗力，国际、国内法院的命令或第三方的不作为而造成的不能服务或延迟服务承担责任。<br/>
                            10.2    本协议项下服务将按“现状”和按“可得到”的状态提供，“萌店全球购”在此明确声明对服务不作任何明示或暗示的保证，包括但不限于对服务的可适用性、没有错误或疏漏、持续性、准确性、可靠性、适用于某一特定用途。<br/>
                            10.3    使用“萌店全球购平台”服务下载或者获取任何资料的行为均出于乙方的独立判断，并由其自行承担因此而可能产生的风险和责任。<br/>
                           <strong>
                            10.4    甲方法律地位声明：“萌店全球购”仅为向乙方及“萌店全球购”其他用户进行网上交易活动提供交易平台的平台服务提供商，并非乙方与通过“萌店全球购平台”购买乙方商品的“萌店全球购”其他用户之间交易行为的参与方，“萌店全球购”不对乙方及参与交易的“萌店全球购”其他用户的任何口头、书面陈述或承诺， 发布的信息及交易行为的真实性、合法性、准确性、及时性、有效性等作任何明示或暗示的保证，亦不承担任何法律责任。若因乙方与参与交易的“萌店全球购”其他用户之间的交易行为引起的任何法律纠纷，包括但不限于投诉、起诉、举报及税赋等，均由参与交易的双方解决，与“萌店全球购”及/或“萌店全球购平台”无关。但，乙方怠于履行义务时，“萌店全球购”有权介入乙方与“萌店全球购”其他用户间的争议，依据一般人的认知程度对该争议进行判断和处置，乙方应当予以执行。<br/>
                           </strong>
                            10.5    不可抗力处理：如本协议履行期间，甲乙双方任何一方遭受不可抗力，均应在遭受不可抗力后尽快通知对方，并于通知之日起 15 日内提供相关证明文件，不可抗力持续达到三十日的，任一方有权经通知对方提前终止本协议。因不可抗力原因而导致本协议中止、终止的，双方均不须向对方承担违约责任。
                        </p>
                        <p style="line-height:22px">
                            第十一条 协议效力及有效期<br/>
                            11.1    本协议仅对附件特定店铺开展的相关业务具有法律约束力，不对甲乙双方开展的同等或类似业务具有法律约束力，如甲乙双方同时开展同等或类似业务，双方应依据另行签订的协议执行。<br/>
                           <strong>
                            11.2    本协议自甲方向乙方发送《签约确认书》之日起生效，有效期至店铺的第一个服务期到期日止。本协议首次有效期为一年。本协议首次有效期届满前30日内任何一方均无异议的，本协议将自动续展，每次续展的期限为一年；虽有前述约定，但如果双方在本协议有效期内另行签署新的萌店全球购平台服务协议，则本协议自新的萌店全球购平台服务协议生效之时自动失效。
                           </strong>
                        </p>
                        <p style="line-height:22px">
                            第十二条 协议的变更<br/>
                            12.1    本协议或相关补充协议（若有）中约定的费用，甲方有权根据平台运营情况、乙方经营情况及市场情况提前 7 日通知乙方进行变更，双方签署补充协议予以确认。若乙方不同意变更的，应于甲方发出变更通知后 7日内向甲方发出终止协议的书面通知，本协议自甲方收到乙方发出的书面终止通知之日起终止。<br/>
                            12.2    本协议其他条款变更或增加新的条款的，均须经缔约双方协商同意并签署书面补充协议，补充协议一经签署，即构成本协议的组成部分，与本协议具有同等法律效力。
                        </p>
                        <p style="line-height:22px">
                            第十三条 协议的终止及解除<br/>
                            13.1   本协议在下述情形下自然终止：<br/>
                            1)  本协议相关补充协议（若有）中确认的服务期届满，而甲乙双方未在服务期满后 1 个月内完成新的服务期续展的；<br/>
                            2)  双方签署新协议替代本协议的；<br/>
                            3)  乙方店铺服务停止或被停止持续时间达到一个月的。
                            <strong>
                            13.2   除本协议另有约定外，缔约双方中任一方在本协议有效期内提前终止本协议的，须提前 15 天以书面形式通知对方，经对方同意后双方签署书面补充协议终止本协议。本协议签署后，为使乙方顺利开展经营，甲方已提供人力、物力、技术支持和服务，如因前述原因导致本协议提前终止的，乙方同意甲方不退还已缴纳的平台技术服务年费，未缴纳的，乙方同意足额缴纳。<br/>
                            13.3   乙方有下述情形时，甲方可单方解除本协议：
                            </strong>
                            1)  乙方店铺未正常经营，在服务期内累计达到 45（四十五）日或者连续达到 30（三十）日的；<br/>
                            2)  乙方违反本协议约定或者萌店全球购平台规则规定的相关义务，经甲方通知后拒不改正的；<br/>
                            3)  本协议约定的其他甲方可单方解除本协议的。<br/>
                            13.4   协议终止后后续事项的处理<br/>
                            13.4.1   本协议终止，则双方不再依据本协议约定开展新的业务合作，但并不影响结算条款、保密条款、 责任承担条款、声明与保证条款、反商业贿赂条款、争议解决条款等的法律效力，相关权利义务双方仍应继续承担并切实履行。<br/>
                            13.4.2   自本协议终止之日起，甲方将关闭乙方“萌店全球购平台用户名”账户权限，并对乙方商品全部下架，乙方将无法再通过该账户对店铺进行任何形式的操作。<br/>
                            13.4.3   本协议终止后，甲方有权保留乙方的注册信息及交易行为记录等数据，但甲方没有为乙方保留 这些数据的义务，亦不承担在协议终止后向乙方或第三方转发任何未阅读或未发送的信息的义务，也不就协议终止向乙方或任何第三方承担责任。法律另有规定的除外。<br/>
                            13.4.4   自本协议终止之日起三十日内，甲乙双方进行退场清算，包括但不限于财务对账及在途货物的 处理。<br/>
                            13.4.5   在途货物指双方合作终止前，客户已购买但尚未交付的商品，对于此类商品，乙方仍应按照合 作终止前的流程交付并结算。<br/>
                           <strong>
                            13.4.6   本协议终止，并不免除乙方依据本协议应向客户承担的售后服务及产品保证责任，乙方仍应按 照本协议附件关于售后服务的相关约定履行售后服务义务及产品质量保证责任；如在甲乙双方合作终止后，因乙方商品质量问题或售后服务问题而导致“萌店全球购”或其他第三方人身或财产损失的，乙方仍应独立承担全部责任。
                           </strong>
                        </p>
                        <p style="line-height: 22px;">
                            第十四条 通知及送达<br/>
                            14.1    一方发给另一方的与本协议有关的通知及其他通信均应通过书面以专人送达、航空挂号信、国际快递或传真、电子邮件形式送达。以传真、电子邮件发送的，发送当日为送达日，以邮资预付的挂号信件， 特快专递寄送的，签收日为送达日。<br/>
                            14.2    若一方变更联系方式而未以书面形式通知另一方的，因通知延误或不能送达而造成的损失由联系方式变更一方承担。
                        </p>
                        <p style="line-height: 22px;">
                            第十五条 争议解决<br/>
                            15.1    凡因本协议引起的或与之相关的争议、纠纷或索赔、包括违约、协议的效力和终止，双方均应根据提交仲裁通知时有效的《香港国际仲裁中心机构仲裁规则》，在香港仲裁解决。仲裁员人数为三（3）名，仲裁语言为中文。<br/>
                            15.2    本协议的签订、解释、变更、履行及争议的解决等均适用香港现行有效的法律，任何条款无效或违反香港法律不影响本协议其他条款的效力。
                        </p>
                        <p style="line-height: 22px;">
                            第十六条反商业贿赂条款<br/>
                            16.1    甲乙双方都清楚并愿意严格遵守香港的法律规定，双方都清楚任何形式的行贿、索贿、居间贿赂行为都将触犯法律，并将受到法律的严惩。<br/>
                            16.2    甲方或乙方均不得向对方或对方经办人或其他相关人员索要、收受、提供、给予本协议约定外的任何利益，包括但不限于明扣、暗扣、现金、购物卡、实物、有价证券、旅游或其他非物质性利益等，但如该等利益属于行业惯例或通常做法，则须在本协议中明示。<br/>
                            16.3    甲方严格禁止甲方经办人员的任何商业贿赂行为。甲方经办人发生本条第16.2款所列示的任何一种行为，都是违反适用的法律法规规定和甲方公司制度的，都将受到有权机关和甲方的惩处。<br/>
                            16.4    甲方郑重提示：甲方反对乙方或乙方经办人员为了本协议之目的与本协议以外的任何第三方发生本条第16.2款所列示的任何一种行为，该等行为都是违反适用的法律法规规定和甲方公司制度的行为，并将受到有权机关和甲方的惩处。<br/>
                            16.5    如因一方或一方经办人违反上述第16.2款、第16.3款、第16.4款之规定，给对方造成损失的，应承担损害赔偿责任。<br/>
                            16.6    本条所称“其他相关人员”是指甲乙双方经办人以外的与本协议有直接或间接利益关系的人员，包括但不仅限于本协议经办人的亲友。<br/>
                            16.7    在适用的法律法规允许的最大限度内，乙方有义务配合甲方发起的商业贿赂调查和审计项目，且有义务提供相关交易的原始财务凭证、会计资料及其他甲方要求的文件、资料及信息。如乙方实施商业贿赂行为，经有权机关、甲方及/或任何其他有权方查证属实的，乙方应当承担由此引发的全部责任，并承担全部赔偿、成本和费用（包括但不限于甲方及/或甲方委托的任何他方发生的全部调查成本和费用）。<br/>
                            16.8    如任何一方发现存在违反本第16条规定的任何情形，应及时向有权机关、甲方及/或任何其他有权方举报。
                        </p>
                        <p style="line-height: 22px;">
                            第十七条 其他约定<br/>
                            17.1    本协议的任何一方未能及时行使本协议项下的权利不应被视为放弃该权利，也不影响该方在将来行使该权利。<br/>
                            17.2    如果本协议中的任何条款无论因何种原因完全或部分无效或不具有执行力，或违反任何适用的法律， 则该条款被视为删除。但本协议的其余条款仍应有效并且有约束力。<br/>
                            17.3    本协议是缔约双方之间关于本协议中提及合作事项的完整的、唯一的协议，本协议取代了任何先前的关于该合作事项的协议和沟通（包括数据电文形式、书面形式和口头形式）。
                        </p>
                        <p style="line-height: 22px;">
                            第十八条 本协议附件清单<br/>
                            本协议附件清单如下：<br/>
                            附件一：《消费者权益保障服务条款》<br/>
                            附件二：《全球购产品售后服务规则》
                        </p>

                    </div>


                            <form class="form-horizontal form-validate" method="post" action="/api/form/ajaxform">
                                <div class="form-group">
                                    <div class="col-sm-10 m-l">
                                        <label class="checkbox">
                                            <input type="checkbox" checked="" name="agree"  />
                                            我已阅读、同意并接受《萌店网络交易平台服务协议》
                                        </label>
                                        <input type="hidden" id="protocolType" name="protocolType" >
                                        <input type="hidden" id="companyBody" name="companyBody" >
                                        <input type="hidden" id="paymentChannel"  name="paymentChannel">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-4 m-l">
                                        <button type="submit" data-msg="您未勾选同意我们的协议" class="btn btn-primary js_agreement_btn" data-loading-text="保存中...">签署</button>
                                        <button type="button" class="btn btn-default" data-toggle="back">取消</button>
                                    </div>
                                </div>

                            </form>
                        </div>

                    </div>

                </section>

            </section>

    <div class="modal fade in" id="js_changename_modal" tabindex="-1" role="dialog" style="z-index:1051">
        <div class="modal-dialog" style="width:460px">
            <div class="modal-content">
                <form class="form-horizontal form-modal" action="#">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title">选择你要签署的协议类型</h4>
                    </div>
                    <div class="modal-body" style="max-height: 380px; overflow-y: auto">
                        <div class="step-list-opr" style="float: left;margin-left: 45px;">
                            <a class="btn" href="javascript:;">非全球购入驻协议</a>
                        </div>
                        <div class="step-list-opr" style="float: right;margin-right: 45px;">
                            <a class="btn btn-disabled" href="javascript:;">全球购入驻协议</a>
                        </div>
                    </div>
                    <a href="http://zs.mengdian.com/index/services/1" target="_blank" class="helpBtn">我该如何选择？</a>
                    <div class="modal-footer">
                        <button data-bb-handler="confirm" type="button" class="btn btn-primary">确认</button>
                        <button data-bb-handler="cancel" type="button" class="btn btn-default">取消</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="modal fade in" id="js_changename_modal2" tabindex="-1" role="dialog" style="z-index:1051">
        <div class="modal-dialog" style="width:460px">
            <div class="modal-content">
                <form class="form-horizontal form-modal" action="#">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title">您已选择全球购入驻协议</h4>
                    </div>
                    <div class="modal-body" style="max-height: 380px; overflow-y: auto">
                        <div class="form-group">
                            <label style="width: 160px;" class="col-sm-2 control-label">您的公司主体属于：</label>
                            <div class="col-sm-10">
                                <label class="radio-inline gngszt">
                                    <input id="gjgszt" type="radio" name="sjfw" value="0" checked="checked" data-toggle="specification-enable" data-enable="false">国际公司主体
                                </label>
                                <label class="radio-inline gngszt">
                                    <input type="radio" name="sjfw" value="1" data-toggle="specification-enable" data-enable="true">国内公司主体
                                </label>
                            </div>
                        </div>
                        <div class="form-group" id="gngszt_nr">
                            <label style="width: 160px;" class="col-sm-2 control-label">请选择订单支付渠道：</label>
                            <div class="col-sm-10">
                                <label class="radio-inline">
                                    <input id="gnzf" type="radio" name="sjfw1" value="0" checked="checked" data-toggle="specification-enable" data-enable="false">国内支付
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="sjfw1" value="1" data-toggle="specification-enable" data-enable="true">国际支付
                                </label>
                            </div>
                        </div>
                    </div>
                    <a href="http://www.vd.cn/ws-article/list.html" target="_blank" class="helpBtn">我该如何选择？</a>
                    <div class="modal-footer">
                        <button data-bb-handler="confirm" type="button" class="btn btn-primary">保存</button>
                        <button data-bb-handler="cancel" type="button" class="btn btn-default">取消</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

            <script src="/assets/javascripts/sea-modules/seajs/seajs/2.2.0/sea.js?v=1201405081146"></script>
            <script src="/assets/javascripts/seajs_config.js?v=1201405081146"></script>
            <script type="text/javascript">
    seajs.use(["dist/application/app.js","dist/management/init.js"])

    window.auto = false;
    </script>
</body>

        </html>