<!DOCTYPE html>
<html lang="cn" class="app fadeInUp animated">
<head>
    <meta charset="utf-8" />
    <title>V店</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <link href="/assets/stylesheets/bootstrap.min.css" rel="stylesheet" />
    <link href="/assets/stylesheets/animate.min.css" rel="stylesheet" />
    <link href="/assets/stylesheets/font-awesome.min.css" rel="stylesheet" />
    <link href="/assets/stylesheets/style.min.css" rel="stylesheet" />
    <link href="/assets/stylesheets/page/formwizard.css" rel="stylesheet" />
    <link href="/assets/stylesheets/plugins/daterangepicker/daterangepicker-bs3.min.css" rel="stylesheet" />
    <link href="/assets/stylesheets/page/goods.css" rel="stylesheet" />
    <link href="/assets/stylesheets/page/formwizard.css" rel="stylesheet" />
    <!--[if lt IE 9]><script src="/assets/javascripts/ie8/inie8.min.js"></script><![endif]-->
    <script type="text/javascript">
    var _speedMark = new Date(),
        www_version = 1201405081146;
    </script>
    <style type="text/css">
    .m-20{margin-left: -20px;}
    </style>
</head>
<body>
    <section class="vbox">
        <header class="header bg-white b-b b-light">
          <p>编辑满减/满送活动</p>
        </header>
        <section class="scrollable  wrapper">
            <section class="panel panel-default">
                <div class="panel-body">
                    <div class="form-horizontal form-wizard" >
                        <div class="step" id="thirdStep">
                            <ul class="wizard-steps steps-3">
                                <li>
                                    <div class="single-step">
                                      <span class="title">1</span>
                                      <span class="circle"></span>
                                      <span class="description">设置活动信息</span>
                                    </div>
                                </li>
                                <li>
                                    <div class="single-step">
                                        <span class="title">2</span>
                                        <span class="circle"></span>
                                        <span class="description">设置活动详情</span>
                                    </div>
                                </li>
                                <li class='active'>
                                    <div class="single-step">
                                        <span class="title">3</span>
                                        <span class="circle">
                                          <span class="active"></span>
                                        </span>
                                        <span class="description">选择活动商品</span>
                                    </div>
                                </li>
                            </ul>
                            <div class="step-forms">
                                <div class="form-group">
                                    <label class="control-label pull-left m-l-lg">请选择活动商品：</label>
                                    <div class="col-sm-9">
                                        <label class="radio-inline pull-left"><input type="radio" class="js_goods_type" data-val="0" checked="" name="goods_type">部分商品参与</label>
                                        <label class="radio-inline pull-left"><input type="radio" class="js_goods_type" data-val="1" name="goods_type" data-msg="<strong>确定选定全场商品?</strong><p class='text-danger'>提示：选定全场商品，当设置满件减活动时，可能会出现商品价格≤立减价格，这时需要顾客最低支付1元</p>">全部商品参与
                                        <span class="help-inline">（新添加的商品自动参加活动）</span>
                                        </label>
                                        <!--不能设置全场商品  （去掉 .hide 来显示）-->
                                        <a  class="pull-left inline-block m-t-xs hide" data-content="<h5>抱歉！您当前不能设置全场商品参与活动。
                                        </h5><p>提示：您已设置同时间段内的部分商品活动，因此不能再设置全场商品参加活动了。</p><p>如您需要设置全场商品参加活动，还请先关闭该时间段内的部分商品参加活动，谢谢。</p>" data-trigger="hover" data-placement="bottom" data-html="true" data-toggle="popover" href="javascript:;" data-original-title="" title="">
                                            <i class="fa fa-question-circle fa-lg m-l-xs"></i>
                                        </a>
                                        <!--不能设置部分商品  （去掉 .hide 来显示）-->
                                        <a class="pull-left inline-block m-t-xs hide" data-content="<h5>抱歉！您当前不能设置部分商品参与活动。
                                        </h5><p>提示：您已设置同时间段内的全场参加活动，因此不能再设置部分商品参加活动了。</p><p>如您需要设置部分商品活动，还请先关闭该时间段内的全场参加活动，谢谢。</p>" data-trigger="hover" data-placement="bottom" data-html="true" data-toggle="popover" href="javascript:;" data-original-title="" title="">
                                            <i class="fa fa-question-circle fa-lg m-l-xs"></i>
                                        </a>
                                    </div>
                                  
                                </div>
                                <section class="panel panel-default js_event_goods">
                                    <header class="panel-heading bg-light">
                                        <ul class="nav nav-tabs">
                                            <li class="active">
                                                <a href="#putaway" data-id="putaway" data-toggle="tab" data-path="/Plus/goodsajax.php?type=all">全部商品</a>
                                            </li>
                                            <li>
                                                <a href="#shelves" data-id="shelves" data-toggle="tab" data-path="/Plus/goodsajax.php?type=putaway">上架中</a>
                                            </li>
                                            <li class="hide">
                                                <a href="#selected" data-id="selected" data-toggle="tab" data-path="/Plus/goodsajax.php?type=selected">
                                                已选商品
                                                    <span class="js_goods_count_part">
                                                    （
                                                        <span class="js_goods_count">2</span>
                                                        ）
                                                    </span>
                                                </a>
                                            </li>
                                        </ul>
                                    </header>
                                    <div class="panel-body">
                                        <div class="tab-content"> 
                                            <div class="tab-pane active" id="putaway">
                                                <form class="form-horizontal" data-path="/Plus/goodsajax.php?type=all&s=search">
                                                    <div class="form-group">
                                                        <div class="col-sm-2">
                                                            <select class="form-control input-sm" name="alltype" data-type="ajaxSelectSearch">
                                                                <option value="">请选择商品分类</option>
                                                                    <optgroup label="服装鞋包" >
                                                                    <option value="1">男装</option>
                                                                    <option value="2">流行男鞋</option>
                                                                    <option value="3">女装</option>
                                                                    <option value="4">女鞋</option>
                                                                </optgroup>
                                                                <optgroup label="家用电器" >
                                                                    <option value="5">大家电</option>
                                                                    <option value="6">影音电器</option>
                                                                    <option value="7">生活电器</option>
                                                                    <option value="8">厨房电器</option>
                                                                    <option value="9">个人护理</option>
                                                                </optgroup>
                                                            </select>
                                                        </div>
                                                        <div class="col-sm-10 text-right">
                                                            <input type="text" style="width:180px;display: inline-block" class="input-sm form-control" name="allkey" placeholder="搜索活动名称" />

                                                            价格：
                                                            <input type="text" name="all_price1" style="width:60px;display: inline-block" onkeyup="this.value=this.value.replace(/[^0-9]/g,'');" class="form-control input-sm">
                                                          
                                                            &nbsp;—&nbsp;
                                                            <input type="text" name="all_price2" style="width:60px;display: inline-block" onkeyup="this.value=this.value.replace(/[^0-9]/g,'');" class="form-control input-sm">
                                                            
                                                           <button class="btn btn-sm btn-default" data-type="ajaxSearch" type="button" title="搜索" style="margin-top:-3px"><i class="fa fa-search"></i></button>
                                                        </div>
                                                    </div>
                                                    <div class="line line-dashed line-lg pull-in"></div>
                                                    <input type="hidden" class="js_order" name="putorder" value=""/>
                                                    <input type="hidden" class="js_orderfield" name="putorderfiled" value=""/>
                                                    <input type="hidden" class="js_page" name="putpage" value=""/>
                                                </form>
                                            </div>
                                            <div class="tab-pane" id="shelves">
                                                <form class="form-horizontal" data-path="/Plus/goodsajax.php?type=putaway&s=search">
                                                    <div class="form-group">
                                                        <div class="col-sm-2">
                                                            <select class="form-control input-sm" name="puttype" data-type="ajaxSelectSearch">
                                                                <option value="">请选择商品分类</option>
                                                                    <optgroup label="服装鞋包" >
                                                                    <option value="1">男装</option>
                                                                    <option value="2">流行男鞋</option>
                                                                    <option value="3">女装</option>
                                                                    <option value="4">女鞋</option>
                                                                </optgroup>
                                                                <optgroup label="家用电器" >
                                                                    <option value="5">大家电</option>
                                                                    <option value="6">影音电器</option>
                                                                    <option value="7">生活电器</option>
                                                                    <option value="8">厨房电器</option>
                                                                    <option value="9">个人护理</option>
                                                                </optgroup>
                                                            </select>
                                                        </div>
                                                        <div class="col-sm-10 text-right">
                                                            <input type="text" style="width:180px;display: inline-block" class="input-sm form-control" name="putkey" placeholder="搜索活动名称" />

                                                            价格：
                                                            <input type="text" name="put_price1" style="width:60px;display: inline-block" onkeyup="this.value=this.value.replace(/[^0-9]/g,'');" class="form-control input-sm">
                                                          
                                                            &nbsp;—&nbsp;
                                                            <input type="text" name="put_price2" style="width:60px;display: inline-block" onkeyup="this.value=this.value.replace(/[^0-9]/g,'');" class="form-control input-sm">
                                                            
                                                           <button class="btn btn-sm btn-default" data-type="ajaxSearch" type="button" title="搜索" style="margin-top:-3px"><i class="fa fa-search"></i></button>
                                                        </div>
                                                    </div>
                                                    <div class="line line-dashed line-lg pull-in"></div>
                                                    <input type="hidden" class="js_order" name="putorder" value=""/>
                                                    <input type="hidden" class="js_orderfield" name="putorderfiled" value=""/>
                                                    <input type="hidden" class="js_page" name="putpage" value=""/>
                                                </form>
                                            </div>
                                            <div class="tab-pane hide" id="selected">
                                                <form class="form-horizontal" data-path="/Plus/goodsajax.php?type=selected&s=search">
                                                    <input type="hidden" class="js_page" name="selectedpage" value=""/>
                                                </form>
                                            </div>
                                            <div id="goods_show">
                                                <i class="fa fa-spinner fa-spin"></i>
                                            </div>
                                        </div>
                                    </div>
                                </section>
                            </div>
                        </div>
                    </div>


                    <form class="form-horizontal form-validate form-wizard" method="post" action="/Plus/free.php?step=3"> 
                        <div class="form-group">
                            <div class="col-sm-4 col-sm-offset-2">                            
                                <button type="button" data-toggle="back" class="btn btn-default" data-confirm="false" data-loading-text="保存中...">上一步</button>
                                <button type="submit" class="btn btn-primary js_goods_submit_btn_sb">完成并提交</button>
                            </div>
                        </div>
                        <input type="hidden" class="form-control js_goods_type" name="goods_type" value="0" />
                        <input type="hidden" class="form-control" name="selectgoods" id="goods_select_input" value="34125,22345" />
                    </form>

                </div>
            </section>
        </section>
    </section>
    <script src="/assets/javascripts/sea-modules/seajs/seajs/2.2.0/sea.js?v=1201405081146"></script>
    <script src="/assets/javascripts/seajs_config.js?v=1201405081146"></script>
    <script type="text/javascript">
       window.freeship_data = {
          "type":"newest2",
          "goods":["12345","22345"]
        };
        window.good_url = "/View/goods/goods.html";
    </script>
    <script type="text/javascript">
    seajs.use(["dist/application/app.js","dist/goodsajax/init.js","dist/event/init.js"])
    </script>
</body>
</html>



