
<!DOCTYPE html>
<html lang="cn" class="app fadeInUp animated">

<head>
    <meta charset="utf-8" />
    <title>V店运营后台</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <link href="/assets/stylesheets/bootstrap.min.css" rel="stylesheet" />
    <link href="/assets/stylesheets/animate.min.css" rel="stylesheet" />
    <link href="/assets/stylesheets/font-awesome.min.css" rel="stylesheet" />
    <link href="/assets/stylesheets/style.min.css" rel="stylesheet" />
    <!--[if lt IE 9]><script src="/assets/javascripts/ie8/inie8.min.js"></script><![endif]-->
    <script type="text/javascript">
    var _speedMark = new Date(),
        www_version = 1201405081146;
    </script>

</head>

<body>

    <section class="vbox">
        <header class="header bg-white b-b b-light">
            <p>萌主干预列表</p>
        </header>

        <section class="scrollable wrapper w-f" style="overflow:auto;">
            <section class="panel panel-default">

                <header class="panel-heading bg-light">
                    <ul class="nav nav-tabs">
                        <li class="active">
                            <a href="#aptitude" data-toggle="tab">白名单</a>
                        </li>
                        <li>
                            <a href="#c_aptitude" data-toggle="tab">黑名单</a>
                        </li>
                    </ul>
                </header>

                <div class="panel-body">
                    <div class="tab-content">
                        <div class="tab-pane active" id="aptitude" style="overflow:hidden">
                            <section class="scrollable wrapper w-f">
                                <section class="panel panel-default ">
                                    <div class="table-responsive">
                                        <table class="table table-striped m-b-none">
                                            <thead>
                                            <tr>
                                                <th class="text-center">推荐位序号</th>
                                                <th class="text-center">萌主数量</th>
                                                <th class="text-center">操作</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr>
                                                <td style="text-align:center;">1</td>
                                                <td style="text-align:center;">5</td>
                                                <td style="text-align:center;">
                                                    <a href="big_v_detail.html" class="btn btn-link-herf btn-link-color" title="查看详情">查看详情</a>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="text-align:center;">1</td>
                                                <td style="text-align:center;">5</td>
                                                <td style="text-align:center;">
                                                    <a href="big_v_detail.html" class="btn btn-link-herf btn-link-color" title="查看详情">查看详情</a>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </section>
                            </section>
                        </div>

                        <div class="tab-pane" id="c_aptitude" style="overflow:hidden">
                            <section class="scrollable wrapper w-f">
                                <a href="javascript:;" data-remote="async/add_mengzhu.html" data-toggle="ajaxModal" class="btn btn-default btn-sm" style="margin-bottom: 15px;">
                                    <i class="fa fa-plus m-r-xs"></i>
                                    添加萌主
                                </a>
                                <section class="panel panel-default" >
                                    <div class="table-responsive">
                                        <table class="table table-striped m-b-none">
                                            <thead>
                                            <tr>
                                                <th class="" style="width:200px;">萌主手机号</th>
                                                <th class="" style="width:200px;">萌主店铺名称</th>
                                                <th class="" style="width:200px;">大V标识</th>
                                                <th class="" style="width:200px;">销量</th>
                                                <th class="" style="width:200px;">合伙人</th>
                                                <th class="" style="width:200px;">简介</th>
                                                <th class="text-center" style="width:200px;">操作</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr>
                                                <td style="width:200px;">13623232323</td>
                                                <td style="width:200px;">凯琳斯蒂美妆</td>
                                                <td style="width:200px;">美妆微商专家</td>
                                                <td style="width:200px;">599万</td>
                                                <td style="width:200px;">8.5w</td>
                                                <td style="width:200px;">10+互联网营销专家，品牌营销策划顾问，资深专业美教导师</td>
                                                <td style="text-align:center;width:200px;">
                                                    <a href="/api/Form/ajaxRemove/1" data-toggle="ajaxRemove" data-msg="确定删除吗？" class="m-xs" title="删除">
                                                        <i class="fa fa-trash-o text-muted"></i>
                                                    </a>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="width:200px;">13723232323</td>
                                                <td style="width:200px;">王子君Roy</td>
                                                <td style="width:200px;">美妆微商达人</td>
                                                <td style="width:200px;">87.6万</td>
                                                <td style="width:200px;">2.5w</td>
                                                <td style="width:200px;"></td>
                                                <td style="text-align:center;width:200px;">
                                                    <a href="/api/Form/ajaxRemove/1" data-toggle="ajaxRemove" data-msg="确定删除吗？" class="m-xs" title="删除">
                                                        <i class="fa fa-trash-o text-muted"></i>
                                                    </a>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="width:200px;">13823232323</td>
                                                <td style="width:200px;">龚文祥的店</td>
                                                <td style="width:200px;">美妆微商专家</td>
                                                <td style="width:200px;">222万</td>
                                                <td style="width:200px;">3.2w</td>
                                                <td style="width:200px;"></td>
                                                <td style="text-align:center;width:200px;">
                                                    <a href="/api/Form/ajaxRemove/1" data-toggle="ajaxRemove" data-msg="确定删除吗？" class="m-xs" title="删除">
                                                        <i class="fa fa-trash-o text-muted"></i>
                                                    </a>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </section>
                            </section>
                        </div>

                    </div>
                </div>
            </section>
        </section>
        <footer class="footer bg-white b-t">
            <div class="row text-center-xs">
                <div class="col-md-6 hidden-sm">
                    <p class="text-muted m-t">总共321条 当前为第1页</p>
                </div>
                <div class="col-md-6 col-sm-12 text-right text-center-xs">
                    <ul class="pagination pagination-sm m-t-sm m-b-none" data-pages-total="20" data-page-current="1"></ul>
                </div>
            </div>
        </footer>

    </section>


    <script src="/assets/javascripts/sea-modules/seajs/seajs/2.2.0/sea.js?v=1201405081146"></script>
    <script src="/assets/javascripts/seajs_config.js?v=1201405081146"></script>
    <script type="text/javascript">
    seajs.use(["dist/application/app.js","dist/distribution/init.js"])
    </script>

</body>

</html>
