<!DOCTYPE html>
<html lang="cn" class="app fadeInUp animated">

<head>
    <meta charset="utf-8" />
    <title>V店</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <link href="/assets/stylesheets/bootstrap.min.css" rel="stylesheet" />
    <link href="/assets/stylesheets/animate.min.css" rel="stylesheet" />
    <link href="/assets/stylesheets/font-awesome.min.css" rel="stylesheet" />
    <link href="/assets/stylesheets/style.min.css" rel="stylesheet" />
    <link href="/assets/stylesheets/plugins/daterangepicker/daterangepicker-bs3.min.css" rel="stylesheet" />

    <!--[if lt IE 9]>
    <script src="/assets/javascripts/ie8/inie8.min.js"></script>
    <![endif]-->
    <script type="text/javascript">
    var _speedMark = new Date(),
        www_version = 1201405081146;
    </script>
    <style type="text/css">
        .panel .table td, .panel .table th {
            padding: 6px 10px;
            }
    </style>
</head>

<body>

    <section class="vbox">

        <header class="header bg-white b-b clearfix">
            <form class="talbe-search form-inline" method="post" action="/api/Page/list">
                <div class="row m-t-sm">
                    <div class="col-sm-12 m-b-xs">
                        <div class="btn-group">
                            <button type="button" data-toggle="refresh" class="btn btn-sm btn-default" title="刷新"> <i class="fa fa-refresh"></i>
                            </button>
                        </div>

                        <div class="btn-group">
                            <button type="button" class="btn btn-default btn-sm" title="导出订单"> <i class="fa fa-cloud-download"></i>
                                导出
                            </button>
                        </div>
                        <div class="form-group">
                            <a class="btn btn-default btn-sm " data-toggle="reportrange" data-change="submit" >
                                <i class="fa fa-calendar fa-lg"></i>
                                <small>到账时间</small>
                                <span>2015/06/1 - 2015/07/1</span> <b class="caret"></b>
                                <input type="hidden" value="2014/06/1 - 2014/08/2" id="reportrange" name="reportrange" />
                            </a>
                        </div>
                        <a class="text-muted pull-right m-t-xs pointer" data-toggle="back" title="返回"><i class="fa fa-reply"></i></a>
                    </div>
                </div>
                <input type="hidden" name="pageNumber" id="pageNumber" value="1" />
                <input type="hidden" name="orderBy" id="orderBy" value="desc" />
                <input type="hidden" name="order" id="order" value="Name" />
            </form>
        </header>

    <section class="scrollable wrapper w-f">
        <p>
            <strong>劳务支出总计：<span class="money">429.40</span></strong>
            <strong class="m-l-lg">我的收入总计：<span class="money">210.00</span></strong>
        </p>
        <section class="panel panel-default ">
            <div class="table-responsive">
                <table class="table table-striped m-b-none">
                    <thead>
                        <tr >
                            <th class="v-middle">V店主姓名</th>
                            <th class="v-middle">身份证</th>
                            <th class="v-middle">手机</th>
                            <th class="v-middle">劳务支出</th>
                            <th class="v-middle">我的收入</th>
                            <th class="v-middle">操作</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>张三</td>
                            <td> 523232198901022123</td>
                            <td>13822222222</td>
                            <td>
                                <span class="money">289.20</span>
                            </td>
                            <td>
                                <span class="money">70.20</span>
                            </td>
                            <td>
                                <a href="commision_owner_detail.html" class="m-xs" title="查看明细">
                                    <i class="fa fa-search-plus text-muted"></i>
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td>李四</td>
                            <td> 523232198901022123</td>
                            <td>12323232232</td>
                            <td>
                                <span class="money">40.20</span>
                            </td>
                            <td>
                                <span class="money">70.20</span>
                            </td>
                            <td>
                                <a href="commision_owner_detail.html" class="m-xs" title="查看明细">
                                    <i class="fa fa-search-plus text-muted"></i>
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td>张三</td>
                            <td> 523232198901022123</td>
                            <td>13822222222</td>
                            <td>
                                <span class="money">100.00</span>
                            </td>
                            <td>
                                <span class="money">70.20</span>
                            </td>
                            <td>
                                <a href="commision_owner_detail.html" class="m-xs" title="查看明细">
                                    <i class="fa fa-search-plus text-muted"></i>
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </section>
    </section>
    <footer class="footer bg-white b-t">
        <div class="row text-center-xs">
            <div class="col-md-6 hidden-sm">
                <p class="text-muted m-t">总共321条 当前为第1页</p>
            </div>
            <div class="col-md-6 col-sm-12 text-right text-center-xs">
                <ul class="pagination pagination-sm m-t-sm m-b-none" data-pages-total="20" data-page-current="1"></ul>
            </div>
        </div>
    </footer>

</section>

<script src="/assets/javascripts/sea-modules/seajs/seajs/2.2.0/sea.js?v=1201405081146"></script>
<script src="/assets/javascripts/seajs_config.js?v=1201405081146"></script>
<script type="text/javascript">seajs.use("dist/application/app.js")</script>

</body>

</html>