<!DOCTYPE html>
<html lang="cn" class="app fadeInUp animated">

<head>
    <meta charset="utf-8" />
    <title>V店</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <link href="/assets/stylesheets/bootstrap.min.css" rel="stylesheet" />
    <link href="/assets/stylesheets/animate.min.css" rel="stylesheet" />
    <link href="/assets/stylesheets/font-awesome.min.css" rel="stylesheet" />
    <link href="/assets/stylesheets/plugins/chosen/chosen.min.css" rel="stylesheet" />
    <link href="/assets/stylesheets/style.min.css" rel="stylesheet" />

    <!--[if lt IE 9]>
    <script src="/assets/javascripts/ie8/inie8.min.js"></script>
    <![endif]-->
    <script type="text/javascript">
        var _speedMark = new Date(),
            www_version = 1201405081146;
    </script>
</head>

<body>

    <section class="vbox">
        <header class="header bg-white b-b b-light">
            <p>活动详情</p>
        </header>
        <section class="scrollable  wrapper">
            <section class="panel panel-default">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-5 col-md-offset-3 b-light">
                            <dl class="dl-horizontal">
                                <dt>活动名称</dt>
                                <dd>双11促销</dd>
                            </dl>
                            <dl class="dl-horizontal">
                                <dt>活动时间</dt>
                                <dd>2015.08.02-2015.08.10</dd>
                            </dl>
                            <dl class="dl-horizontal">
                                <dt>类目</dt>
                                <dd>美妆、母婴</dd>
                            </dl>
                            <!--支付宝方式-->
                            <dl class="dl-horizontal">
                                <dt>商品数量</dt>
                                <dd>1-5</dd>
                            </dl>
                            <dl class="dl-horizontal">
                                <dt>佣金比例</dt>
                                <dd>10%-30%</dd>
                            </dl>
                            <dl class="dl-horizontal">
                                <dt>库存数量</dt>
                                <dd>100-2000</dd>
                            </dl>
                            <!--银行卡方式-->
                            <dl class="dl-horizontal">
                                <dt>运费要求</dt>
                                <dd>商家包邮</dd>
                            </dl>
                            <dl class="dl-horizontal">
                                <dt>已报名商家</dt>
                                <dd>232</dd>
                            </dl>
                            <dl class="dl-horizontal">
                                <dt>报名说明</dt>
                                <dd>1、店铺半年内无处罚记录。</dd>
                                <dd>2、店铺等级在3钻以上。</dd>
                            </dl>
                            <dl class="dl-horizontal">
                                <dt>报名结束时间</dt>
                                <dd>离报名结束还剩02天08小时20分</dd>
                            </dl>
                        </div>
                        <div class="line line-dashed line-lg pull-in"></div>
                        <div class="form-group">
                            <div class="col-sm-4 col-sm-offset-5">
                                <a href="activity_goods.html" class="btn btn-primary" >报名</a>
                                <a class="btn btn-default" data-toggle="back" title="返回"> 返回上一步</a>
                        </div>
                        </div>

                    </div>

                </div>
            </section>
        </section>
    </section>

    <script src="/assets/javascripts/sea-modules/seajs/seajs/2.2.0/sea.js?v=1201405081146"></script>
    <script src="/assets/javascripts/seajs_config.js?v=1201405081146"></script>
    <script type="text/javascript">
    seajs.use(["dist/application/app.js"]);
    </script>

</body>

</html>