<!DOCTYPE html>
<html lang="cn" class="app fadeInUp animated">

<head>
    <meta charset="utf-8" />
    <title>微商城</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <link href="/assets/stylesheets/bootstrap.min.css" rel="stylesheet" />
    <link href="/assets/stylesheets/animate.min.css" rel="stylesheet" />
    <link href="/assets/stylesheets/font-awesome.min.css" rel="stylesheet" />
    <link href="/assets/stylesheets/style.min.css" rel="stylesheet" />
    <!--[if lt IE 9]>
    <script src="/assets/javascripts/ie8/inie8.min.js"></script>
    <![endif]-->
    <script type="text/javascript">
    var _speedMark = new Date(),
        www_version = 1201405081146;
    </script>
</head>

<body>

    <section class="vbox">

        <header class="header bg-white b-b clearfix">
            <form class="talbe-search form-inline" method="post" action="/api/Page/list">
                <div class="row m-t-sm">
                    <div class="col-sm-8 m-b-xs">
                        <div class="btn-group">
                            <a data-toggle="dropdown" class="btn btn-sm btn-default dropdown-toggle">
                                <span class="dropdown-label">全部用户</span>
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu dropdown-select dropdown-select-50" data-change="submit">
                                <li class="active">
                                    <a href="javascript:;">
                                        <input type="radio" name="user" value="0" checked="checked" />
                                        全部用户
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:;">
                                        <input type="radio" name="user" value="1" />
                                        已登录激活
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:;">
                                        <input type="radio" name="user" value="2" />
                                        未登录激活
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="btn-group">
                            <a data-toggle="dropdown" class="btn btn-sm btn-default dropdown-toggle">
                                <span class="dropdown-label">全部渠道</span>
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu dropdown-select dropdown-select-50" data-change="submit">
                                <li class="active">
                                    <a href="javascript:;">
                                        <input type="radio" name="channel" value="0" checked="checked" />
                                        全部渠道
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:;">
                                        <input type="radio" name="channel" value="1" />
                                        摇一摇
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:;">
                                        <input type="radio" name="channel" value="2" />
                                        邀请合伙人
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="btn-group">
                            <button type="button" class="btn btn-default btn-sm" title="导出"> <i class="fa fa-cloud-download"></i>
                                导出
                            </button>
                        </div>
                        <div class="btn-group">
                            <button type="button" data-toggle="refresh" class="btn btn-sm btn-default" title="刷新">
                                <i class="fa fa-refresh"></i>
                            </button>
                        </div>

                    </div>
                    <div class="col-sm-4 m-b-xs">
                        <div class="input-group">
                            <input type="text" class="input-sm form-control" name="keyword" data-rule-required="true" placeholder="按手机号搜索" />
                            <span class="input-group-btn">
                                <button class="btn btn-sm btn-default" type="submit" title="搜索"> <i class="fa fa-search"></i>
                                </button>

                            </span>
                        </div>
                    </div>

                </div>

                <input type="hidden" name="pageNumber" id="pageNumber" value="1" />
                <input type="hidden" name="orderBy" id="orderBy" value="desc" />
                <input type="hidden" name="order" id="order" value="Name" />
            </form>
        </header>
        <section class="scrollable wrapper w-f">
            <section class="panel panel-default ">
                <div class="table-responsive">
                    <table class="table table-striped m-b-none">
                        <thead>
                            <tr>

                                <th>领取用户</th>
                                <th>手机号</th>
                                <th>领取时间</th>
                                <th>领取金额（元）</th>
                                <th>来源渠道</th>
                                <th>用户状态</th>
                                <th>用户类型</th>
                                <th>红包时效</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>小花儿</td>
                                <td>13636363636</td>
                                <td>2015/10/10 00:00</td>
                                <td>10.00</td>
                                <td>摇一摇</td>
                                <td>已登录激活</td>
                                <td>新用户</td>
                                <td>有效</td>
                            </tr>

                            <tr>
                                <td>小花儿</td>
                                <td>13636363636</td>
                                <td>2015/10/10 00:00</td>
                                <td>10.00</td>
                                <td>摇一摇</td>
                                <td>已登录激活</td>
                                <td>新用户</td>
                                <td>有效</td>
                            </tr>

                            <tr>
                                <td>小花儿</td>
                                <td>13636363636</td>
                                <td>2015/10/10 00:00</td>
                                <td>10.00</td>
                                <td>摇一摇</td>
                                <td>已登录激活</td>
                                <td>新用户</td>
                                <td>有效</td>
                            </tr>

                            <tr>
                                <td>小花儿</td>
                                <td>13636363636</td>
                                <td>2015/10/10 00:00</td>
                                <td>10.00</td>
                                <td>摇一摇</td>
                                <td>已登录激活</td>
                                <td>新用户</td>
                                <td>有效</td>
                            </tr>
                    </tbody>
                </table>
            </div>
        </section>
    </section>
    <footer class="footer bg-white b-t">
        <div class="row text-center-xs">
            <div class="col-md-6 hidden-sm">
                <p class="text-muted m-t">总共321条 当前为第1页</p>
            </div>
            <div class="col-md-6 col-sm-12 text-right text-center-xs">
                <ul class="pagination pagination-sm m-t-sm m-b-none" data-pages-total="20" data-page-current="1"></ul>
            </div>
        </div>
    </footer>

</section>



<script src="/assets/javascripts/sea-modules/seajs/seajs/2.2.0/sea.js?v=1201405081146"></script>
<script src="/assets/javascripts/seajs_config.js?v=1201405081146"></script>
<script type="text/javascript">seajs.use("dist/application/app.js")</script>

</body>

</html>