



<!DOCTYPE html>
<html lang="cn" class="app fadeInUp animated">

<head>
  <meta charset="utf-8" />
  <title>微商城</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
  <link href="/assets/stylesheets/bootstrap.min.css" rel="stylesheet" />
  <link href="/assets/stylesheets/animate.min.css" rel="stylesheet" />
  <link href="/assets/stylesheets/font-awesome.min.css" rel="stylesheet" />
  <link href="/assets/stylesheets/plugins/daterangepicker/daterangepicker-bs3.min.css" rel="stylesheet" />
  <link href="/assets/stylesheets/style.min.css" rel="stylesheet" />

  <!--[if lt IE 9]>
  <script src="/assets/javascripts/ie8/inie8.min.js"></script>
  <![endif]-->
  <script type="text/javascript">
    var _speedMark = new Date(),
        www_version = 1201405081146;
    </script>
</head>

<body>
  <section class="vbox">
    <header class="header bg-white b-b b-light">
      <p>活动效果</p>
      <a class="text-muted pull-right m-t pointer" data-toggle="back" title="返回"> <i class="fa fa-reply"></i>
      </a>
    </header>
    <section class="scrollable  wrapper w-f">
      <section class="panel panel-default">
        <div class="panel-body">
          <footer class="panel-footer bg-white no-padder m-t-sm">
            <div class="row text-center no-gutter">
              <div class="col-xs-3 b-r b-l b-b b-light">
                <span class="h5 font-bold m-t block text-danger">245</span> <strong class="m-b block">访客数(UV)</strong>
              </div>
              <div class="col-xs-2 b-r b-b b-light">
                <span class="h5 font-bold m-t block text-danger">678</span> <strong class="m-b block">浏览数(PV)</strong>
              </div>
              <div class="col-xs-2 b-r b-b b-light">
                <span class="h5 font-bold m-t block text-danger">32</span>
                <strong class="m-b block">下单数</strong>
              </div>
              <div class="col-xs-2 b-r b-b b-light">
                <span class="h5 font-bold m-t block text-danger">30</span>
                <strong class="m-b block">成交量</strong>
              </div>

              <div class="col-xs-3 b-b b-r b-light">
                <span class="h5 font-bold m-t block text-danger">320.00</span>
                <strong class="m-b block">成交金额(￥)</strong>
              </div>
            </div>
          </footer>
          <form class="talbe-search" method="post" action="/api/Page/list">
            <input type="hidden" name="pageNumber" id="pageNumber" value="1" />
            <input type="hidden" name="orderBy" id="orderBy" value="desc" />
            <input type="hidden" name="order" id="order" value="sort" />
          </form>
          <section class="panel panel-default m-t-md">
            <div class="table-responsive">
              <table class="table table-striped m-b-none">
                <thead>
                  <tr>

                    <th >商品名称</th>
                    <th>秒杀时间</th>

                    <th>访客数(UV)</th>
                    <th>浏览数(PV)</th>
                    <th>下单数</th>
                    <th class="mn70">成交量</th>
                    <th>成交金额(￥)</th>
                    <th class="mn100">秒杀用时</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>

                    <td>
                      <div class="media">
                        <span class="pull-left thumb-sm">
                          <img src="/assets/images/goods/1.jpg" alt="John said"></span>
                        <div class="media-body">
                          <div>
                            <a href="#">Apple 苹果 iPhone 5s (A1530 )16G版 银色 4G</a>
                          </div>
                          <small class="text-muted">
                            秒杀价：
                            <span class="money">199800.00</span>
                            <span class="m-l-xs">活动库存：24</span>
                          </small>
                        </div>
                      </div>

                    </td>

                    <td>2015.08.03 20:00</td>

                    <td>32</td>
                    <td>32</td>
                    <td>23</td>
                    <td>23</td>
                    <td>32.00</td>
                    <td>00:20:45</td>
                  </tr>
                  <tr>

                    <td>
                      <div class="media">
                        <span class="pull-left thumb-sm">
                          <img src="/assets/images/goods/1.jpg" alt="John said"></span>
                        <div class="media-body">
                          <div>
                            <a href="#">Apple 苹果 iPhone 5s (A1530 )16G版 银色 4G</a>
                          </div>
                          <small class="text-muted">
                            秒杀价：
                            <span class="money">199800.00</span>
                            <span class="m-l-xs">活动库存：24</span>
                          </small>
                        </div>
                      </div>
                    </td>

                    <td>2015.08.03 20:00</td>

                    <td>32</td>
                    <td>32</td>
                    <td>23</td>
                    <td>23</td>
                    <td>32.00</td>
                    <td>00:20:45</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </section>

        </div>
      </section>
    </section>
    <footer class="footer bg-white b-t">
      <div class="row text-center-xs">
        <div class="col-md-6 hidden-sm">
          <p class="text-muted m-t">总共321条 当前为第1页</p>
        </div>
        <div class="col-md-6 col-sm-12 text-right text-center-xs">
          <ul class="pagination pagination-sm m-t-sm m-b-none" data-pages-total="20" data-page-current="1"></ul>
        </div>
      </div>
    </footer>
  </section>

  <script src="/assets/javascripts/sea-modules/seajs/seajs/2.2.0/sea.js"></script>
  <script src="/assets/javascripts/seajs_config.js"></script>
  <script type="text/javascript">seajs.use(["dist/application/app.js"])</script>

</body>

</html>