<form class="form-horizontal form-validate form-modal" method="post" action="/api/form/ajaxformurl">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">为新增的品牌选取相应的类目归属（可多选）</h4>
            </div>
            <div class="modal-body">
                <div class="panel panel-default table-responsive">
                    <table class="table m-b-none">
                        <tbody>
                            <tr>
                                <td class="col-sm-3 b-r v-middle b-light js_firs">
                                    <label class="checkbox-inline"><input type="checkbox" />美妆</label>
                                </td>
                                <td class="js_sec">
                                    <label class="checkbox-inline"><input type="checkbox"/>美容护肤</label>
                                    <label class="checkbox-inline"><input type="checkbox"/>checkbox</label>
                                    <label class="checkbox-inline"><input type="checkbox"/>checkbox</label>
                                    <label class="checkbox-inline"><input type="checkbox"/>checkbox</label>
                                    <label class="checkbox-inline"><input type="checkbox"/>checkbox</label>
                                </td>
                            </tr>
                            <tr>
                                <td class="b-r v-middle b-light js_firs">
                                   <label class="checkbox-inline"><input type="checkbox"/>食品</label>
                                </td>
                                <td class="js_sec">
                                    <label class="checkbox-inline"><input type="checkbox"/>checkbox</label>
                                    <label class="checkbox-inline"><input type="checkbox"/>checkbox</label>
                                    <label class="checkbox-inline"><input type="checkbox"/>checkbox</label>
                                    <label class="checkbox-inline"><input type="checkbox"/>checkbox</label>
                                    <label class="checkbox-inline"><input type="checkbox"/>checkbox</label>
                                    <label class="checkbox-inline"><input type="checkbox"/>checkbox</label>
                                    <label class="checkbox-inline"><input type="checkbox"/>checkbox</label>
                                    <label class="checkbox-inline"><input type="checkbox"/>checkbox</label>
                                    <label class="checkbox-inline"><input type="checkbox"/>checkbox</label>
                                    <label class="checkbox-inline"><input type="checkbox"/>checkbox</label>
                                </td>
                            </tr>
                            <tr>
                                <td class="b-r v-middle b-light js_firs">
                                   <label class="checkbox-inline"><input type="checkbox"/>母婴</label>
                                </td>
                                <td class="js_sec">
                                    <label class="checkbox-inline"><input type="checkbox"/>checkbox</label>
                                    <label class="checkbox-inline"><input type="checkbox"/>checkbox</label>
                                    <label class="checkbox-inline"><input type="checkbox"/>checkbox</label>
                                    <label class="checkbox-inline"><input type="checkbox"/>checkbox</label>
                                    <label class="checkbox-inline"><input type="checkbox"/>checkbox</label>
                                    <label class="checkbox-inline"><input type="checkbox"/>checkbox</label>
                                    <label class="checkbox-inline"><input type="checkbox"/>checkbox</label>
                                    <label class="checkbox-inline"><input type="checkbox"/>checkbox</label>
                                    <label class="checkbox-inline"><input type="checkbox"/>checkbox</label>
                                    <label class="checkbox-inline"><input type="checkbox"/>checkbox</label>
                                    <label class="checkbox-inline"><input type="checkbox"/>checkbox</label>
                                    <label class="checkbox-inline"><input type="checkbox"/>checkbox</label>
                                    <label class="checkbox-inline"><input type="checkbox"/>checkbox</label>
                                    <label class="checkbox-inline"><input type="checkbox"/>checkbox</label>
                                    <label class="checkbox-inline"><input type="checkbox"/>checkbox</label>
                                </td>
                            </tr>

                        </tbody>
                    </table>
                </div>               
            </div>

            <div class="modal-footer">
                <button type="submit" class="btn btn-primary" data-loading-text="保存中..." disabled>保存</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
            </div>
        </div>
    </div>
</form>




 
  


