<form class="form-horizontal form-validate form-modal" method="post" action="/api/form/ajaxformurl">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">分配供货方</h4>
            </div>
            <div class="modal-body">

            <div class="form-group">
                <label class="col-sm-3 control-label">公司名称：</label>
                <div class="col-sm-9">
                    <p class="form-control-static">上海晖硕信息科技有限公司</p>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label">联系人：</label>
                <div class="col-sm-9">
                    <p class="form-control-static">微盟</p>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label">联系方式：</label>
                <div class="col-sm-9">
                    <p class="form-control-static">13000000011</p>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label">提现方式：</label>

                <div class="col-sm-9">
                    <p class="form-control-static selftype_item">支付宝</p>
                </div>
            </div>



                <!--支付宝显示区域-->
            <div class="selfcon_zfb">
                <div class="form-group">
                    <label class="col-sm-3 control-label">支付宝账号：</label>
                    <div class="col-sm-9">
                        <p class="form-control-static">1111@163.com</p>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-3 control-label">支付宝姓名：</label>
                    <div class="col-sm-9">
                        <p class="form-control-static">微盟</p>
                    </div>
                </div>
            </div><!--支付宝显示区域 end-->

                <!--银行卡显示区域-->
            <div class="selfcon_yhk hide">
                <div data-toggle="location">
                    <div class="form-group">
                        <label class="col-sm-3 control-label">开户省：</label>
                        <div class="col-sm-9">
                            <p class="form-control-static">湖南省</p>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label">开户市：</label>
                        <div class="col-sm-9">
                            <p class="form-control-static">长沙市-芙蓉区</p>
                        </div>
                    </div>

                </div>

                <div class="form-group">
                    <label class="col-sm-3 control-label">银行类型：</label>
                    <div class="col-sm-9">
                        <p class="form-control-static">银行类型</p>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-3 control-label">支付信息：</label>
                    <div class="col-sm-9">
                        <p class="form-control-static">支付信息</p>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-3 control-label">银行账号：</label>
                    <div class="col-sm-9">
                        <p class="form-control-static">111221121312312</p>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-3 control-label">开户名：</label>
                    <div class="col-sm-9">
                        <p class="form-control-static">微盟</p>
                    </div>
                </div>
            </div><!--银行卡显示区域 end-->


                <!--国际账户显示区-->
            <div class="selfcon_gjzh hide">
                <div class="form-group">
                    <label class="col-sm-3 control-label">姓名：</label>
                    <div class="col-sm-9">
                        <p class="form-control-static">weimeng</p>
                    </div>
                </div>

                <div class="form-group" data-toggle="overseas">
                    <label class="col-sm-3 control-label">国家地区：</label>
                    <div class="col-sm-9">
                        <p class="form-control-static">亚洲-中国-上海</p>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-3 control-label">银行地址：</label>
                    <div class="col-sm-9">
                        <p class="form-control-static">银行地址</p>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-3 control-label">银行：</label>
                    <div class="col-sm-9">
                        <p class="form-control-static">银行</p>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-3 control-label">账号：</label>
                    <div class="col-sm-9">
                        <p class="form-control-static">13000000011</p>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-3 control-label">swift code：</label>
                    <div class="col-sm-9">
                        <p class="form-control-static">111111111111</p>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-3 control-label">收货人地址：</label>
                    <div class="col-sm-9">
                        <p class="form-control-static">收货人地址</p>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-3 control-label">分区代号：</label>
                    <div class="col-sm-9">
                        <p class="form-control-static">分区代号</p>
                    </div>
                </div>
            </div><!--国际账号显示区域 end-->



            <div class="form-group">
                <label class="col-sm-3 control-label" >图片商品：</label>
                <div class="col-sm-8">
                    <ul class="row" style="list-style-type: none;margin: 0px;padding: 0px;">
                        <li class="col-sm-4 m-b" style="padding-left: 0px;"><img style="width: 100%;" src="http://img.weimob.com/static/c3/e8/78/image/20140604/20140604175533_53429.jpg"></li>
                        <li class="col-sm-4 m-b" style="padding-left: 0px;"><img style="width: 100%;" src="http://img.weimob.com/static/c3/e8/78/image/20140604/20140604175533_53429.jpg"></li>
                        <li class="col-sm-4 m-b" style="padding-left: 0px;"><img style="width: 100%;" src="http://img.weimob.com/static/c3/e8/78/image/20140604/20140604175533_53429.jpg"></li>
                        <li class="col-sm-4 m-b" style="padding-left: 0px;"><img style="width: 100%;" src="http://img.weimob.com/static/c3/e8/78/image/20140604/20140604175533_53429.jpg"></li>
                        <li class="col-sm-4 m-b" style="padding-left: 0px;"><img style="width: 100%;" src="http://img.weimob.com/static/c3/e8/78/image/20140604/20140604175533_53429.jpg"></li>
                    </ul>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label">自营店铺：</label>
                <!--分配给已建立的自营店铺-->
                <div class="col-sm-4 must">
                    <select class="col-sm-11 hd" name="classifyId" data-rule-required="true" data-msg-required="请输入分配店铺" data-toggle="chosen" data-placeholder="请输入分配店铺" data-width="999px">
                        <option value=""></option>
                        <option value="1">店铺1</option>
                        <option value="2">店铺2</option>
                        <option value="1">店铺1</option>
                        <option value="2">店铺2</option>
                        <option value="1">店铺1</option>
                        <option value="2">店铺2</option>
                        <option value="1">店铺1</option>
                        <option value="2">店铺2</option>
                    </select>
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-4 col-sm-offset-3">
                    <button type="submit" id="sub_btn" class="btn btn-primary" data-loading-text="保存中...">保存</button>
                    <button type="button" class="btn btn-default mark_btn-default" data-toggle="back">取消</button>
                </div>
            </div>





            </div>


        </div>
    </div>
</form>

