<!DOCTYPE html>
<html lang="cn" class="app fadeInUp animated">

<head>
    <meta charset="utf-8" />
    <title>微商城</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <link href="/assets/stylesheets/bootstrap.min.css" rel="stylesheet" />
    <link href="/assets/stylesheets/animate.min.css" rel="stylesheet" />
    <link href="/assets/stylesheets/font-awesome.min.css" rel="stylesheet" />
    <link href="/assets/stylesheets/style.min.css" rel="stylesheet" />
    <link href="/assets/stylesheets/page/graphic.css" rel="stylesheet" />
    <!--[if lt IE 9]>
    <script src="/assets/javascripts/ie8/inie8.min.js"></script>
    <![endif]-->
    <script type="text/javascript">
        var _speedMark = new Date(),
            www_version = 1201405081146;
    </script>
</head>

<body>

    <section class="vbox">
        <header class="header bg-white b-b b-light">
            <p>编辑push素材</p>
            <a class="text-muted pull-right m-t pointer" data-toggle="back" title="返回"> <i class="fa fa-reply"></i>
            </a>
        </header>
        <section class="scrollable  wrapper">
            <section class="panel panel-default">
                <div class="panel-body">
                    <div class="tab-content">
                        <div class="tab-pane active" id="classify" style="overflow-x:hidden">
                            <form class="form-horizontal form-validate js_articles_list" method="post" action="/api/form/ajaxform">

                                <div class="form-group">
                                    <label class="col-sm-2 control-label must">推送消息：</label>
                                    <div class="col-sm-6">
                                        <input type="text" data-find-name="title" class="form-control title-change" data-rule-required="true" data-rule-maxLength="64" value="" name="message"  />
                                        <span class="help-block">最多64个字</span>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-sm-2 control-label">消息类型：</label>
                                    <div class="col-sm-6">
                                        <p class="form-control-static">push消息</p>
                                    </div>
                                </div>
                                <input type="radio" class="js_style_select_articles hide" data-type="link" checked="checked" name="" value=""/>
                                <div class="js_style_articles_show js_style_articles_link">
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">选择跳转页</label>
                                        <div class="pull-left">
                                            <label class="radio-inline">
                                                <input type="radio" data-add="formDis1" data-remove="formDis"  class="condition" data-find-name="link" name="link" value="0"/>
                                                商品页
                                            </label>
                                        </div>
                                        <label class="pull-left" style="margin-left:10px;margin-top:6px">商品ID</label>
                                        <div class="col-sm-2">
                                            <input type="text" class="form-control" name="goodid" />
                                        </div>

                                    </div>

                                    <div class="form-group">
                                        <label class="col-sm-2 control-label"></label>
                                        <div class="pull-left">
                                            <label class="radio-inline">
                                                <input type="radio" data-add="formDis1" data-remove="formDis" class="condition" name="link"  value="1"/>
                                                店铺页
                                            </label>
                                        </div>
                                        <label class="pull-left" style="margin-left:10px;margin-top:6px">店铺ID</label>
                                        <div class="col-sm-2">
                                            <input type="text" class="form-control" data-rule-required="true" name="storeid" disabled/>
                                        </div>

                                    </div>

                                    <div class="form-group">
                                        <label class="col-sm-2 control-label"></label>
                                        <div class="pull-left">
                                            <label class="radio-inline">
                                                <input type="radio" data-add="formDis1" data-remove="formDis" class="condition" name="link" value="2" />
                                                链接
                                            </label>
                                        </div>
                                        <div class="col-sm-6" style="margin-left:4px;">
                                            <input type="text" class="form-control" data-rule-url="true" data-rule-required="true" name="urlid" disabled />
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-sm-2 control-label"></label>
                                        <div class="pull-left">
                                            <label class="radio-inline">
                                                <input type="radio" data-add="formDis1" data-remove="formDis" class="condition" checked name="link"  value="3"/>
                                                专题页
                                            </label>
                                        </div>
                                        <div class="col-sm-3" style="margin-left:-10px;">
                                            <select class="form-control js_subject_type"  data-rule-required="true"  data-child="1" name="subjecttype"  disabled>
                                                <option value="">请选择专题类型</option>
                                                <option value="0" data-ischild="false">单品</option>
                                                <option value="1" data-ischild="true" selected="selected">综合</option>
                                                <option value="2" data-ischild="false">其他</option>
                                            </select>
                                        </div>
                                        <div class="col-sm-3 js_subjects">
                                            <select class="form-control hide" data-rule-required="true" data-empty="请选择专题" name="subjectlist"  disabled></select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-sm-8 col-sm-offset-2">
                                            <input type="hidden" id="method" name="submittype" >                                            
                                            <input type="hidden" id="js_pre_phone" name="submipre" >                                            
                                            <button type="submit"  class="btn btn-primary js_bsubmit" data-filed="save" data-loading-text="保存中...">保存</button>
                                            <button type="button"  class="btn btn-default js_bsubmit_pre" data-filed="prev" data-toggle="ajaxModal" data-remote="async/pre.html" data-loading-text="预览中...">预览</button>
                                            <button type="button" class="btn btn-default" data-toggle="back">取消</button>
                                            </div>
                                    </div>
                                </div>
                            </form>

                        </div>
                    </div>
                </div>
            </section>

        </section>
    </section>

    <script type="text/html" id="delivery_city_tem">
        {{each data as item}}
            <option value="{{item.id}}" {{if item.id==child}}selected="selected"{{/if}}  >{{item.name}}</option>
        {{/each}}
    </script>

    <script src="/assets/javascripts/sea-modules/seajs/seajs/2.2.0/sea.js"></script>
    <script src="/assets/javascripts/seajs_config.js"></script>
    <script type="text/javascript">
        window.pushPage=true;
        window.subjectUrl = "/plus/deliveryLocation_type.php";
        window.cxSelectAdd = [
                
        ];

        seajs.use(["dist/application/app.js","dist/add_graphic/init.js","dist/cupid/init.js"])
    </script>

</body>

</html>