<form class="form-horizontal form-validate form-modal" method="post" action="/api/form/ajaxformurl">
    <div class="modal-dialog" style="max-width:440px;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">扫一扫预览</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label class="col-sm-2 control-label">二维码</label>
                    <div class="col-sm-6"> 
                        <img src="http://img.weimob.com/static/c3/e8/78/image/20130912/20130912174128_56412.jpg" style="width: 150px; height: 150px" class="img-rounded">
                    </div>
                </div>
             
            </div>
            <div class="modal-footer">
                <input type="hidden" value="12306" name="id" />
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
            </div>
        </div>
    </div>
</form>
