<form class="form-horizontal form-validate form-modal" method="post" action="/plus/goods.php?type=group">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">修改优先级</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label class="col-sm-4 control-label">优先级：</label>
                    <div class="col-sm-6 must">
                        <input type="text" class="form-control" data-rule-required="true" data-rule-rangelength="[1,8]" name="name" />
                    </div>
                </div>
            </div>
            <div class="modal-footer"> 
                <button type="submit" class="btn btn-primary" data-loading-text="保存中..." disabled data-custom="true">保存</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
            </div>
        </div>
    </div>
</form>
