
<!DOCTYPE html>
<html lang="cn" class="app fadeInUp animated">

<head>
    <meta charset="utf-8" />
    <title>微商城</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <link href="/assets/stylesheets/bootstrap.min.css" rel="stylesheet" />
    <link href="/assets/stylesheets/animate.min.css" rel="stylesheet" />
    <link href="/assets/stylesheets/font-awesome.min.css" rel="stylesheet" />
    <link href="/assets/stylesheets/style.min.css" rel="stylesheet" />
    <link href="/assets/stylesheets/plugins/select2/select2.min.css" rel="stylesheet" />
    <!--[if lt IE 9]><script src="/assets/javascripts/ie8/inie8.min.js"></script><![endif]-->
    <script type="text/javascript">
    var _speedMark = new Date(),
        www_version = 1201405081146;
    </script>
    <style>
    .board{background: url("/assets/images/permission/bg_repno.gif") no-repeat scroll 0 0 transparent;padding-left: 55px}
    </style>
</head>

<body>

    <section class="vbox">

        <header class="header bg-white b-b clearfix">
            <form class="talbe-search form-inline" method="post" action="/api/Page/list">
                <div class="row m-t-sm">
                    <div class="col-sm-8 m-b-xs">
                        <div class="btn-group">
                            <button type="button" data-toggle="refresh" class="btn btn-sm btn-default" title="刷新">
                                <i class="fa fa-refresh"></i>
                            </button>

                        </div>
                        <a href="task_ed.html" class="btn btn-sm btn-default m-r"><i class="fa fa-plus m-r-xs"></i>新增任务</a>
                    </div>
                </div>
                <input type="hidden" name="pageNumber" id="pageNumber" value="1" />
                <input type="hidden" name="orderBy" id="orderBy" value="desc" />
                <input type="hidden" name="order" id="order" value="Name" />
            </form>
        </header>
        <section class="scrollable wrapper w-f">
            <section class="panel panel-default ">
                <div class="table-responsive">
                    <table class="table table-striped m-b-none">
                        <thead>
                            <tr>
                                <th>名称</th>
                                <th>操作</th>
                            </tr>
                        </thead>
                        <tbody>

                            <tr>
                                <td>V店配置</td>
                                <td>
                                    <a href="task_ed.html" class="m-xs" title="编辑">
                                        <i class="fa fa-edit text-muted"></i>
                                    </a>
                                    <a href="task_ed_addsub.html" class="m-xs" title="新增下级任务">
                                        <i class="fa fa-plus-square text-muted"></i>
                                    </a>
                                    <a href="/api/Form/ajaxRemove/1" data-remove="true" data-toggle="ajaxRemove" data-msg="确定删除？" class="m-xs" title="删除">
                                        <i class="fa fa-trash-o text-muted"></i>
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span class="leave">
                                        <i class="board_z" style="padding-left:10px"></i>
                                        <i class="board"></i>
                                        店铺装饰
                                    </span>
                                </td>
                                <td>
                                    <a href="task_ed.html" class="m-xs" title="编辑">
                                        <i class="fa fa-edit text-muted"></i>
                                    </a>
                                    <a href="task_ed_addsub.html" class="m-xs" title="新增下级任务">
                                        <i class="fa fa-plus-square text-muted"></i>
                                    </a>
                                    <a href="/api/Form/ajaxRemove/1"  data-remove="true" data-toggle="ajaxRemove" data-msg="确定删除？" class="m-xs" title="删除">
                                        <i class="fa fa-trash-o text-muted"></i>
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span class="leave">
                                        <i class="board_z" style="padding-left:20px"></i>
                                        <i class="board"></i>
                                        子级
                                    </span>
                                </td>
                                <td>
                                    <a href="task_ed.html" class="m-xs" title="编辑">
                                        <i class="fa fa-edit text-muted"></i>
                                    </a>
                                    <a href="task_ed_addsub.html" class="m-xs" title="新增下级任务">
                                        <i class="fa fa-plus-square text-muted"></i>
                                    </a>
                                    <a href="/api/Form/ajaxRemove/1"  data-remove="true" data-toggle="ajaxRemove" data-msg="确定删除？" class="m-xs" title="删除">
                                        <i class="fa fa-trash-o text-muted"></i>
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span class="leave">
                                        <i class="board_z" style="padding-left:30px"></i>
                                        <i class="board"></i>
                                        子子级
                                    </span>
                                </td>
                                <td>
                                    <a href="task_ed.html" class="m-xs" title="编辑">
                                        <i class="fa fa-edit text-muted"></i>
                                    </a>
                                    <a href="task_ed_addsub.html" class="m-xs" title="新增下级任务">
                                        <i class="fa fa-plus-square text-muted"></i>
                                    </a>
                                    <a href="/api/Form/ajaxRemove/1"  data-remove="true" data-toggle="ajaxRemove" data-msg="确定删除？" class="m-xs" title="删除">
                                        <i class="fa fa-trash-o text-muted"></i>
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td>首页</td>
                                <td>
                                    <a href="task_ed.html" class="m-xs" title="编辑">
                                        <i class="fa fa-edit text-muted"></i>
                                    </a>
                                    <a href="task_ed_addsub.html" class="m-xs" title="新增下级任务">
                                        <i class="fa fa-plus-square text-muted"></i>
                                    </a>
                                    <a href="/api/Form/ajaxRemove/1"  data-remove="true" data-toggle="ajaxRemove" data-msg="确定删除？" class="m-xs" title="删除">
                                        <i class="fa fa-trash-o text-muted"></i>
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </section>
        </section>
        <footer class="footer bg-white b-t">
            <div class="row text-center-xs">
                <div class="col-md-6 hidden-sm">
                    <p class="text-muted m-t">总共321条 当前为第1页</p>
                </div>
                <div class="col-md-6 col-sm-12 text-right text-center-xs">
                    <ul class="pagination pagination-sm m-t-sm m-b-none" data-pages-total="20" data-page-current="1"></ul>
                </div>
            </div>
        </footer>

    </section>


    <script src="/assets/javascripts/sea-modules/seajs/seajs/2.2.0/sea.js?v=1201405081146"></script>
    <script src="/assets/javascripts/seajs_config.js?v=1201405081146"></script>
    <script type="text/javascript">
    seajs.use("dist/application/app.js")
    </script>

</body>

</html>
