
<!DOCTYPE html>
<html lang="cn" class="app fadeInUp animated">

<head>
    <meta charset="utf-8" />
    <title>V店</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <link href="/assets/stylesheets/bootstrap.min.css" rel="stylesheet" />
    <link href="/assets/stylesheets/animate.min.css" rel="stylesheet" />
    <link href="/assets/stylesheets/font-awesome.min.css" rel="stylesheet" />
    <link href="/assets/stylesheets/style.min.css" rel="stylesheet" />
    <!--[if lt IE 9]><script src="/assets/javascripts/ie8/inie8.min.js"></script><![endif]-->
    <script type="text/javascript">
    var _speedMark = new Date(),
        www_version = 1201405081146;
    </script>

</head>

<body>


    <section class="vbox">
        <header class="header bg-white b-b b-light">
            <p>店铺搬家</p>
            <a class="text-muted pull-right m-t pointer" href="move_record.html">搬家记录</a>
        </header>
        <section class="scrollable  wrapper">
        <img style="width:100%" class="block" src="/assets/images/goods/step4.png" >
            <section class="panel panel-default">
                <div class="panel-body">
                        <h4 class="col-sm-offset-1 col-sm-11 m-b-xl">系统将自动为您的商品搬家，预计 2 小时内完成，您可先去别处逛逛～</h4>
                        <p class="col-sm-offset-1 col-sm-11 m-b-xl font-bold">友情提示：
                        <br>（1）您可以在 商品管理>商品列表 模块下查看到被搬家商品。
                        <br>（2）所有商品搬家后均为下架状态，您需要在编辑后将商品上架推广。</p>
                        <div class="col-sm-4 col-sm-offset-1">
                            <a href="../goods.html" class="btn btn-primary" data-loading-text="保存中...">返回商品列表</a>
                        </div>
                </div>
            </section>
        </section>
    </section>

    <script src="/assets/javascripts/sea-modules/seajs/seajs/2.2.0/sea.js"></script>
    <script src="/assets/javascripts/seajs_config.js"></script>
    <script type="text/javascript">
    seajs.use("dist/application/app.js")
    </script>

</body>

</html>
