
<!DOCTYPE html>
<html lang="cn" class="app fadeInUp animated">

<head>
    <meta charset="utf-8" />
    <title>V店</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <link href="/assets/stylesheets/bootstrap.min.css" rel="stylesheet" />
    <link href="/assets/stylesheets/animate.min.css" rel="stylesheet" />
    <link href="/assets/stylesheets/font-awesome.min.css" rel="stylesheet" />
    <link href="/assets/stylesheets/style.min.css" rel="stylesheet" />
    <link href="/assets/stylesheets/plugins/chosen/chosen.min.css" rel="stylesheet" />
    <link href="/assets/stylesheets/page/formwizard.css" rel="stylesheet" />

    <!--[if lt IE 9]><script src="/assets/javascripts/ie8/inie8.min.js"></script><![endif]-->
    <script type="text/javascript">
    var _speedMark = new Date(),
        www_version = 1201405081146;
    </script>
    <style type="text/css">
        .tishi{color: #999999;margin-left: 15px;}
        .inputWidth{width:154px;}
        .vbox .text{    width: 100px;text-align: left;height: 30px;margin: 0 5px; display: inline;}
        .vbox .tixin{    margin-left: 50px;color: rgba(122,122,122,0.9);}
        .vbox .slleft{margin-left: 30px;}
        #sl_0 .help-block{margin-left: 30px;}
        #sl_1 .help-block{margin-left: 30px;}
    </style>
</head>

<body>
    <section class="vbox">
        <header class="header bg-white b-b b-light">
            <p>淘宝搬家&nbsp;<a href="taobao_help.html" style="color: #0099cc;" >查看使用帮助>></a></p>
            <a class="text-muted pull-right m-t pointer" data-toggle="back" title="返回"> <i class="fa fa-reply"></i> </a>
        </header>
        <section class="scrollable  wrapper">
            <div class="process-bar">
            <ul>
              <li class="size3 prev">
                <span>1.上传淘宝数据包</span>
              </li>
              <li class="size3 on">
                <span>2.批量设置商品信息</span>
              </li>
              <li class="size3 next last">
                <span>3.等待搬家完成</span>
              </li>
            </ul>
          </div>
            <form class="form-horizontal form-validate" method="post" action="/Plus/taoMove3.php" novalidate="novalidate">
            <section class="panel panel-default">
                <div class="panel-body">
                    <div class="form-group">
                        <p class="tishi">以下字段无法实现搬家，填写后将按照您本次填写内容设置。（本步骤可跳过）</p>
                    </div>
                    <div class="line line-dashed line-lg pull-in"></div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">商品类目</label>
                        <div class="col-sm-10">
                            <p class="form-control-static">
                                胶原蛋白
                                <a href="../add_goods_ed.html" class="text-info">修改</a>
                            </p>
                            <input type="hidden" value="537114627" name="categoryId">
                            <span class="help-block">商品上架后不可修改，请谨慎选择</span>
                        </div>
                    </div>
                    <div class="line line-dashed line-lg pull-in"></div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">商品计量单位</label>
                        <div class="col-sm-2 ">
                            <select class="form-control " data-toggle="chosen" name="select_tag" data-placeholder="选择规格" >
                                <option value="" selected="">请选择</option>
                                <option value="1">件</option>
                                <option value="2">个</option>
                                <option value="3">罐</option>
                                <option value="4">箱</option>
                            </select>
                        </div>
                    </div>
                    <div class="line line-dashed line-lg pull-in"></div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">售价包税</label>
                        <div class="col-sm-10" id="sls">
                            <div class="input-group sp_sl" data-nums="0"  style="display: block;">
                                <label class="radio-inline">
                                    <input type="radio" name="xsbs" class="ui-wizard-content ui-helper-reset ui-state-default">
                                    包税
                                    <span class="tixin">*平台会根据商品税率进行关税优化，如单件关税大于50也不加收关税</span>
                                </label>
                            </div>
                            <div id="sl_0" style="display: none;">
                                <div class="input-group slleft" style="display: block;">
                                    <label class="radio-inline  radio_br">
                                        <input type="radio" name="gsmrsz" class="ui-wizard-content ui-helper-reset ui-state-default check_0">
                                        默认税率
                                    </label>
                                </div>
                                <div class="input-group slleft" style="display: block">
                                    <label class="radio-inline  radio_br" style="    line-height: 30px;">
                                        <input checked="checked" type="radio" style="margin-top: 9px;" name="gsmrsz" class="ui-wizard-content ui-helper-reset ui-state-default check_1">
                                        自定义税率<input type="text"  style="float: none;" name="wpms_2" data-msg-notEqual="请输入0-100的数字，最多保留2位小数" data-msg-max="请输入0-100的数字，最多保留2位小数" data-msg-decimal="请输入0-100的数字，最多保留2位小数" data-rule-notEqual="0"  data-rule-max="100"  data-rule-decimal="2" class="form-control text wpms_1">%
                                    </label>
                                </div>
                            </div>
                            <div class="input-group sp_sl" data-nums="1" style="display: block">
                                <label class="radio-inline" style="    line-height: 30px;">
                                    <input  checked="checked" type="radio" style="margin-top: 9px;" name="xsbs" class="ui-wizard-content ui-helper-reset ui-state-default">
                                    不包税
                                    <span class="tixin">*平台会根据商品税率进行关税优化，如单件关税大于50则加收关税</span>
                                </label>
                            </div>
                            <div id="sl_1">
                                <div class="input-group slleft" style="display: block;">
                                    <label class="radio-inline  radio_br">
                                        <input checked="checked" type="radio" name="bgsmrsz" class="ui-wizard-content ui-helper-reset ui-state-default check_0">
                                        默认税率
                                    </label>
                                </div>
                                <div class="input-group slleft" style="display: block">
                                    <label class="radio-inline  radio_br" style="    line-height: 30px;">
                                        <input type="radio" style="margin-top: 9px;" name="bgsmrsz" class="ui-wizard-content ui-helper-reset ui-state-default check_1">
                                        自定义税率<input type="text" style="float: none;" name="wpms_3" data-msg-notEqual="请输入0-100的数字，最多保留2位小数" data-msg-max="请输入0-100的数字，最多保留2位小数" data-msg-decimal="请输入0-100的数字，最多保留2位小数"  data-rule-notEqual="0"  data-rule-max="100"  data-rule-decimal="2" class="form-control text wpms_1">%
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="line line-dashed line-lg pull-in"></div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">佣金比例=</label>
                        <div class="col-sm-5 ">
                            <div class="input-group">
                                <input type="text" class="form-control js_commission_percent" data-rule-decimal="2"  data-rule-range="[0,100]" name="percents" value="10" aria-required="true">
                                <span class="input-group-addon ">%</span>
                            </div>
                        </div>
                    </div>
                    <div class="line line-dashed line-lg pull-in"></div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">商品分组</label>
                        <div class="col-sm-3 ">
                            <select class="col-sm-11 hd js_goods_group" name="classifyId" multiple="multiple" data-maxcount="3"  data-msg-required="请选择商品分组" data-toggle="chosen" data-placeholder="请选择系统分类" data-width="999px">
                                <option value=""></option>
                                <optgroup label="服装鞋包" id="group1">
                                    <option value="1">男装</option>
                                    <option value="2">流行男鞋</option>
                                    <option value="3">女装</option>
                                    <option value="4">女鞋</option>
                                </optgroup>
                                <optgroup label="家用电器" id="group2">
                                    <option value="5">大家电</option>
                                    <option value="6">影音电器</option>
                                    <option value="7">生活电器</option>
                                    <option value="8">厨房电器</option>
                                    <option value="9">个人护理</option>
                                </optgroup>

                            </select>
                        </div>
                        <div class="col-sm-3 m-l-sm ">
                            <button type="button" class="btn btn-default btn-sm" data-toggle="ajaxModal" data-remote="../async/group_ed.html">添加分组</button>
                        </div>
                    </div>
                    <div class="line line-dashed line-lg pull-in"></div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">发货地</label>
                        <div class="col-sm-2 ">
                            <select class="form-control js_delivery_type"  name="delivery_type">
                                <option value="" selected="">请选择</option>
                                <option value="1">保税仓</option>
                                <option value="2">海外仓</option>
                            </select>
                        </div>
                        <div class="col-sm-2">
                            <select class="inputWidth js_delivery_city" name="city" data-toggle="select2" disabled data-id=""></select>
                        </div>
                        <div class="col-sm-2 js_subjects"></div>
                    </div>
                    <div class="line line-dashed line-lg pull-in"></div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">原产地</label>
                        <div class="col-sm-2">
                            <select class="inputWidth" data-toggle="select2" name="originLocation">
                                <option value="">请选择</option>
                                <option value="1">日本</option>
                                <option value="2">韩国</option>
                                <option value="3">香港</option>
                                <option value="4">美国</option>
                                <option value="5">澳大利亚</option>
                                <option value="6">英国</option>
                                <option value="7">德国</option>
                            </select>
                        </div>
                    </div>
                    <div class="line line-dashed line-lg pull-in"></div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">运费计算方式</label>
                        <div class="col-sm-10">
                            <label class="radio-inline">
                                <input type="radio" name="undertake" value="0" checked="checked" class="js_undertake" />
                                卖家承担运费
                            </label>
                            <label class="radio-inline">
                                <input type="radio" name="undertake" value="1" class="js_undertake js_freight_container_show" />
                                粉丝承担运费
                            </label>
                            <div class="panel panel-default m-t bg-light hd js_freight_container">
                                <div class="panel-body lt ">
                                    <label class="radio-inline">
                                        <input type="radio" name="freight_type" value="0" checked="checked" class="js_freight_type js_unify_container_show" />
                                        统一运费
                                    </label>
                                    <label class="radio-inline">
                                        <input type="radio" name="freight_type" value="1" class="js_freight_type js_template_container_show" />
                                        使用运费模板
                                    </label>
                                    <div class="js_unify_container form-inline m-t ">
                                        <dl class="dl-horizontal dl-xs">
                                            <dt>
                                                <label class="checkbox-inline">
                                                    <input type="checkbox" name="freight_item" value="1" class="js_freight_item" />
                                                    快递
                                                </label>
                                            </dt>
                                            <dd>
                                                <div class="input-group">
                                                    <input type="text" class="form-control" name="freight_express"  data-rule-ismoney="true" disabled />
                                                    <span class="input-group-addon">元</span>
                                                </div>

                                            </dd>
                                        </dl>
                                        <dl class="dl-horizontal dl-xs">
                                            <dt>
                                                <label class="checkbox-inline">
                                                    <input type="checkbox" name="freight_item" value="1" class="js_freight_item" />
                                                    EMS
                                                </label>
                                            </dt>
                                            <dd>
                                                <div class="input-group ">
                                                    <input type="text" class="form-control" name="freight_ems"  data-rule-ismoney="true" disabled />
                                                    <span class="input-group-addon">元</span>
                                                </div>
                                            </dd>
                                        </dl>
                                        <dl class="dl-horizontal dl-xs">
                                            <dt>
                                                <label class="checkbox-inline">
                                                    <input type="checkbox" name="freight_item" value="1" class="js_freight_item" />
                                                    平邮
                                                </label>
                                            </dt>
                                            <dd>
                                                <div class="input-group">
                                                    <input type="text" class="form-control" name="freight_post"  data-rule-ismoney="true" disabled />
                                                    <span class="input-group-addon">元</span>
                                                </div>
                                            </dd>
                                        </dl>

                                    </div>
                                    <div class="js_template_container form-inline m-t hd">
                                        <div class="form-group  input-group">
                                            <div class="col-sm-10">

                                                <i class="fa fa-spinner fa-spin js_freight_template_loading hd"></i>
                                                <select class="form-control mn140 js_freight_template" name="freight_template" >
                                                    <option value="">请选择</option>
                                                </select>
                                    <span class="input-group-btn">
                                        <a class="btn btn-default" href="/view/system/freight/freight_ed.html" target="_blank" title="新建运费模版">
                                            <i class="fa fa-plus m-r-xs text-muted"></i>
                                        </a>
                                        <a class="btn btn-default js_freight_template_refresh" href="/plus/freight_template.php?id=111" title="刷新模版">
                                            <i class="fa fa-refresh m-r-xs text-muted"></i>
                                        </a>
                                    </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="line line-dashed line-lg pull-in"></div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">商品限购</label>
                        <div class="col-sm-10">
                            <label class="radio-inline">
                                <input type="radio" name="quota" value="0" checked="checked" class="js_quota">不限购</label>
                            <label class="radio-inline">
                                <input type="radio" name="quota" value="1" class="js_quota js_quota_show">
                                限购
                            </label>
                            <div class="js_quota_container hd  v-top">
                                <!--inline hd-->
                                <input class="form-control input-xs input-sm" type="text"  name="quotanums" data-rule-positive="true" aria-required="true">
                            </div>
                        </div>
                    </div>
                    <div class="line line-dashed line-lg pull-in"></div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">库存计算方式</label>
                        <div class="col-sm-10">
                            <label class="radio-inline">
                                <input type="radio" name="store" value="0" checked="checked" class="js_way_select">下单减库存</label>
                            <label class="radio-inline" style="padding-left:0">
                                <a href="javascript:;" data-toggle="popover" data-placement="top" data-trigger="hover" data-html="true" data-content="买家下单后即减少库存，存在<span class='maroon'>恶意下单</span>
            风险。秒杀、超低价等热销商品，如需避免超卖可选此方式。" class="text-muted" data-original-title="" title="">
                                    <i class="fa fa-question-circle"></i>
                                </a>
                            </label>
                            <label class="radio-inline">
                                <input type="radio" name="store" value="1" class="js_way_select">
                                支付减库存
                            </label>
                            <label class="radio-inline" style="padding-left:0">
                                <a href="javascript:;" data-toggle="popover" data-placement="top" data-trigger="hover" data-html="true" data-content="买家下单并完成支付操作后方可减少库存，存在<span class='maroon'>超卖</span>
        风险。如需减少恶意下单、提高回款效率，可选此方式。
" class="text-muted" data-original-title="" title="">
                                    <i class="fa fa-question-circle"></i>
                                </a>
                            </label>
                        </div>
                    </div>
                    <div class="line line-dashed line-lg pull-in"></div>
                    <div class="form-group">
                        <div class="col-sm-4 col-sm-offset-2">
                            <input type="hidden" value="0" id="js_store_way">
                            <button type="button" class="btn btn-default" data-toggle="back">上一步</button>
                            <button type="submit" data-confirm="true" class="btn btn-primary js_save_submit" data-loading-text="保存中...">确认提交</button>
                        </div>
                    </div>
                </div>
            </section>
                </form>
        </section>
    </section>

    <script type="text/html" id="delivery_city_tem">
        <option value="{{id}}">{{name}}</option>
    </script>

    <script src="/assets/javascripts/sea-modules/seajs/seajs/2.2.0/sea.js"></script>
    <script src="/assets/javascripts/seajs_config.js"></script>
    <script>
        window.goods_data = {
            attributes: {"1075741875":"1079743126", "1075779646": "1079845232","1075780648":["1079847842","1079847843"],},
            shelves:false,
            specifications: { "1075741873": ["1079742340", "1079742350", "1079742356"], "1075741872": ["1079742279", "1079742256"] },
            products: {
                "1079742340:1079742279": {
                    "ProductSn": "1079742340-1",
                    "Price": 11.00,
                    "MarketPrice": 16.00,
                    "Store":99,
                    "Weight": 101,
                    "Volume":11,
                    "Hscode":1234567,
                    "Filing":129,
                },
                "1079742356:1079742279": {
                    "ProductSn": "1079742340-2",
                    "Price": 13.00,
                    "MarketPrice": 18.00,
                    "Store": 36,
                    "Weight": 121,
                    "Volume": 11,
                    "Hscode":7654321,
                    "Filing":666,
                }
            }
        }
        window.goods_setting = {
            attribute_path: "/plus/attribute.php?categoryid=537114627",
            custom_attrvalue_path: "/plus/customattr.php?categoryid=537114627",
            custom_attrvalue_del_path: "/plus/customattrdel.php?categoryid=537114627",
            custom_attr_path: "/plus/attr.php?categoryid=537114627",
            custom_attr_del_path: "/plus/attrdel.php?categoryid=537114627",
            custom_spevalue_path:"/plus/spevalue.php?categoryid=537114627",
            custom_spe_path:"/plus/spe.php?categoryid=537114627",
            custom_spe_del_path:"/plus/spedel.php?categoryid=537114627",
            custom_delspevalue_path:"/plus/delspevalue.php?categoryid=537114627",
            specifications_path: "/plus/specifications.php?categoryid=537114627",
            deliveryLocation_path: "/plus/deliveryLocation_type.php",
            deliveryLocationSub_path: "/plus/deliveryLocation_type.php"
        }
        window.extraFileUploadParams={id:11,key:"hxsq22dl"} //自定义编辑器上传参数
    </script>
    <script type="text/javascript">
        seajs.use(["dist/application/app.js", "dist/goodsv/init.js","dist/location/init.js","dist/commission/init.js"])
    </script>

</body>

</html>
