<form id="recom" class="form-horizontal form-validate form-modal" method="post" action="/api/form/ajaxformurl">
    <div class="modal-dialog" style="width:800px">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">萌店活动规则</h4>
            </div>
            <div class="modal-body" style="max-height: 380px; overflow-y: auto">
                <p class="text-center">
                    <strong>萌店活动报名规则</strong>
                </p>

                <p>
                    <strong>第一章概述</strong>
                    <br />
                    第一条 【目的和依据】为促进开放、透明、分享、责任的新商业文明，保障萌店用户合法权益，维护正常运营秩序，特制定本规则。 
                    <br />
                   第二条 【适用范围】本规则适用于参加萌店商品活动的所有用户。对商品活动期间用户的管理要求，本规则中有规定的，遵循本规则规定，本规则中尚无规定或部分规定需补充，遵循萌店其他相关规定。
                   
                </p>
                <p>
                    <strong>第二章报名标准</strong>
                    <br />
                    第三条 【商家资质】 申请加入萌店商品活动的商家须同时符合以下条件，方可报名。同时萌店也有权面向特定商家招商：
                    <br />
                    <div style="margin-left:45px">
                    （一） 必须是萌店的入驻商家；
                    <br />
                    （二） 店铺创建时间在15天及以上；
                    <br />
                    （三） 店铺近一个月交易额大于等于人民币5000元且订单量大于等于30单；[不涉及全球购频道活动]
                    <br />
                    （四） 店铺评分中“商品与描述相符”、“商家的服务态度”、“物流发货的速度”三项评分均达4.5及以上；
                    <br />
                    （五） 店铺近一个月差评率在4%及以下；
                    <br />
                    （六） 除特大家电、家装等殊品类外店铺近一个月24小时发货率在90%及以上；
                    <br />
                    （七） 因各种违规行为而被禁止的商家，处罚期已届满；
                     <br />
                    （八） 有效签署萌店商家承诺书；
                    <br />
                    （九） 提供的相关资质文件或信息必须真实有效；
                    </div>
                    第四条 【商品条件】符合萌店资质的商家，其报名的商品须同时满足以下条件：
                    <div style="margin-left:45px">
                        （一） 商品基本资质：
                         <div style="margin-left:42px">
                            1、 食品、家电数码、美护美妆、母婴等商品应提供质检报告，保健品、酒等特殊行业的商品应提供相应行业资质；
                            <br />
                            2、 品牌商品应提供该品牌的《商标注册证》或品牌授权书；
                            <br />
                            3、 除首发新品外，商品成交量大于等于20件或该商品在其他平台成交量大于等于200件；
                            <br />
                            4、 商品好评率在90%及以上；
                            <br />
                            5、 报名商品的价格不得高于其在萌店的历史最低销售价格且销售价格不高于该商品在其他平台的最低售价。该商品自本次活动确定上线至活动结束后的15日内，不得在萌店或其他平台以低于本次活动价格进行销售,萌店组织的大型促销活动的价格除外；
                            <br />
                            6、 不同类目商品的其他不同要求；
                         </div>
                         （二） 商品报名信息应清晰、规整，商品标题、图片和文字描述符合特定的格式要求。
                    </div>
                </p>
                <p>
                    <strong>第三章运营标准</strong>
                    <br />
                    第五条 【提报真实有效】活动商家应如实、完整填写商品信息。 
                    <br />
                    第六条 【行为规范】商家均应遵循以下行为规范：
                    <div style="margin-left:45px">
                    （一） 对商品的描述应真实、完整，实际销售商品须与报名商品的材质、成分、品质等完全一致；
                     <br />
                     （二） 本次活动期间，商家在线客服服务时间为每日9点-21点；
                     <br />
                    （三） 诚信经营，不得出现任何强制搭售行为；
                     <br />
                    （四） 遵守活动安排，在商品排期后不得私自中途退出活动；
                     <br />
                    （五） 提供开具发票、正品保障、七天包退、假一赔三等相关店铺服务保障.[不涉及全球购频道活动] 
                    </div>
                    第七条 【限购要求】商家在发布商品时可设置一定的限购数量，限购数量根据活动价格设置。0-100元限购10件，101—200元限购5件，200元以上限购3件。
                </p>
                <p>
                    <strong>第四章交易流程</strong>
                    <br />
                    第八条 【付款时效】购买活动商品的买家，须在点击按钮拍下商品后根据商家后台设置付款，否则系统将自动关闭该笔交易。
                    <br />
                    第九条 【发货时间】活动商家须保证商品发货时间，在买家付款后24小时内完成发货（定制、预售、大家电、家具等特殊商品除外），发货时间以快递公司系统内记录的时间为准。
                    <br />
                   
                </p>
                <p>
                    <strong>第五章违规处理</strong>
                    <br />
                    第十条 【处理原则】活动对商家的违规处理，不免除萌店依据萌店规则对商家的违规处理。
                    <br />
                    第十一条 【违规处理措施】活动期间，萌店将按照本规则规定对商家采取以下违规处理措施：
                    <div style="margin-left:57px">
                        （一） 取消当次活动资格，结束当次活动权；
                        <br />
                        （二） 暂时中止合作；
                        <br />
                        （三） 永久中止合作。
                    </div>
                    第十二条 【违规处理】活动期间商家出现以下违规行为的，将予以下违规处理措施： 
                    <div style="margin-left:57px">
                        （一） 违反本规则第三条第二至第九项规定的，取消当次活动资格，结束当次活动权，视情节严重中止合作1-2个月或永久终止合作；
                        <br />
                        （二） 违反本规则第四条第一至第二项规定的，取消当次活动资格，结束当次活动权，视情节严重中止合作1-2个月或永久终止合作；
                        <br />
                        （三） 违反本规则第七条第一项规定的，构成描述不符，取消当次活动资格，视情节严重中止合作1-2个月或永久终止合作；
                        <br />
                        （四） 违反本规则第七条第二至第五项规定的，构成违背承诺，视情节严重中止合作1-2个月或永久终止合作；
                        <br />
                        （五） 违反本规则第十条规定的，构成延迟发货，责令24小时内发货，逾期未完成发货取消其该次活动资格，视情节严重中止合作1-2个月或永久终止合作；
                        <br />
                        （六） 商家出现虚假交易，取消当次活动资格，视情节严重中止合作1-2个月或永久终止合作；
                        <br />
                        （七） 活动开始之日起至结束后7天内退款率超过类目平均，视情节严重中止合作1-2个月或永久终止合作；
                        <br />
                        （八） 不正当使用他人权利的，取消当次活动资格，中止合作直至违规行为停止；
                        <br />
                        （九） 出售假冒商品的，取消当次活动资格，永久终止合作 ；
                        <br />
                        （十） 扰乱市场秩序的，取消当次活动资格，视情节严重中止合作1-2个月或永久终止合作；
                        <br />
                        （十一） 不正当谋利的，取消当次活动资格，视情节严重中止合作1-2个月或永久终止合作；
                        <br />
                        （十二） 本次活动结束后15日内，在其他平台再折的，中止合作1-2个月，特殊商品除外；
                        <br />
                        （十三） 资质作假的，中止合作3-6个月，情节严重的永久终止合作。
                    </div>
                </p>
                <p>
                    <strong>第六章附则</strong>
                    <br />
                    第十三条     本规则中的“月”，以三十天计算，非自然月。 
                     <br />
                    第十四条     本规则于2015年9月30日正式生效。
                </p>
                
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
            </div>
        </div>
    </div>
</form>