<form id="recom" class="form-horizontal form-validate form-modal" method="post" action="/api/form/ajaxformurl">
    <div class="modal-dialog" style="width:780px">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">微盟平台协议</h4>
            </div>
            <div class="modal-body" style="max-height: 380px; overflow-y: auto">
                <p>
                    微盟社会化分销平台（SDP）入驻协议
                    <br />
                    修订日期：2014年12月16日
                </p>

                <p>
                    第一条：概述
                    <br />
                    1.1 【目的和依据】为了规范微盟社会化分销平台（以下简称“SDP”）经营秩序，明确供货商、分销商、微客及微盟的权利义务，保障各方及消费者的合法权益，根据《中华人民共和国合同法》等相关法律、法规的规定拟定本协议
                    <br />
                    1.2 【签约主体】本协议由上海微盟企业发展有限公司（以下简称“微盟”）与申请开通微盟SDP功能的微盟商户（以下简称“供货商”或“您”）签署。
                    <br />
                    1.3 【协议生效和适用范围】
                    <br />
                    1.3.1   您通过网络页面点击确认或以其他方式选择接受本协议，即表示您与微盟已达成协议并同意接受本协议的全部约定内容。本协议自您的申请获得微盟审核通过之时起生效。
                    <br />
                    1.3.2   您的申请在获得微盟的审核通过后，在本协议有效期间，您于微盟SDP开展经营活动应遵守本协议的约定。
                </p>
                <p>
                    第二条：相关定义
                    <br />
                    2.1 SDP：Social Distribution Platform的缩写,微盟社会化分销平台，零售业全渠道电商整体解决方案。
                    <br />
                    2.2 分销：是指分销商或微客仅从供货商处获得产品信息和授权并据此进行销售，在买家购买商品后，由供货商将一键代发给消费者的销售方式。
                    <br />
                    2.1 供货商：是指有自己的货源的品牌商、制作商，并开通微盟旺铺且在微盟平台上绑定自己微信公众号的商户。
                    <br />
                    2.2 分销商：没有自己的货源，由供货商设置分配二维码，代理其全部商品的，并以二维码的形式分享出去的个人或商户，分销商有独立的管理后台。
                    <br />
                    2.3 销售员：帮助分销商销售商品的个人，微盟平台针对销售员只负责提供必要数据，佣金由分销商发放，发放的金额为商品实际支付金额*提成。
                    <br />
                    2.4 微客：通过链接帮助供货商和分销商推广的个人。
                </p>
                <p>
                    第三条：开通SDP的条件
                    <br />
                    3.1 申请开通SDP、在微盟平台进行经营活动，须满足以下条件：
                    <br />
                    3.1.1 依照中华人民共和国法律、法规、条例设立并获得合法有效的营业执照及其他经营许可；
                    <br />
                    3.1.2 申请经营的商品来源合法，资质齐全；
                    <br />
                    3.1.3 开通微盟旺铺功能；
                    <br />
                    3.1.4 开通微盟支付功能；
                    <br />
                    3.1.5 微信公众号必须是认证服务号；
                    <br />
                    3.1.6 签署《微盟社会化分销平台入驻协议》，并同意本协议及微盟平台相关规则；
                </p>
                <p>
                    第四条：供货商的权利和义务
                    <br />
                    4.1供货商应符合本协议约定的入驻条件，保证向微盟提交的证明文件及其他相关证明真实、准确、合法、有效，并保证在上述资料发生变更时及时通知并提交给微盟。
                    <br />
                    4.2供货商在SDP开展的经营活动中应遵循诚实守信原则，遵纪守法、本着保障商品质量、提高服务品质，为消费者提供优质的商品和服务，快速、高效的处理交易纠纷。
                    <br />
                    4.3 供货商应保证订立本协议的代理人已获得充分授权，并对代理人的行为承担法律责任，同时保证对其雇员、本协议约定的联系人及其他委派的履行本协议的人员的行为承担法律责任。
                    <br />
                    4.4 供货商在微盟分销平台售卖的商品应拥有合法销售权，商品质量合格，符合国家相关质量标准，不侵犯任何第三方的合法权利，并对其商品质量及商品合法性独立承担全部法律责任。
                    <br />
                    4.5 供货商应保证在微盟分销平台发布的商品信息真实、准确，符合微盟平台规则及国家相关法律法规的规定，与实际出售的商品一致，不含任何夸大或虚假内容，并对商品信息承担独立的完全的法律责任。若发布的上述信息变更的，应及时在微盟平台上予以更新。若因信息未及时变更引起法律后果的，乙方独立承担全部责任。
                    <br />
                    4.6 供货商应保证按照微盟分销平台审核通过的商品类目和品牌经营，未经微盟同意，不得擅自增加、变更商品类目和品牌。保证按照微盟平台规则及国家相关规定设置商品价格、售卖限制、库存数量、商品说明及其他商品信息，并对上述设置独立承担全部法律责任。供货商同时保证在经营过程中，按照微盟相关规则使用客服IM工具，积极回复买家的咨询，并保证在买家提交订单后按要求发货。
                    <br />
                    4.7 供货商保证向购买其商品的买家开具合法合规发票，并保证按照国家相关规定自行承担相应税费。如因供货商发票开具错误、未开具发票或者其他发票问题引起的纠纷，均由供货商独立承担相应的法律责任。
                    <br />
                    4.8 供货商应保证按照国家相关规定、自身售后服务承诺的相关要求，提供商品“修理、更换、退货”等售后服务，同时保证按照本协议附件的相关规定履行消费者权益保障及相关售后服务义务。
                    <br />
                    4.9 供货商应保证在交易的过程中遵守诚实信用原则，不在交易中采取欺诈及虚假宣传、混淆等不正当竞争行为，不扰乱网上交易的正常秩序，不从事与网上交易无关的行为。
                    <br />
                    4.10 供货商应在微盟分销平台获取的任何数据不得用于本协议约定以外的用途，同时未经微盟许可不得擅自获取、使用、传播微盟分销平台的任何资料，包括但不限于交易数据、用户信息、支付信息、微盟其他用户展示于的信息等。
                    <br />
                    4.11 供货商不得隐瞒任何可能对微盟分销平台产生风险的事项，包括但不限于产品出现设计缺陷、质量瑕疵、权利纠纷、重大违约、上传资料包含病毒木马等，若供货商发生此类影响微盟平台商誉、正常经营、安全的事项而供货商未及时通知微盟的，微盟有权解除本协议并追究供货商违约、侵权责任。
                </p>
                <p>
                    第五条：微盟的权利和义务
                    <br />
                    5.1 微盟根据本协议及本协议附件《微盟社会化分销平台佣金规范》的约定向供货商提供信息及数据管理（包括但不限于信息发布、订单及采购单管理）服务。
                    <br />
                    5.2 微盟并不作为供货商提供产品信息及产品，也不作为分销商直接销售供货商的商品，供货商与分销商由于分销平台上发生的采购行为而产生的纠纷，微盟不承担任何责任，但微盟有义务提供必要的帮助信息以促进纠纷的解决。
                    <br />
                    5.3 因网上平台的特殊性，微盟没有义务对所有供货商的信息、所有的交易行为以及有关的其它事项进行事先审查，但如存在下列情况：
                    <br />
                    5.3.1 用户或其它第三方通知微盟，认为某个具体供货商或具体交易事项可能存在重大问题；
                    <br />
                    5.3.2 用户或其它第三方向微盟告知分销平台上有违法或不当行为的；
                    <br />
                    微盟以普通非专业交易者的知识水平标准对相关内容进行判别，可以明显认为这些内容或行为具有违法或不当性质的，微盟有权根据不同情况选择保留或删除相关信息或继续、停止对该供货商提供服务。
                    <br />
                    5.4 微盟有权对供货商的基本信息、产品信息及采购交易信息进行查阅，发现存在任何问题或怀疑，均有权向供货商发出询问及要求改正的通知或者直接作出删除等处理。
                    <br />
                    5.5 经国家生效法律文书或行政处罚决定确认供货商存在违法行为，或者微盟有足够事实依据可以认定供货商存在违法或违反协议行为的，微盟有权在微盟网公布供货商的违法和/或违规行为。
                </p>
                <p>
                    第六条：支付及佣金规则
                    <br />
                    供货商在微盟分销平台开展经营活动和分销商管理，只能使用微盟支付，涉及到的各方佣金计算规则按附录《微盟分销平台佣金规范》执行。
                </p>
                <p>
                    第七条：保密规定
                    <br />
                    7.1 协议双方未经对方书面同意或授权，不得将本协议内容、客户个人信息、客户支付信息等内容以任何方式透露给任意第三方。
                    <br />
                    7.2 协议双方对在履行本协议过程中所获得的对方商业秘密，技术秘密承担保密义务，其保密程度不得低于相关法律法规规定及己方对自身商业秘密之保护程度。
                    <br />
                    7.3 如对方提出要求，任何一方均应将载有对方保密信息的任何文件、资料或软件等，在本协议终止后按对方要求归还对方，或予以销毁，或进行其他处置，并且不得继续使用这些保密信息。
                    <br />
                    7.4 任何一方均应告知并督促其因履行本协议之目的而必须获知本协议内容及因合作而获知对方商业秘密的雇员、代理人、顾问等遵守保密条款，并对其雇员、代理人、顾问等的行为承担责任。
                    <br />
                    7.5 在本协议终止之后，各方在本条款项下的义务并不随之终止，各方仍需遵守本协议之保密条款，履行其所承诺的保密义务，直到其他方同意其解除此项义务，或事实上不会因违反本协议的保密条款而给其他方造成任何形式的损害时为止。
                </p>
                <p>
                    第八条：其他约定
                    <br />
                    8.1 本协议适用、解释、争议解决方式均适用中华人民共和国大陆地区现行法律法规。
                    <br />
                    8.2 因本协议存在的任何争议，双方应协商解决，协商不成的，双方可向微盟所在地有管辖权的人民法院提起诉讼。
                    <br />
                    8.3 本协议内容包括协议正文、附件及所有微盟已经发布的或将来可能发布的微盟规则、经营规范等文件。这些文件是本协议不可分割的一部分，与协议具有相同法律效力。
                    <br />
                    8.4 微盟有权以修改、更新等方式不时调整本协议和相关规则的内容，相关内容将公布于微盟网站上或以其他方式通知供货商。除非您明示并通知微盟不愿接受调整后的内容，否则调整后的内容将于公布之日或通知另行指定的日期开始生效。
                </p>
                <p>
                    第九条：本协议附件清单
                    <br />
                    附件一：《微盟社会化分销平台佣金规范》
                </p>

                <p>
                    第一章 概述
                    <br />
                    第一条【目的和依据】为了规范微盟社会化分销平台（以下简称“SDP”）经营秩序，明确供货商、分销商、微客及微盟的权利义务，保障各方及消费者的合法权益，根据《中华人民共和国合同法》等相关法律、法规的相关规定拟定本协议。
                    <br />
                    第二条【规范修订】微盟有权利根据可能的业务需要修改本规范并在微盟平台上予以公告，所有供货商，分销商，微客应该及时查看公告的信息，如果不同意变更，应立即停止使用微盟分销平台的相关产品，如果继续使用微盟分销平台相关产品的，则视为同意变更以后的规范。
                </p>
                <p>
                    第二章 定义
                    <br />
                    第三条 供货商：是指有自己的货源的品牌商、制作商，并开通微盟旺铺，且在微盟平台上绑定自己微信公众号的商户。
                    <br />
                    第四条 分销商：没有自己的货源，由供货商设置分配二维码，代理其全部商品的，并以二维码的形式分享出去的个人或商户，分销商有独立的管理后台。
                    <br />
                    第五条 微客：通过链接帮助供货商和分销商推广的个人。
                    <br />
                    第六条 保证金：供货商向微盟缴纳的用以保证店铺规范运营及对商品和服务质量进行担保的金额。初始阶段供货商不需要缴纳保证金，只有当微盟支付中产生收入的时候才有可能转入保证金,转入的规则是：供货商的保证金余额不足，新入账的收入优先进入保证金余额；当卖家发生违约、违规行为时，微盟可以依照与卖家签署的协议中相关约定扣除相应金额的保证金作为违约金或给予买家的赔偿。
                        第七条 微盟手续费：订单支付到微盟账户中自动扣除用以缴纳第三方支付手续费的费用，微盟手续费根据支付方式的不同，手续费费率也不一样。
                </p>

                <p>
                    第三章 佣金计算基本规则
                    <br />
                    第八条 【佣金基数】
                    <br />
                    分销商，微客佣金分配的基数为商品实际支付金额。商品实际支付金额等于订单实际支付金额减去运费，不包含运费，优惠券，积分，会员卡，红包抵用的金额。如商品为家装服务体系下商品的，实际成交价同时不包括卖家委托第三方服务公司提供的服务（指“到地级市，买家自提”、“送货上门并安装”及家装服务体系后续可能新增的其他服务类型）对应的服务费用。
                    <br />
                    第九条 【佣金比率】
                    <br />
                    （一）分销商佣金分配的比率为：（销售价-进价）/销售价。
                    <br />
                    （二）微客推广的佣金比率由供货商直接设置。
                    <br />
                    第十条 【粉丝归属规则】
                    <br />
                    粉丝通过A分销商分享的关注二维码关注供货商的微信公众号，则该粉丝属于A分销商。如果该粉丝取消关注公众号，然后通过B分销商分享的关注二维码重新关注公众号，则该粉丝归属为B分销商。
                    <br />
                    第十一条【分销商佣金归属规则】
                    <br />
                    （一）归属A分销商的粉丝通过公众号（例如触发关键词、自定义菜单等）直接进入旺铺，看到的是A分销商的价格，下单时佣金归属于A分销商。
                    <br />
                    （二）如用户P过通过B分销商粉丝分享的链接进入了旺铺，则用户看到的商品价格均为B分销商所设置的价格，下单时佣金归属于B分销商。
                    <br/>
                    第十二条【分销商佣金数额】
                    <br/>
                    分销商获取的佣金收入为商品实际支付金额×分销商的佣金比率。订单实际支付金额扣除运费之后即为商品实际支付金额。
                    <br />
                    第十三条【微客佣金归属规则】
                    <br />
                    （一）粉丝通过微客分享的链接购买了商品并支付成功，则微客会获取相应佣金，微客所属分销商也获得相应佣金。如果粉丝不是通过微客分享的链接进入店铺，微客不会收到佣金。微客单笔订单佣金为该订单支付金额（不含运费）×微客的佣金比率。
                    <br />
                    （二）买家通过微客关注供货商的公众号，则以后直接进入供货商公众号购买，佣金归属于该微客及微客所属分销商；显示的价格为该微客所属分销商的价格，如果该微客没有所属分销商则价格显示供货商的价格。
                    <br />
                    第十四条 【微客佣金数额】
                    <br />
                    （一）微客单笔订单佣金为该订单商品实际支付金额（不含运费）×微客的佣金比率。
                    <br />
                    （二）微客如果归属于某个分销商，推广的佣金直接从该分销商的佣金扣除。如果微客归属于供货商的，微客的佣金从供货商的收入里扣除。
                    <br />
                    第十五条 所有的佣金金额保留到小数点后两位，按照四舍五入的原则计算。
                </p>
                <p>
                    第四章 提现规则
                    <br />
                    第十六条 供货商的微盟审核通过且确认收货的那部分资金会优先转入保证金余额中，在交足保证金的前提下，剩余的钱会进入其账户余额当中。
                    <br />
                    第十七条 当供货商的账户余额高于最低可提现金额时，供货商可以申请提现。微盟财务将款打给供货商的银行卡，同时会把其所属的分销商应得的佣金一并打入银行卡。
                    <br />
                    第十八条 系统每过两天会判定微客的账户余额是否符合自动提现条件：绑定了银行卡且账户余额大于100元。如果满足条件，系统会将微客所有的账户金额自动提现。
                </p>
                <p>
                    第五章 附则
                    <br />
                    第十九条 本规范未作定义的词语或术语，如在《微盟社会化分销平台（SDP）入驻协议》已有定义的，适用其定义；如在《微盟社会化分销平台（SDP）入驻协议》中未进行定义的，按照上下文意思及该词语或术语的通常含义理解。
                    <br />
                    第二十条 该规则自发布之日起开始生效
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
            </div>
        </div>
    </div>
</form>