<form id="recom" class="form-horizontal form-validate form-modal" method="post" action="/api/form/ajaxformurl">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">批量意向活动时间</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label class="col-sm-2 control-label">意象活动时间</label>
                    <div class="col-sm-5 must">
                        <div class="input-group">
                              <input type="text" class="form-control " name="date" data-rule-required="true"   readonly="readonly"  value="2015-08-27" data-startdate="now" data-toggle="datepicker"/>
                              <span class="input-group-addon" >
                                <i class="fa fa-calendar"></i>
                              </span>
                            </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="submit" class="btn btn-primary" data-loading-text="保存中..." disabled>确定</button>
            <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
        </div>
    </div>
</form>