<form id="recom" class="form-horizontal form-validate form-modal" method="post" action="/api/form/ajaxformurl">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">修改内容</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label class="col-sm-2 control-label">商品名称</label>
                    <div class="col-sm-7 must">
                        <input id="shoperid" data-path="/Plus/recom.php" type="text" class="form-control" data-rule-required="true" name="id" />
                    </div>
                </div> 
                <div class="form-group">
                    <label class="col-sm-2 control-label">价格</label>
                    <div class="col-sm-4 must" id="shoperInfo">
                       <input id="shoperid" data-path="/Plus/recom.php" type="text" class="form-control" data-rule-required="true" name="id" />
                    </div>
                </div> 
                <div class="form-group">
                    <label class="col-sm-2 control-label">佣金</label>
                    <div class="col-sm-4 must">
                        <div class="input-group">
                        <input type="text" class="form-control formDis1" data-rule-number="true" data-rule-required="false" name="giftto" />
                        <span class="input-group-addon ">
                            %
                        </span>
                        </div>
                    </div>
                </div> 
            </div>
            <div class="modal-footer">
                <input type="submit" class="btn btn-primary" data-loading-text="保存中..." value="通过报名">
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
            </div>
        </div>
    </div>
</form>

