<!DOCTYPE html>
<html lang="cn" class="app fadeInUp animated">

<head>
    <meta charset="utf-8" />
    <title>V店运营后台</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <link href="/assets/stylesheets/bootstrap.min.css" rel="stylesheet" />
    <link href="/assets/stylesheets/animate.min.css" rel="stylesheet" />
    <link href="/assets/stylesheets/font-awesome.min.css" rel="stylesheet" />
    <link href="/assets/stylesheets/style.min.css" rel="stylesheet" />
    <!--[if lt IE 9]><script src="/assets/javascripts/ie8/inie8.min.js"></script><![endif]-->
    <script type="text/javascript">
        var _speedMark = new Date(),
            www_version = 1201405081146;
    </script>
    <style type="text/css">
    a{
        color: blue;
    }
    .wx .table td{
        
        padding:30px 15px;
        border-top:0;
    }
    .wx .table a{
        color: #999999;
    }
    </style>
</head>

<body>


<section class="vbox">
    <header class="header bg-white b-b b-light">
        <p>开发者中心</p>
    </header>
    <section class="scrollable  wrapper">
        <section class="panel panel-default">
            <div class="panel-body form-horizontal">
                <div class="clo-sm-12">
                    <label>为帮助广大商家和开发者提供的一个大舞台，V店提供了包括商户、订单、库存等在内的多种数据接口。需要对接的商户和开发者可开启该功能。</label>
                    <div class="pull-right js_API"> <input  type="checkbox"  data-toggle="switch"  data-path="/api/form/savePost" data-on-text="启用" data-off-text="停用"/></div>
                </div>
                <div class="line line-dashed line-lg pull-in"></div>
                <div class="API hide">
                    <div class="form-group">
                        <label class="col-sm-12">
                            <h5>
                                <strong>API信息</strong>
                                <a class="pull-right" href="">查看API文档</a>
                            </h5>
                            
                        </label>
                        <label class="col-sm-3 control-label m-b-xs">AppID（应用ID）：</label>
                        <div class="col-sm-9 m-b-xs">
                             <p class="col-sm-5 form-control-static" style="padding-left:0;">
                                 8001b6d6b7d0c7f9d8336e9036ed7d54
                            </p>
                            <span class="js_copy_text copy_text m-r m-t-xs">
                                <span class="hd">8001b6d6b7d0c7f9d8336e9036ed7d54</span>
                            </span>
                        </div>
                        <label class="col-sm-3 control-label m-b-xs">AppSecert（应用密钥）：</label>
                        <div class="col-sm-9 m-b-xs">
                             <p class="col-sm-5 form-control-static" style="padding-left:0;">
                                 4bkchan130adfnah9ddci123
                            </p>
                            <span class="js_copy_text copy_text m-r m-t-xs">
                                <span class="hd">4bkchan130adfnah9ddci123</span>
                            </span>
                        </div>
                    </div>
                    <div class="line line-dashed line-lg pull-in"></div>
                    <h5><strong>开发者工具</strong></h5>
                    <div class="wx">
                        <table class="table b-a text-center">
                            <tbody>
                                <tr>
                                    <td class="col-sm-2">
                                        <a href="">
                                            <i class="fa fa-file-text-o fa-4x"></i>
                                            <br>
                                            开发者文档
                                        </a>
                                    </td>
                                    <td class="col-sm-2">
                                        <a href="">
                                            <i class="fa fa-laptop fa-4x"></i>
                                            <br>
                                            在线接口调试工具
                                        </a>
                                    </td>
                                    <td class="col-sm-2">
                                        <a href="">
                                            <i class="fa fa-group fa-4x"></i>
                                            <br>
                                            开发者问答系统
                                        </a>
                                    </td>
                                    <td class="col-sm-2">
                                        <a href="">
                                            <i class="fa fa-share-square-o fa-4x"></i>
                                            <br>
                                            厂商/开发商申请测试帐号
                                        </a>
                                    </td>
                                    <td class="col-sm-2"></td>
                                    <td class="col-sm-2"></td>                    
                                </tr>
                               
                            </tbody>
                        </table>
                    </div>
                        
                    <div class="line line-dashed line-lg pull-in"></div>
                    <h5><strong>接口权限表</strong></h5>
                    <table class="table b-a b-lt">
                        <thead>
                            <tr class="bg-light">
                                <th>接口模块</th>
                                <th>接口描述</th>
                                <th>权限</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td rowspan="7" class="v-middle b-r b-light lt">
                                    微信会员卡
                                </td>
                                <td>会员卡2.0 正向接口-获取微盟现金流水</td>
                                <td><i class="fa fa-check text-success"></i></td>
                            </tr>
                            <tr>
                                <td>会员卡2.0 正向接口-获取微盟现金流水</td>
                                <td><i class="fa fa-check text-success"></i></td>
                            </tr>
                            <tr>
                                <td>会员卡2.0 正向接口-获取微盟现金流水</td>
                                <td><i class="fa fa-check text-success"></i></td>
                            </tr>
                            <tr>
                                <td>会员卡2.0 正向接口-获取微盟现金流水</td>
                                <td><i class="fa fa-check text-success"></i></td>
                            </tr>
                            <tr>
                                <td>会员卡2.0 正向接口-获取微盟现金流水</td>
                                <td><i class="fa fa-check text-success"></i></td>
                            </tr>
                            <tr>
                                <td>会员卡2.0 正向接口-获取微盟现金流水</td>
                                <td><i class="fa fa-check text-success"></i></td>
                            </tr>
                            <tr>
                                <td>会员卡2.0 正向接口-获取微盟现金流水</td>
                                <td><i class="fa fa-check text-success"></i></td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="line line-dashed line-lg pull-in"></div>
                </div>
                <div class="form-group">
                    <label class="col-sm-12">
                        <h5>
                            <strong>ERP伙伴</strong>
                        </h5>
                    </label>
                    <div class="text-center">
                        <div class="col-sm-3">
                            <a href=""><img src="/assets/images/login/u37.png"></a>
                        </div>
                        <div class="col-sm-3">
                            <a href=""><img src="/assets/images/login/u45.png"></a>
                        </div>
                        <div class="col-sm-3">
                            <a href=""><img src="/assets/images/login/u37.png"></a>
                        </div>
                        <div class="col-sm-3">
                            <a href=""><img src="/assets/images/login/u45.png"></a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </section>
</section>

    <script src="/assets/javascripts/sea-modules/seajs/seajs/2.2.0/sea.js"></script>
    <script src="/assets/javascripts/seajs_config.js"></script>
    <script type="text/javascript">
        seajs.use(["dist/application/app.js","dist/admin/init.js"]);
    </script>


</body>

</html>
