<form class="form-horizontal form-validate form-modal" method="post" action="/api/form/ajaxformurl">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">修改V店名称</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label class="col-sm-4 control-label">您的V店名称将修改为：</label>
                    <div class="col-sm-7"> 
                        <div class="input-group">
                            <input type="text" class="form-control" name="shopname" value="正品小店" data-rule-required="true" data-rule-restrictCharLength="[24,12]" data-rule-remote="/plus/ajaxvalidation.php"/>
                            <span class="input-group-addon">旗舰店</span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label">修改理由：</label>
                    <div class="col-sm-7"> 
                        <textarea rows="4" class="form-control" placeholder="请填写修改理由" data-rule-rangelength="[1,24]" data-rule-required="true" name="reason"></textarea>
                    </div>
                </div>
             
            </div>
            <div class="modal-footer">
                <input type="hidden" value="12306" name="id" />
                <button type="submit" class="btn btn-primary" data-loading-text="保存中..." disabled>保存</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
            </div>
        </div>
    </div>
</form>
