
.hd-banner{height: 370px;background: url(http://static.dodomoney.com/img/temp/product-home/productad-000-1.jpg) 50% 0px no-repeat;min-width: 1170px;}
.banner-box{width: 1170px;overflow: hidden;margin: auto;}
.banner-box img{margin-left:-200px;display: block;}