
<!DOCTYPE html>
<html lang="cn" class="app fadeInUp animated">

<head>
    <meta charset="utf-8" />
    <title>第三方仓储管理</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <link href="/assets/stylesheets/bootstrap.min.css" rel="stylesheet" />
    <link href="/assets/stylesheets/animate.min.css" rel="stylesheet" />
    <link href="/assets/stylesheets/font-awesome.min.css" rel="stylesheet" />
    <link href="/assets/stylesheets/style.min.css" rel="stylesheet" />
    <!--[if lt IE 9]>
    <script src="/assets/javascripts/ie8/inie8.min.js"></script>
    <![endif]-->
    <script type="text/javascript">
        var _speedMark = new Date(),
                www_version = 1201405081146;
    </script>
    <style>
        .form-modal .input-group-addon{padding: 2px;background: none;border:0;}
    </style>
</head>

<body>

<section class="vbox">

    <header class="header bg-white b-b clearfix">
        <form class="talbe-search form-inline" method="post" action="/api/Page/list">
            <div class="row m-t-sm">
                <div class="col-sm-7">

                    <a href="addstorage_supply.html" class="btn btn-sm btn-default"> <i class="fa fa-plus m-r-xs"></i>
                        新增
                    </a>

                </div>

                <div class="col-sm-5 m-b-xs">
                    <div class="input-group">
                        <div class="input-group-btn">
                            <button class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown">
                                <span class="dropdown-label">仓储名称</span>
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu dropdown-select dropdown-select-50">
                                <li class="active">
                                    <a href="javascript:;">
                                        <input type="radio" name="orderType3" value="1">仓储名称</a>
                                </li>
                            </ul>
                        </div>
                        <input type="text" class="input-sm form-control" name="keyword1" data-rule-required="true" />
                              <span class="input-group-btn">
                                  <button class="btn btn-sm btn-default" type="submit" title="搜索">
                                      <i class="fa fa-search"></i>
                                  </button>
                              </span>
                    </div>
                </div>

            </div>

            <input type="hidden" name="pageNumber" id="pageNumber" value="1" />
            <input type="hidden" name="orderBy" id="orderBy" value="desc" />
            <input type="hidden" name="order" id="order" value="Name" />
        </form>
    </header>
    <section class="scrollable wrapper w-f">
        <section class="panel panel-default ">
            <div class="table-responsive">
                <table class="table table-striped m-b-none">
                    <thead>
                    <tr>
                        <!--<th>
                          <input type="checkbox">
                        </th>-->
                        <th>仓储ID</th>
                        <th>仓储名称</th>
                        <th>联系人</th>
                        <th>联系方式</th>
                        <th>发货地</th>
                        <th class="col-sm-1 mn70">操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>1</td>
                        <td>上海晖硕信息科技有限公司</td>
                        <td>微盟</td>
                        <td>13000000011</td>
                        <td>广州</td>
                        <td>
                            <a class="m-xs" href="addstorage_supply.html" title="编辑"><i class="fa fa-edit text-muted"></i></a>
                        </td>
                    </tr>

                    <tr>
                        <td>2</td>
                        <td>上海晖硕信息科技有限公司</td>
                        <td>微盟</td>
                        <td>13000000011</td>
                        <td>广州</td>
                        <td>
                            <a class="m-xs" href="addstorage_supply.html" title="编辑"><i class="fa fa-edit text-muted"></i></a>
                        </td>
                    </tr>

                    <tr>
                        <td>3</td>
                        <td>上海晖硕信息科技有限公司</td>
                        <td>微盟</td>
                        <td>13000000011</td>
                        <td>广州</td>
                        <td>
                            <a class="m-xs" href="addstorage_supply.html" title="编辑"><i class="fa fa-edit text-muted"></i></a>
                        </td>
                    </tr>

                    <tr>
                        <td>4</td>
                        <td>上海晖硕信息科技有限公司</td>
                        <td>微盟</td>
                        <td>13000000011</td>
                        <td>广州</td>
                        <td>
                            <a class="m-xs" href="addstorage_supply.html" title="编辑"><i class="fa fa-edit text-muted"></i></a>
                        </td>
                    </tr>

                    <tr>
                        <td>5</td>
                        <td>上海晖硕信息科技有限公司</td>
                        <td>微盟</td>
                        <td>13000000011</td>
                        <td>广州</td>
                        <td>
                            <a class="m-xs" href="addstorage_supply.html" title="编辑"><i class="fa fa-edit text-muted"></i></a>
                        </td>
                    </tr>

                    <!--
                             <tr>
                    <td  colspan="8" class="nodata">暂无数据</td>
                </tr>
                -->
                    </tbody>
                </table>
            </div>
        </section>
    </section>
    <footer class="footer bg-white b-t">
        <div class="row text-center-xs">
            <div class="col-md-6 hidden-sm">
                <p class="text-muted m-t">总共321条 当前为第1页</p>
            </div>
            <div class="col-md-6 col-sm-12 text-right text-center-xs">
                <ul class="pagination pagination-sm m-t-sm m-b-none" data-pages-total="20" data-page-current="1"></ul>
            </div>
        </div>
    </footer>

</section>



<script src="/assets/javascripts/sea-modules/seajs/seajs/2.2.0/sea.js?v=1201405081146"></script>
<script src="/assets/javascripts/seajs_config.js?v=1201405081146"></script>
<script type="text/javascript">seajs.use("dist/application/app.js")</script>

</body>

</html>