
<!DOCTYPE html>
<html lang="cn" class="app fadeInUp animated">

<head>
    <meta charset="utf-8" />
    <title>微商城</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <link href="/assets/stylesheets/bootstrap.min.css" rel="stylesheet" />
    <link href="/assets/stylesheets/animate.min.css" rel="stylesheet" />
    <link href="/assets/stylesheets/font-awesome.min.css" rel="stylesheet" />
    <link href="/assets/stylesheets/style.min.css" rel="stylesheet" />
    <link href="/assets/stylesheets/plugins/select2/select2.min.css" rel="stylesheet" />
    <!--[if lt IE 9]><script src="/assets/javascripts/ie8/inie8.min.js"></script><![endif]-->
    <script type="text/javascript">
    var _speedMark = new Date(),
        www_version = 1201405081146;
    </script>

</head>

<body>

    <section class="vbox">

        <header class="header bg-white b-b clearfix">
            <form class="talbe-search form-inline" method="post" action="/api/Page/list">
                <div class="row m-t-sm">
                    <div class="col-sm-8 m-b-xs">
                        <a href="roles_ed.html" class="btn btn-sm btn-default m-r"><i class="fa fa-plus m-r-xs"></i>新增角色</a>
                        
                    
                    </div>
                    <div class="col-sm-4 m-b-xs">
                        <div class="input-group">
                            <div class="input-group-btn">
                                <button class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown">
                                    <span class="dropdown-label">正常使用</span>
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu dropdown-select">
                                    <li class="active">
                                        <a href="#">
                                            <input type="radio" value="0" name="searchBy" />禁止使用
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <input type="radio" value="2" name="searchBy" checked="checked" />正常使用
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <input type="text" class="input-sm form-control" name="keyword" data-rule-required="true" placeholder="请输入角色名称" />
                            <span class="input-group-btn">
                                <button class="btn btn-sm btn-default" type="submit" title="搜索">
                                    <i class="fa fa-search"></i>
                                </button>

                            </span>
                        </div>
                    </div>

                </div>
                <input type="hidden" name="pageNumber" id="pageNumber" value="1" />
                <input type="hidden" name="orderBy" id="orderBy" value="desc" />
                <input type="hidden" name="order" id="order" value="Name" />
            </form>
        </header>
        <section class="scrollable wrapper w-f">
            <section class="panel panel-default ">
                <div class="table-responsive">
                    <table class="table table-striped m-b-none">
                        <thead>
                            <tr>
                                <th >角色名称</th>
                                <th>角色描述</th>
                                <th>有效状态</th>
                                <th class="col-sm-1 mn70">操作</th>
                            </tr>
                        </thead>
                        <tbody>

                            <tr>
                               
                                <td>财务管理员</td>
                               
                                <td>
                                   财务

                                </td>
                                <td>正常使用</td>
                               
                                <td>
                                    <a href="roles_ed.html" class="m-xs" title="编辑">
                                        <i class="fa fa-edit text-muted"></i>
                                    </a>
                                    <a href="/api/Form/ajaxRemove/1" data-toggle="ajaxRemove" data-msg="确定删除 角色？" class="m-xs" title="删除">
                                        <i class="fa fa-trash-o text-muted"></i>
                                    </a>
                                </td>
                            </tr>
                           <tr>
                                <td>
                                   超级管理员
                                </td>
                                <td>
                                   超级人员管理角色组权限

                                </td>
                                <td>禁止使用</td>
                               
                                <td>
                                    <a href="roles_ed.html" class="m-xs" title="编辑">
                                        <i class="fa fa-edit text-muted"></i>
                                    </a>
                                    <a href="/api/Form/ajaxRemove/1" data-toggle="ajaxRemove" data-msg="确定删除 角色？" class="m-xs" title="删除">
                                        <i class="fa fa-trash-o text-muted"></i>
                                    </a>
                                </td>
                            </tr>
                            <!-- 
                                     <tr>
                                        <td  colspan="4" class="nodata">暂无</td>
                                    </tr> -->
                        </tbody>
                    </table>
                </div>
            </section>
        </section>
        <footer class="footer bg-white b-t">
            <div class="row text-center-xs">
                <div class="col-md-6 hidden-sm">
                    <p class="text-muted m-t">总共321条 当前为第1页</p>
                </div>
                <div class="col-md-6 col-sm-12 text-right text-center-xs">
                    <ul class="pagination pagination-sm m-t-sm m-b-none" data-pages-total="20" data-page-current="1"></ul>
                </div>
            </div>
        </footer>

    </section>


    <script src="/assets/javascripts/sea-modules/seajs/seajs/2.2.0/sea.js?v=1201405081146"></script>
    <script src="/assets/javascripts/seajs_config.js?v=1201405081146"></script>
    <script type="text/javascript">
    seajs.use("dist/application/app.js");
    </script>

</body>

</html>
