



<!DOCTYPE html>
<html lang="cn" class="app fadeInUp animated">

<head>
  <meta charset="utf-8" />
  <title>微商城</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
  <link href="/assets/stylesheets/bootstrap.min.css" rel="stylesheet" />
  <link href="/assets/stylesheets/animate.min.css" rel="stylesheet" />
  <link href="/assets/stylesheets/font-awesome.min.css" rel="stylesheet" />
  <link href="/assets/stylesheets/style.min.css" rel="stylesheet" />
  <link href="/assets/stylesheets/plugins/daterangepicker/daterangepicker-bs3.min.css" rel="stylesheet" />
  <!--[if lt IE 9]>
  <script src="/assets/javascripts/ie8/inie8.min.js"></script>
  <![endif]-->
  <script type="text/javascript">
    var _speedMark = new Date(),
        www_version = 1201405081146;
    </script>
  <style type="text/css">
      .small-img img{max-width:150px;margin-right:15px;}
      .big-img img{max-width: 260px;margin-right:15px;}
    </style>
</head>

<body>

  <section class="vbox">
    <header class="header bg-white b-b b-light">
      <p>销售概况</p>

    </header>
    <section class="scrollable  wrapper">
      <section class="panel panel-default">
        <div class="panel-body">
          <form class="talbe-horizontal" method="post" action="/api/Page/list">
            <div class="panel panel-default">

              <div class="panel-heading font-bold">
                <label>销售趋势</label>
                <div class="btn-group">
                <a data-toggle="dropdown" class="btn btn-sm btn-default dropdown-toggle">
                  选择一级类目
                  <span class="caret"></span>
                </a>
                <ul class="dropdown-menu dropdown-select dropdown-select-50" data-change="submit">
                  <li>
                    <a href="javascript:;">
                      <input type="radio" name="orderType" value="1" checked="checked">母婴</a>
                  </li>
                  <li>
                    <a href="javascript:;">
                      <input type="radio" name="orderType" value="2" checked="checked">食品</a>
                  </li>
                  <li>
                    <a href="javascript:;">
                      <input type="radio" name="orderType" value="3" checked="checked">美妆</a>
                  </li>
                  <li>
                    <a href="javascript:;">
                      <input type="radio" name="orderType" value="4" checked="checked">服装</a>
                  </li>
                </ul>
              </div>
                <div class="btn-group">
                  <a data-toggle="dropdown" class="btn btn-sm btn-default dropdown-toggle">
                    选择二级类目
                    <span class="caret"></span>
                  </a>
                  <ul class="dropdown-menu dropdown-select dropdown-select-50" data-change="submit">
                    <li>
                      <a href="javascript:;">
                        <input type="radio" name="orderType" value="1" checked="checked">美容护肤</a>
                    </li>
                    <li>
                      <a href="javascript:;">
                        <input type="radio" name="orderType" value="2" checked="checked">香水彩妆</a>
                    </li>
                    <li>
                      <a href="javascript:;">
                        <input type="radio" name="orderType" value="3" checked="checked">美发护发</a>
                    </li>
                    <li>
                      <a href="javascript:;">
                        <input type="radio" name="orderType" value="4" checked="checked">个人护理</a>
                    </li>
                  </ul>
                </div>
                <div class="btn-group">
                  <a data-toggle="dropdown" class="btn btn-sm btn-default dropdown-toggle">
                    选择三级类目
                    <span class="caret"></span>
                  </a>
                  <ul class="dropdown-menu dropdown-select dropdown-select-50" data-change="submit">
                    <li>
                      <a href="javascript:;">
                        <input type="radio" name="orderType" value="1" checked="checked">美容护肤</a>
                    </li>
                    <li>
                      <a href="javascript:;">
                        <input type="radio" name="orderType" value="2" checked="checked">香水彩妆</a>
                    </li>
                    <li>
                      <a href="javascript:;">
                        <input type="radio" name="orderType" value="3" checked="checked">美发护发</a>
                    </li>
                    <li>
                      <a href="javascript:;">
                        <input type="radio" name="orderType" value="4" checked="checked">个人护理</a>
                    </li>
                  </ul>
                </div>
                <a href="javascript:;" class="btn-link-color" style="margin-left: 10px;"  >查看全球购数据</a>
              </div>
              <div class="panel-body">
                <div class="row">
                  <div class="col-sm-11">
                    <div class="form-group">
                      <a class="btn btn-default btn-sm" data-toggle="reportrangecount" data-change="submit">
                        <i class="fa fa-calendar fa-lg"></i>
                        <small>选择时间</small>
                        <span>2014/06/1 - 2014/06/30</span> <b class="caret"></b>
                        <input type="hidden" value="2014/06/1 - 2014/06/30" name="reportrange">
                      </a>
                    </div>
                  </div>
                </div>
                <input type="hidden" name="echarttype" class="js_on_echarts_type" value="0"/>
                <div class="row">
                  <div class="col-sm-10">
                    <div class="btn-group">
                      <button type="button" class="btn btn-default btn-sm js_interact_echarts active" data-type="0"  data-chartid="sales_charts" data-path="/plus/v_charts.php?page=2&type=0">已支付订单额</button>
                      <button type="button" class="btn btn-default btn-sm  js_interact_echarts" data-type="1" data-chartid="sales_charts" data-path="/plus/v_charts.php?page=3&type=1">订单数</button>
                      <button type="button" class="btn btn-default btn-sm js_interact_echarts" data-type="2" data-chartid="sales_charts" data-path="/plus/v_charts.php?page=2&type=2">已支付订单数</button>
                      <button type="button" class="btn btn-default btn-sm js_interact_echarts" data-type="3" data-chartid="sales_charts" data-path="/plus/v_charts.php?page=3&type=3">已支付订单均价</button>
                      <button type="button" class="btn btn-default btn-sm js_interact_echarts" data-type="4" data-chartid="sales_charts" data-path="/plus/v_charts.php?page=4&type=4">销售额</button>
                      <button type="button" class="btn btn-default btn-sm js_interact_echarts" data-type="5" data-chartid="sales_charts" data-path="/plus/v_charts.php?page=5&type=5">佣金额</button>
                      <button type="button" class="btn btn-default btn-sm js_interact_echarts" data-type="6" data-chartid="sales_charts" data-path="/plus/v_charts.php?page=6&type=6">退款额</button>
                    </div>
                  </div>
                  <div class="col-md-2 text-right">
                    <button type="button" data-toggle="compare"  class="btn btn-default btn-sm">对比时段</button>
                  </div>
                </div>
                <div id="sales_charts" style="height: 310px" data-path="/plus/v_charts.php?page=2">
                  <div class="load">数据加载中...</div>
                </div>

              </div>
            </div>

            <div class="panel panel-default">
            <div class="panel-heading font-bold">
              数据列表
              <a class="btn btn-default btn-sm pull-right m-t-n-xs" href="javascript:;" >
                <i class="fa fa-cloud-download m-r-xs"></i>
                导出csv文件
              </a>
            </div>
            <div class="panel-body">
              <section class="panel panel-default ">
                <div class="table-responsive">
                  <table class="table table-striped m-b-none">
                    <thead>
                    <tr>
                      <th style="width: 12.5%;">日期</th>
                      <th style="width: 12.5%;">
                        已支付订单额（元）
                        <a href="javascript:;" data-toggle="popover" data-html="true" data-placement="bottom" data-trigger="hover"  data-content="当日已完成支付的订单总金额。含分佣金额。">
                          <i class="fa fa-question-circle text-muted fa-lg m-l-xs" ></i>
                        </a>
                      </th>
                      <th style="width: 12.5%;">
                        订单数（件）
                        <a href="javascript:;" data-toggle="popover" data-html="true" data-placement="bottom" data-trigger="hover"  data-content="当日所有下单数量。含未支付订单。">
                          <i class="fa fa-question-circle text-muted fa-lg m-l-xs" ></i>
                        </a>
                      </th>
                      <th style="width: 12.5%;">
                        已支付订单数（笔）
                        <a href="javascript:;" data-toggle="popover" data-html="true" data-placement="bottom" data-trigger="hover"  data-content="当日已经支付的订单数量。">
                          <i class="fa fa-question-circle text-muted fa-lg m-l-xs" ></i>
                        </a>
                      </th>
                      <th style="width: 12.5%;">
                        已支付订单均价（元）
                        <a href="javascript:;" data-toggle="popover" data-html="true" data-placement="bottom" data-trigger="hover"  data-content="当日已经支付的订单的平均金额。">
                          <i class="fa fa-question-circle text-muted fa-lg m-l-xs" ></i>
                        </a>
                      </th>
                      <th style="width: 12.5%;">
                        销售额（元）
                        <a href="javascript:;" data-toggle="popover" data-html="true" data-placement="bottom" data-trigger="hover"  data-content="当日已下单的总金额。含未支付金额。">
                          <i class="fa fa-question-circle text-muted fa-lg m-l-xs" ></i>
                        </a>
                      </th>
                      <th style="width: 12.5%;">
                        佣金额（元）
                        <a href="javascript:;" data-toggle="popover" data-html="true" data-placement="bottom" data-trigger="hover"  data-content="当日所有已支付订单的分佣的金额。">
                          <i class="fa fa-question-circle text-muted fa-lg m-l-xs" ></i>
                        </a>
                      </th>
                      <th style="width: 12.5%;">
                        退款额（元）
                        <a href="javascript:;" data-toggle="popover" data-html="true" data-placement="bottom" data-trigger="hover"  data-content="当日所有订单的退款总金额。">
                          <i class="fa fa-question-circle text-muted fa-lg m-l-xs" ></i>
                        </a>
                      </th>

                    </tr>
                    </thead>
                    <tbody>

                    <tr>
                      <td>2015-6-25</td>
                      <td>999</td>
                      <td>10</td>
                      <td>1</td>
                      <td>99</td>
                      <td>99</td>
                      <td>9
                        <a href="javascript:;" data-toggle="popover" data-html="true" data-placement="bottom" data-trigger="hover"  data-content="1级分佣金额：4<br/>2级分佣金额：3<br/>3级分佣金额：2">
                          <i class="fa fa-question-circle text-muted fa-lg m-l-xs" ></i>
                        </a>
                      </td>
                      <td>12</td>
                    </tr>
                    <tr>
                      <td>2015-6-24</td>
                      <td>888</td>
                      <td>88</td>
                      <td>1</td>
                      <td>88</td>
                      <td>88</td>
                      <td>8
                        <a href="javascript:;" data-toggle="popover" data-html="true" data-placement="bottom" data-trigger="hover"  data-content="1级：3<br/>2级：3<br/>3级：2">
                          <i class="fa fa-question-circle text-muted fa-lg m-l-xs" ></i>
                        </a>
                      </td>
                      <td>/</td>
                    </tr>

                    <!--
                                 <tr>
                    <td  colspan="7" class="nodata">暂无数据</td>
                  </tr>
                  -->
                    </tbody>
                  </table>

                  <footer class="footer bg-white b-t">
                    <div class="row text-center-xs">
                      <div class="col-md-6 hidden-sm">
                        <p class="text-muted m-t">总共321条 当前为第1页</p>
                      </div>
                      <div class="col-md-6 col-sm-12 text-right text-center-xs">
                        <ul class="pagination pagination-sm m-t-sm m-b-none" data-pages-total="20" data-page-current="1"></ul>
                      </div>
                    </div>
                  </footer>
                </div>
              </section>

            </div>
          </div>

            <div class="panel panel-default">
              <div class="panel-body">

                <section class="panel panel-default">
                  <header class="panel-heading font-bold">数据占比<a href="javascript:;" data-toggle="popover" data-placement="right" data-trigger="hover"  data-content="该图表统计的是“已支付订单额”比例，与分类联动。当选择全部数据时，该比例显示各一级类目比例；当选择一级分类时，此图表显示其下各二级分类比例。" class="text-muted"><i class="fa fa-question m-l-xs"></i></a></header>
                  <div class="panel-body">
                    <div id="distribute_echarts" style="height: 310px" data-path="/plus/distribute_echarts.php">
                      <div class="load">数据加载中...</div>
                    </div>
                  </div>
                </section>

              </div>
            </div>

        </form>
      </div>
    </section>
  </section>
</section>
<div class="modal fade in js_compare_modal_time"   tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <form class="form-horizontal form-validate form-modal" method="post" action="/api/form/ajaxformurl">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title" id="myModalLabel">对比时段</h4>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <label class="col-sm-2 control-label">时间选择</label>
            <div class="col-sm-8">
              <div class="input-group">
                <input type="text" class="form-control" name="groundingdate"  readonly="readonly"  value=""  data-toggle="datepicker" data-format="yyyy-mm-dd" data-end-date="now" data-rule-notEqual="2015-06"/>
                <span class="input-group-addon">
                  <i class="fa fa-calendar"></i>
                </span>
              </div>

            </div>
          </div>

          <!-- <div class="form-group js_date_show hide">
          <label class="col-sm-2 control-label">已选择时间</label>
          <div class="col-sm-8">
            <p class="form-control-static"></p>
            <input type="hidden" name="datesave" />
          </div>
        </div>
        -->
      </div>
      <div class="modal-footer">
        <input type="hidden" name="echarttype" class="js_on_echarts_type" value="0"/>
        <button type="submit" class="btn btn-primary"  data-loading-text="保存中...">确认</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
      </div>

    </form>
  </div>
</div>

</div>
<script src="/assets/javascripts/sea-modules/seajs/seajs/2.2.0/sea.js"></script>
<script src="/assets/javascripts/seajs_config.js"></script>
<script type="text/javascript">seajs.use(["dist/application/app.js","dist/count/init.js"])</script>

</body>

</html>