<!DOCTYPE html>
<html lang="cn" class="app fadeInUp animated">
<head>
    <meta charset="utf-8" />
    <title>V店</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <link href="/assets/stylesheets/bootstrap.min.css" rel="stylesheet" />
    <link href="/assets/stylesheets/animate.min.css" rel="stylesheet" />
    <link href="/assets/stylesheets/font-awesome.min.css" rel="stylesheet" />
    <link href="/assets/stylesheets/style.min.css" rel="stylesheet" />
    <!--[if lt IE 9]>
    <script src="/assets/javascripts/ie8/inie8.min.js"></script>
    <![endif]-->
    <script type="text/javascript">
    var _speedMark = new Date(),
        www_version = 1201405081146;
    </script>
</head>
<body>
    <section class="vbox">
        <header class="header bg-white b-b b-light">
            <p>
                换绑移动端客服
            </p>
            <a class="text-muted pull-right m-t pointer" data-toggle="back" title="返回"> <i class="fa fa-reply"></i>
            </a>
        </header>
        <section class="scrollable  wrapper">
            <section class="panel panel-default">
                <div class="panel-body">
                    <form class="form-horizontal form-validate" method="post" action="/api/form/ajaxform">
                        <div class="form-group">

                            <label class="col-sm-2 control-label must">是否解除绑定</label>
                             <div class="col-sm-9 js_radio">
                                <label class="radio-inline"><input type="radio" name="sfjb" value="0">是</label>
                                <label class="radio-inline"><input type="radio" name="sfjb" value="1" checked="checked">否</label>
                            </div>
                        </div>                    
                        <div class="form-group">
                            <label class="col-sm-2 control-label">已绑手机号：</label>
                            <div class="col-sm-4">
                                <p class="form-control-static">13636363636</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label must">换绑帐号：</label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control m-b-xs js_phone_number_val" name="mobile_phone" data-rule-required="true" data-rule-Mobile="true" data-rule-remote="/plus/ajaxvalidation.php" />
                                <span class="help-inlne">
                                    绑定之后就可以在萌店APP中接收客服消息
                                </span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label must">验证码：</label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control js_txtcode" name="code" data-rule-required="true" />
                            </div>
                            <div class="col-sm-4">
                                <button type="button" data-path="/api/form/ajaxform" class="btn btn-default btn-sm js_get_code" data-msg="">获取验证码</button>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-4 col-sm-offset-2">
                                <button type="submit" class="btn btn-primary" data-loading-text="保存中...">保存</button>
                                <button type="button" class="btn btn-default" data-toggle="back">取消</button>
                            </div>
                        </div>
                    </form>
                </div>
            </section>
        </section>
    </section>

    <script src="/assets/javascripts/sea-modules/seajs/seajs/2.2.0/sea.js"></script>
    <script src="/assets/javascripts/seajs_config.js"></script>
    <script type="text/javascript">
        seajs.use(["dist/application/app.js","dist/customer/init.js"])
    </script>
</body>
</html>