<!DOCTYPE html>
<html lang="cn" class="app fadeInUp animated">

<head>
    <meta charset="utf-8" />
    <title>配送单打印</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <link href="/assets/stylesheets/page/print.css" rel="stylesheet" />
</head>
<body>
<div class="page">
		<div class="bill">
			<p class="title">配送单</p>
			<img src="/Assets/images/weimobcode.png" class="titleimg">
			<ul>
				<li style="width:80mm">收货人：宋玉杰  182173286</li>
			</ul>
			<ul>
				<li style="width:80mm">付款方式：货到付款</li>
				<li class="text-right" style="width:120mm">下单时间：2014-08-08 15:59:05</li>
			</ul>
			<ul>
				<li style="width:140mm">收货地址：上海市宝山区逸仙路2816号</li>
				<li class="text-right" style="width:60mm">订单编号：293829292000</li>
			</ul>
			<table>
				<col style="width:12mm"/>
				<col style="width:35mm"/>
				<col  />
				<col style="width:25mm" />
				<col style="width:20mm" />
				<col style="width:25mm" />
				<tr>
					<th>序号</th>
					<th>商品货号</th>
					<th>商品名称</th>
					<th>单价</th>
					<th>数量</th>
					<th>小计</th>
				</tr>
				<tr>
					<td >1</td>
					<td>202011</td>
					<td class="left"></td>
					<td>29.00</td>
					<td>2</td>
					<td>58.00</td>
				</tr>
				<tr>
					<td colspan="3" class="left">
					总计:90.00（含运费8.00）<span class="m-l">已付:5.00  (积分:2.00<span class="m-l-md">优惠券:3.00</span>)</span><span class="maroon m-l-md">应收:85.00</span>
					</td>
					<td>合计</td>
					<td>4</td>
					<td>58.00</td>
				</tr>
			</table>
			<ul>
				<li class="m-r">裙摆舞者旗舰店</li>
				<li class="m-r">电话：<span>18217328644   </span></li>
				<li class="m-r">地址：<span>上海市宝山区逸仙路2816号   </span></li>
				<li style="float: right;">技术支持：<span>微盟旺铺</span></li>
			</ul>
		</div>
		
	</div>

</body>
</html>