<!DOCTYPE html>
<html lang="cn" class="app fadeInUp animated">

<head>
    <meta charset="utf-8" />
    <title>V店</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <link href="/assets/stylesheets/bootstrap.min.css" rel="stylesheet" />
    <link href="/assets/stylesheets/animate.min.css" rel="stylesheet" />
    <link href="/assets/stylesheets/font-awesome.min.css" rel="stylesheet" />
    <link href="/assets/stylesheets/style.min.css" rel="stylesheet" />
    <link href="/assets/stylesheets/plugins/select2/select2.min.css" rel="stylesheet" />
    <link href="/assets/stylesheets/plugins/chosen/chosen.min.css" rel="stylesheet" />
    <link href="/assets/stylesheets/plugins/uploadify/uploadify.min.css" rel="stylesheet" />
    <!--[if lt IE 9]>
    <script src="/assets/javascripts/ie8/inie8.min.js"></script>
    <![endif]-->
    <script type="text/javascript">
        var _speedMark = new Date(),
            www_version = 1201405081146;
    </script>
    <style>
    .mark{display: inline-block; color: #fff !important;font-size: 12px;line-height: 1.5;padding: 1px 5px;text-align: center;vertical-align: middle;white-space: nowrap;margin:5px 5px 0 0;}
    .bg_org{background: #fe6948;}
    .bg_red{background: #f6465a;}
    .bg_blu{background: #23d6c0;}
    </style>

</head>

<body>

    <section class="vbox">
        <header class="header bg-white b-b b-light">
            <p>订单详情</p>
            <a class="text-muted pull-right m-t pointer" data-toggle="back" title="返回"> <i class="fa fa-reply"></i>
            </a>
        </header>
        <section class="scrollable  wrapper">
            <form class="form-horizontal form-validate" method="post" action="/api/form/ajaxformurl">
                <div class="alert alert-warning">
                    <h5>
                        当前订单状态：待付款
                        <input  type="hidden" name="method" id="method"/>
                        <button type="button" data-toggle="method" data-method="close" class="btn btn-default btn-sm" data-confirm="true" data-msg="确定关闭该订单？" data-loading-text="关闭中...">关闭</button>
                        <button type="button" data-remote="async/add_flag.html" data-toggle="ajaxModal" class="btn btn-default btn-sm" title="标记">标记</button>
                        <a href="javascript:;" data-remote="async/remarks.html" data-toggle="ajaxModal" class="btn btn-default btn-sm" title="备注">备注</a>
                    </h5>
                    <div class="m-l-xl m-b-xs">
                        标记： <i class="fa fa-flag fa-lg text-muted m-r-xs"></i>
                        <i class="fa fa-flag fa-lg text-danger m-r-xs"></i>
                        <i class="fa fa-flag fa-lg text-warning m-r-xs"></i>
                        <i class="fa fa-flag fa-lg text-primary m-r-xs"></i>
                        <i class="fa fa-flag fa-lg text-info m-r-xs"></i>
                        <i class="fa fa-flag fa-lg text-blue m-r-xs"></i>
                        <span class="m-l-xs">标记信息标记信息标记信息标记信息</span>
                    </div>
                </div>
                <section class="panel panel-default">
                    <header class="panel-heading bg-light">
                        <ul class="nav nav-tabs">
                            <li class="active">
                                <a href="#tabinfo" data-toggle="tab">订单信息</a>
                            </li>
                            <li>
                                <a href="#payinfo" data-toggle="tab">支付信息</a>
                            </li>
                            <li>
                                <a href="#identifyInfo" data-toggle="tab">充值信息</a>
                            </li>
                        </ul>
                    </header>
                    <div class="panel-body">
                        <div class="tab-content">
                            <div class="tab-pane active" id="tabinfo">
                                <div class="col-sm-12">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label">订单编号</label>
                                            <div class="col-sm-10 form-control-static">438293525884637</div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label">下单时间</label>
                                            <div class="col-sm-10 form-control-static">2014-04-24 14:39:44</div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label">订单来源</label>
                                            <div class="col-sm-10 form-control-static">V店-V店名称（联系方式：15266778876）</div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label">支付时间</label>
                                            <div class="col-sm-10 form-control-static">2014-04-24 14:39:44</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label">发货时间</label>
                                            <div class="col-sm-10 form-control-static">2014-04-24 14:39:44</div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label">完成时间</label>
                                            <div class="col-sm-10 form-control-static">2014-04-24 14:39:44</div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">

                                        <!-- <div class="form-group">
                                            <label class="col-sm-2 control-label">自动确认收货时间</label>
                                            <div class="col-sm-10 form-control-static">2014-04-24 14:39:44</div>
                                        </div> -->

                                    </div>
                                </div>
                                <div class="col-sm-12 table-responsive">

                                    <table class="table table-bordered ">
                                        <thead>
                                            <tr>
                                                <th>商品信息</th>
                                                <th>商家编码</th>
                                                <th>单价</th>
                                                <th>数量</th>
                                                <!--<th>优惠信息</th>-->
                                                <th class="col-sm-2">实收款</th>
                                                <th>优惠金额</th>
                                                <th>总计</th>
                                            </tr>
                                        </thead>
                                        <tbody>

                                            <tr>
                                                <td>
                                                    <div class="media">
                                                        <div class="pull-right">x1</div>
                                                        <div class="media-body">
                                                            <div>
                                                                <a href="#">浙江电信 话费 100元</a>
                                                            </div>
                                                        </div>
                                                    </div>

                                                </td>
                                                <td>35355</td>
                                                <td>
                                                    <span class="money">199800.00</span>
                                                </td>
                                                <td>1</td>
                                                <!--<td rowspan="2">-</td>-->
                                                <td>
                                                    <p class="money m-b-xs">
                                                        100.00
                                                    </p>
                                                    <!-- <span class="mark bg_blu">满减商品</span>
                                                    <span class="mark bg_org">满折商品</span> -->
                                                </td>
                                                <td>
                                                    优惠券：￥5.00
                                                </td>
                                                <td>
                                                    <p class="money">210.00</p>
                                                  
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>

                                </div>
                            </div>
                            <div class="tab-pane" id="payinfo">
                                <div class="col-sm-12">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <div class="col-sm-10 form-control-static">
                                                应付款:120.00
                                                <span class="m-l-lg">已收款:20.00</span>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <div class="col-sm-12 table-responsive">

                                    <table class="table table-bordered table-striped m-b-xl">
                                        <thead>
                                            <tr>
                                                <th>支付时间</th>
                                                <th>
                                                    支付单号
                                                    <!-- <a href="javascript:;" data-toggle="popover" data-placement="bottom" data-trigger="hover"  data-content="商家使用微盟支付服务时，此处显示的是微盟后台>
                                                        微盟支付>财务明细中的支付单号，未使用微盟支付服务时，此处的支付单号可以暂时忽略">
                                                        <i class="fa fa-question fa-lg m-l-xs"></i>
                                                    </a> -->
                                                </th>
                                                <th>
                                                    支付流水号|商户订单号
                                                    <!-- <a href="javascript:;" data-toggle="ajaxModal" data-remote="async/order_demo.html">
                                                        <i class="fa fa-question fa-lg m-l-xs"></i>
                                                    </a> -->
                                                </th>
                                                <th>支付金额</th>
                                                <th>支付方式</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>2014-08-14 12:12:12</td>
                                                <td>111111222222</td>
                                                <td>2222223333</td>
                                                <td>10.00</td>
                                                <td>支付宝(微盟支付)</td>

                                            </tr>
                                        </tbody>
                                    </table>

                                </div>
                            </div>
                            <div class="tab-pane" id="identifyInfo">
                                <div class="col-sm-12">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label">充值号码</label>
                                            <div class="col-sm-10 form-control-static">18800001111</div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label">号码归属地</label>
                                            <div class="col-sm-10 form-control-static">江苏</div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label">充值面额</label>
                                            <div class="col-sm-10 form-control-static">100元</div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label">运营商</label>
                                            <div class="col-sm-10 form-control-static">中国移动</div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label">充值渠道</label>
                                            <div class="col-sm-10 form-control-static">连连</div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label">供价</label>
                                            <div class="col-sm-10 form-control-static">98.50元</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </form>
        </section>
    </section>

<script src="/assets/javascripts/sea-modules/seajs/seajs/2.2.0/sea.js"></script>
<script src="/assets/javascripts/seajs_config.js"></script>
<script type="text/javascript">
    seajs.use(["dist/application/app.js","dist/order/init.js"])
</script>

</body>

</html>