
<!DOCTYPE html>
<html lang="cn" class="app fadeInUp animated">

<head>
    <meta charset="utf-8" />
    <title>微商城</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <link href="/assets/stylesheets/bootstrap.min.css" rel="stylesheet" />
    <link href="/assets/stylesheets/animate.min.css" rel="stylesheet" />
    <link href="/assets/stylesheets/font-awesome.min.css" rel="stylesheet" />
    <link href="/assets/stylesheets/style.min.css" rel="stylesheet" />
    <link href="/assets/stylesheets/plugins/daterangepicker/daterangepicker-bs3.min.css" rel="stylesheet" />
    <!--[if lt IE 9]><script src="/assets/javascripts/ie8/inie8.min.js"></script><![endif]-->
    <script type="text/javascript">
        var _speedMark = new Date(),
            www_version = 1201405081146;
    </script>

</head>

<body>

    <section class="vbox">
        <header class="header bg-white b-b clearfix">
            <form class="talbe-search form-inline" method="post" action="/api/Page/list">
                <div class="row m-t-sm">
                    <div class="col-sm-8 m-b-xs">
                        <div class="btn-group">
                            <a data-toggle="dropdown" class="btn btn-sm btn-default dropdown-toggle">
                                <span class="dropdown-label">代销商品</span>
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu dropdown-select dropdown-select-50" data-change="submit">
                                <li class="active">
                                    <a href="javascript:;">
                                        <input type="radio" name="goodType" value="1" checked="checked">代销商品</a>
                                </li>
                                <li>
                                    <a href="javascript:;">
                                        <input type="radio" name="goodType" value="2">自营商品</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-4 m-b-xs">
                        <div class="input-group">
                            <div class="input-group-btn">
                                <button class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown">
                                    <span class="dropdown-label">订单编号</span>
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu dropdown-select">
                                    <li class="active">
                                        <a href="#">
                                            <input type="radio" value="0" name="searchBy" checked="checked" />订单编号
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <input type="radio" value="1" name="searchBy" />收货人姓名
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <input type="radio" value="1" name="searchBy" />收货人电话
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <input type="text" class="input-sm form-control" name="keyword" data-rule-required="true" />
                            <span class="input-group-btn">
                                <button class="btn btn-sm btn-default" type="submit" title="搜索">
                                    <i class="fa fa-search"></i>
                                </button>

                            </span>
                        </div>
                    </div>
                </div>
                <input type="hidden" name="pageNumber" id="pageNumber" value="1" />
                <input type="hidden" name="orderBy" id="orderBy" value="desc" />
                <input type="hidden" name="order" id="order" value="date" />
            </form>
        </header>
        <section class="scrollable wrapper w-f">
            <section class="panel panel-default ">
                <div class="table-responsive">
                    <table class="table table-striped m-b-none">
                        <thead>
                            <tr>
                                <th>商品信息</th>
                                <th class="col-sm-2">实收款</th>
                                <!--<th>粉丝</th>-->
                                <th class="col-sm-1 mn70">支付方式</th>
                                <th class="col-sm-1 mn70">状态</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td colspan="6">
                                    <span class="m-r">订单编号：95133</span>
                                    <span class="m-r">下单时间：2014-04-24 14:39:44</span><span class="m-r">订单来源：V店-V店名称</span>
                                    <span class="m-r">供货商店铺：XXXXXX</span>
                                    <a href="order_details2.html" class="btn btn-default btn-xs pull-right" title="订单详情">
                                        <i class="fa fa-search text-muted m-r-xs"></i>订单详情
                                    </a>
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    <ul class="list-group no-borders">
                                        <li class="list-group-item">
                                            <div class="media">
                                                <span class="pull-left thumb-sm">
                                                    <img src="/assets/images/goods/1.jpg" alt="John said">
                                                </span>
                                                <div class="pull-right">
                                                    <i class="fa fa-gavel text-primary m-l-xs m-r-xs"></i><a href="rights_details2.html">查看维权信息</a>
                                                </div>
                                                <div class="pull-right">
                                                    x1
                                                </div>
                                                <div class="media-body">
                                                    <div>
                                                      <a href="#">Apple 苹果 iPhone 5s (A1530 )16G版 银色 4G </a>
                                                      <br /><span class="text-muted">[商家编码：78987]</span>
                                                    </div>
                                                    <small class="text-muted">单价： <span class="money">199800.00</span><span class="m-l-xs">[颜色：水晶银  发动机：V10]</span></small>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="list-group-item">
                                            <div class="media">
                                                <span class="pull-left thumb-sm">
                                                    <img src="/assets/images/goods/2.jpg" alt="John said">
                                                </span>
                                                <div class="pull-right">
                                                    <i class="fa fa-gavel text-primary m-l-xs m-r-xs"></i><a href="rights_details2.html">查看维权信息</a>
                                                </div>
                                                <div class="pull-right">
                                                    x2
                                                </div>
                                                <div class="media-body">
                                                    <div><a href="#">Somic 硕美科 G909 7.1声道 游戏耳麦 头戴式 USB接口 </a>
                                                      <br /><span class="text-muted">[商家编码：78987]</span></div>
                                                    <small class="text-muted">单价： <span class="money">228.00</span> </small>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </td>
                                <td>
                                    <p class="money m-b-xs">19140.00</p>
                                    <small class="text-muted">[含运费:40.00]</small>
                                </td>
                                <!--<td><p class="m-b-xs mx80">wechatID</p><a href="javascript:;" class="btn btn-default btn-xs" disabled><i class="fa fa-comments-o m-r-xs"></i>微客服</a></td>-->
                                <td>微信支付</td>

                                <td>
                                  <p>已支付</p>
                                  <p>已发货</p>
                                </td>


                            </tr>
                            <tr>
                                <td colspan="6">
                                    <span class="m-r">订单编号：95133</span>
                                    <span class="m-r">下单时间：2014-04-24 14:39:44</span><span class="m-r">订单来源：V店-V店名称</span>
                                    <a href="order_details2.html" class="btn btn-default btn-xs pull-right" title="订单详情">
                                        <i class="fa fa-search text-muted m-r-xs"></i>订单详情
                                    </a>

                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <ul class="list-group no-borders">
                                        <li class="list-group-item">
                                            <div class="media">
                                                <span class="pull-left thumb-sm">
                                                    <img src="/assets/images/goods/1.jpg" alt="John said">
                                                </span>
                                                <div class="pull-right">
                                                    <i class="fa fa-gavel text-primary m-l-xs m-r-xs"></i><a href="rights_details2.html">查看维权信息</a>
                                                </div>
                                                <div class="pull-right">
                                                    x1
                                                </div>
                                                <div class="media-body">
                                                    <div>
                                                      <a href="#">Apple 苹果 iPhone 5s (A1530 )16G版 银色 4G </a>
                                                      <br /><span class="text-muted">[商家编码：78987]</span>
                                                    </div>
                                                    <small class="text-muted">单价： <span class="money">199800.00</span><span class="m-l-xs">[颜色：水晶银  发动机：V10]</span></small>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="list-group-item">
                                            <div class="media">
                                                <span class="pull-left thumb-sm">
                                                    <img src="/assets/images/goods/2.jpg" alt="John said">
                                                </span>
                                                <div class="pull-right">
                                                    <i class="fa fa-gavel text-primary m-l-xs m-r-xs"></i><a href="rights_details2.html">查看维权信息</a>
                                                </div>
                                                <div class="pull-right">
                                                    x2
                                                </div>
                                                <div class="media-body">
                                                    <div>
                                                      <a href="#">Somic 硕美科 G909 7.1声道 游戏耳麦 头戴式 USB接口 </a>
                                                      <br /><span class="text-muted">[商家编码：78987]</span>
                                                    </div>
                                                    <small class="text-muted">单价： <span class="money">228.00</span> </small>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="list-group-item">
                                            <div class="media">
                                                <span class="pull-left thumb-sm">
                                                    <img src="/assets/images/goods/3.jpg" alt="John said">
                                                </span>
                                                <div class="pull-right">
                                                    <i class="fa fa-gavel text-primary m-l-xs m-r-xs"></i><a href="rights_details2.html">查看维权信息</a>
                                                </div>
                                                <div class="pull-right m-t-sm">
                                                    x1
                                                </div>
                                                <div class="media-body">
                                                    <div>
                                                      <a href="#">迎馨 床品家纺被芯 双人馨雅型玉米纤维春秋被子200*230cm 米黄色</a>
                                                      <br /><span class="text-muted">[商家编码：78987]</span>
                                                    </div>
                                                    <small class="text-muted">单价： <span class="money">228.00</span><span class="m-l-xs">[颜色：水晶银  发动机：V10]</span> </small>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="list-group-item">
                                            <div class="media">
                                                <span class="pull-left thumb-sm">
                                                    <img src="/assets/images/goods/4.jpg" alt="John said">
                                                </span>
                                                <div class="pull-right">
                                                    <i class="fa fa-gavel text-primary m-l-xs m-r-xs"></i><a href="rights_details2.html">查看维权信息</a>
                                                </div>
                                                <div class="pull-right m-t-sm">
                                                    x2
                                                </div>
                                                <div class="media-body">
                                                    <div>
                                                      <a href="#">Sharp 夏普 LCD-40DS10A-BK 40英寸 LED液晶电视</a>
                                                      <br /><span class="text-muted">[商家编码：78987]</span>
                                                    </div>
                                                    <small class="text-muted">单价： <span class="money">228.00</span><span class="m-l-xs">[颜色：水晶银  发动机：V10]</span> </small>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="list-group-item item1 hide">
                                            <div class="media">
                                                <span class="pull-left thumb-sm">
                                                    <img src="/assets/images/goods/2.jpg" alt="John said">
                                                </span>
                                                <div class="pull-right">
                                                    <i class="fa fa-gavel text-primary m-l-xs m-r-xs"></i><a href="rights_details2.html">查看维权信息</a>
                                                </div>
                                                <div class="pull-right">
                                                    x2
                                                </div>
                                                <div class="media-body">
                                                    <div>
                                                      <a href="#">Somic 硕美科 G909 7.1声道 游戏耳麦 头戴式 USB接口 </a>
                                                      <br /><span class="text-muted">[商家编码：78987]</span>
                                                    </div>
                                                    <small class="text-muted">单价： <span class="money">228.00</span> </small>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="list-group-item item1 hide">
                                            <div class="media">
                                                <span class="pull-left thumb-sm">
                                                    <img src="/assets/images/goods/3.jpg" alt="John said">
                                                </span>
                                                <div class="pull-right m-t-sm">
                                                    x1
                                                </div>
                                                <div class="media-body">
                                                    <div>
                                                      <a href="#">迎馨 床品家纺被芯 双人馨雅型玉米纤维春秋被子200*230cm 米黄色</a>
                                                      <br /><span class="text-muted">[商家编码：78987]</span>
                                                    </div>
                                                    <small class="text-muted">单价： <span class="money">228.00</span><span class="m-l-xs">[颜色：水晶银  发动机：V10]</span> </small>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="list-group-item">
                                            <a href=".item1" class="btn btn-xs btn-default pull-left" data-toggle="class:show">
                                                <i class="fa fa-plus text"></i>
                                                <span class="text">全部</span>
                                                <i class="fa fa-minus text-active"></i>
                                                <span class="text-active">收起</span>
                                            </a>
                                        </li>
                                    </ul>
                                </td>
                                <td>
                                    <p class="money m-b-xs">19140.00</p>
                                    <small class="text-muted">[含运费:40.00]</small>
                                </td>
                                <!--<td><p class="m-b-xs mx80">wechatIwechatIDwechatIDwechatIDwechatIDwechatIDwechatIDwechatIDwechatIDD</p><a href="javascript:;" class="btn btn-default btn-xs"><i class="fa fa-comments-o m-r-xs"></i>微客服</a></td>-->
                                <td>支付宝</td>
                                <td>
                                    <p>已支付</p>
                                    <p>已发货</p>
                                </td>


                            </tr>


                            <!--    <tr>
                                            <td  colspan="7" class="nodata">暂无规格</td>
                                        </tr> -->
                        </tbody>
                    </table>
                </div>
            </section>
        </section>
        <footer class="footer bg-white b-t">
            <div class="row text-center-xs">
                <div class="col-md-6 hidden-sm">
                    <p class="text-muted m-t">总共321条 当前为第1页</p>
                </div>
                <div class="col-md-6 col-sm-12 text-right text-center-xs">
                    <ul class="pagination pagination-sm m-t-sm m-b-none" data-pages-total="20" data-page-current="1"></ul>
                </div>
            </div>
        </footer>

    </section>


    <script src="/assets/javascripts/sea-modules/seajs/seajs/2.2.0/sea.js?v=1201405081146"></script>
    <script src="/assets/javascripts/seajs_config.js?v=1201405081146"></script>
    <script type="text/javascript">
        seajs.use(["dist/application/app.js","dist/order/init.js"])
    </script>

</body>

</html>
