<!DOCTYPE html>
<html lang="cn" class="app fadeInUp animated">

<head>
    <meta charset="utf-8" />
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <link href="/assets/stylesheets/bootstrap.min.css" rel="stylesheet" />
    <link href="/assets/stylesheets/animate.min.css" rel="stylesheet" />
    <link href="/assets/stylesheets/font-awesome.min.css" rel="stylesheet" />
    <link href="/assets/stylesheets/style.min.css" rel="stylesheet" />
    <!--[if lt IE 9]><script src="/assets/javascripts/ie8/inie8.min.js"></script><![endif]-->
    <script type="text/javascript">
        var _speedMark = new Date(),
            www_version = 1201405081146;
    </script>

</head>

<body>
    <section class="vbox">
        <header class="header bg-white b-b b-light">
            <p>信息详情</p>
            <a  class="text-muted pull-right m-t pointer" data-toggle="back" title="返回"><i class="fa fa-reply"></i></a>
        </header>
        <section class="scrollable wrapper w-f">
            <section class="panel panel-default ">
             
                <div class="panel-body"> 
                    <p>掌柜，顾客心急，催您发货呢！</p>
                    <p>订单编号： 1558764467893467890</p>
                    <p>下单时间：  2015-06-06 20:20:20</p> 
                    <p>商品信息：牛肉干牛肉干香香的牛肉干</p> 
                    <p>订单来源：V店-店铺2015500000077（联系方式）</p>
                    <p>等待发货时长： 20天23时22分</p>
                    <p><a href="#" class="btn btn-default">立即发货</a></p>
                </div>
            </section> 
        </section>
    </section>

    <script src="/assets/javascripts/sea-modules/seajs/seajs/2.2.0/sea.js"></script>
    <script src="/assets/javascripts/seajs_config.js"></script>
    <script type="text/javascript">
        seajs.use("dist/application/app.js")
    </script>

</body>

</html>
