
<!DOCTYPE html>
<html lang="cn" class="app fadeInUp animated">

<head>
    <meta charset="utf-8" />
    <title>微商城</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <link href="/assets/stylesheets/bootstrap.min.css" rel="stylesheet" />
    <link href="/assets/stylesheets/animate.min.css" rel="stylesheet" />
    <link href="/assets/stylesheets/font-awesome.min.css" rel="stylesheet" />
    <link href="/assets/stylesheets/style.min.css" rel="stylesheet" />
    <!--[if lt IE 9]><script src="/assets/javascripts/ie8/inie8.min.js"></script><![endif]-->
    <script type="text/javascript">
        var _speedMark = new Date(),
            www_version = 1201405081146;
    </script>
</head>

<body>


    <section class="vbox">
        <header class="header bg-white b-b b-light">
            <p>添加公告</p>
            <a class="text-muted pull-right m-t pointer" data-toggle="back" title="返回"><i class="fa fa-reply"></i></a>
        </header>
        <section class="scrollable  wrapper">
            <section class="panel panel-default">
                <div class="panel-body">
                    <form class="form-horizontal form-validate" method="post" action="/api/form/ajaxform">
                        <div class="form-group">
                            <label class="col-sm-2 control-label must">标题：</label>
                            <div class="col-sm-3">
                                <input type="text" class="form-control" data-rule-required="true" name="name" />
                            </div>
                        </div>
                        <div class="line line-dashed line-lg pull-in"></div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label must">类别：</label>
                            <div class="col-sm-3">
                                <select class="form-control" name="type">
                                    <option value="">公告</option>
                                    <option value="">常见问题</option>
                                    <option value="">商户信息</option>
                                </select>
                            </div>
                        </div>
                        <div class="line line-dashed line-lg pull-in"></div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label must">公告内容：</label>

                            <div class="col-sm-8">
                                <textarea rows="13" class="form-control" data-toggle="kindeditor"  data-rule-rangelength="[1,10000]" data-rule-required="true" data-msg-required="公告内容不能为空" name="Logistics"></textarea>
                            </div>
                        </div>
                        <div class="line line-dashed line-lg pull-in"></div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label must">排序：</label>
                            <div class="col-sm-3">
                                <input type="text" class="form-control" data-rule-required="true" name="orderBy" />
                            </div>
                            <div class="col-sm-3 m-t-sm m-l-n">
                                <span>越小越靠前</span>
                            </div>
                        </div>
                        <div class="line line-dashed line-lg pull-in"></div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label must">发布状态：</label>
                            <div class="col-sm-2"> 
                             <input data-rule-required="true" type="checkbox"  data-toggle="switch" name="postStatus" data-on-text="公告中" data-off-text="隐藏"/>  
                            </div>
                           
                        </div>
                       <div class="line line-dashed line-lg pull-in"></div>

                        <div class="form-group">
                            <div class="col-sm-4 col-sm-offset-2">
                                <button type="submit" class="btn btn-primary" data-loading-text="保存中...">保存</button>
                                <button type="button" class="btn btn-default" data-toggle="back">取消</button>
                            </div>
                        </div>

                    </form>
                </div>
            </section>


            
        </section>
    </section>

    <script src="/assets/javascripts/sea-modules/seajs/seajs/2.2.0/sea.js"></script>
    <script src="/assets/javascripts/seajs_config.js"></script>
    <script type="text/javascript">
        seajs.use("dist/application/app.js")
    </script>


</body>

</html>
