<form class="form-horizontal form-validate form-modal" method="post" action="/api/form/ajaxformurl">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">物流信息</h4>
            </div>
            <div class="modal-body mylogistics">
                <section data-role="body" class="body" style="min-height: 587px;">
                    <div>
                        物流公司：全峰快递<br>
                        物流单号：22222222
                    </div>
                    <ul id="list">
                        <li class="now">
                            <div class="icon">
                                <span><i class="fa fa-circle"></i></span><label></label>
                            </div>
                            <div class="text">
                                <span>2014-10-14 22:06:58</span>
                                <label>派件已【签收】,签收人是【啦啦啦】签收网点是【常熟】</label>
                            </div>
                        </li>
                        <li>
                            <div class="icon"><span><i class="fa fa-circle text-dker"></i></span><label></label></div>
                            <div class="text">
                                <span>2014-09-20 02:15:26</span>
                                <label>快件到达【郑州分拨中心】,上一站是【洛阳】扫描员是【唐冬冬】备注【()】</label>
                            </div>
                        </li>
                        <li>
                            <div class="icon"><span><i class="fa fa-circle"></i></span><label></label></div>
                            <div class="text">
                                <span>2014-08-19 22:24:31</span>
                                <label>快件到达【北京分拨中心】,上一站是【总部IT部】扫描员是【杨贺娇】备注【@1@】</label>
                            </div>
                        </li>
                        <li>
                            <div class="icon"><span><i class="fa fa-circle"></i></span><label></label></div>
                            <div class="text">
                                <span>2014-08-07 22:05:16</span>
                                <label>快件到达【北京分拨中心】,上一站是【北京顺义一站】扫描员是【杨贺娇】备注【@1@】</label>
                            </div>
                        </li>
                        <li>
                            <div class="icon"><span><i class="fa fa-circle"></i></span><label></label></div>
                            <div class="text">
                                <span>2014-07-08 14:14:45</span><label>快件到达【北京分拨中心】,上一站是【潍坊分拨中心】扫描员是【杨贺娇】备注【再刷审核中转费计算】</label>
                            </div>
                        </li>
                        <li>
                            <div class="icon"><span><i class="fa fa-circle"></i></span><label></label></div>
                            <div class="text">
                                <span>2014-07-08 14:14:45</span><label>快件到达【北京分拨中心】,上一站是【潍坊分拨中心】扫描员是【杨贺娇】备注【再刷审核中转费计算】</label>
                            </div>
                        </li>
                        <li>
                            <div class="icon"><span><i class="fa fa-circle"></i></span><label></label></div>
                            <div class="text">
                                <span>2014-07-08 14:14:45</span><label>快件到达【北京分拨中心】,上一站是【潍坊分拨中心】扫描员是【杨贺娇】备注【再刷审核中转费计算】</label>
                            </div>
                        </li>
                        <li>
                            <div class="icon"><span><i class="fa fa-circle"></i></span><label></label></div>
                            <div class="text">
                                <span>2014-07-08 14:14:45</span><label>快件到达【北京分拨中心】,上一站是【潍坊分拨中心】扫描员是【杨贺娇】备注【再刷审核中转费计算】</label>
                            </div>
                        </li>
                        <li>
                            <div class="icon"><span><i class="fa fa-circle"></i></span><label></label></div>
                            <div class="text">
                                <span>2014-07-08 14:14:45</span><label>快件到达【北京分拨中心】,上一站是【潍坊分拨中心】扫描员是【杨贺娇】备注【再刷审核中转费计算】</label>
                            </div>
                        </li>
                        <li>
                            <div class="icon"><span><i class="fa fa-circle"></i></span><label></label></div>
                            <div class="text">
                                <span>2014-07-08 14:14:45</span><label>快件到达【北京分拨中心】,上一站是【潍坊分拨中心】扫描员是【杨贺娇】备注【再刷审核中转费计算】</label>
                            </div>
                        </li>
                    </ul>
                </section>
            </div>
            <div class="modal-footer">
                <!--<input type="hidden" value="12306" name="id" />
                <button type="submit" class="btn btn-primary" data-loading-text="保存中..." disabled>保存</button>-->
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
            </div>
        </div>
    </div>
</form>
