<!DOCTYPE html>
<html lang="cn" class="app fadeInUp animated">

<head>
    <meta charset="utf-8" />
    <title>V店</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <link href="/assets/stylesheets/bootstrap.min.css" rel="stylesheet" />
    <link href="/assets/stylesheets/animate.min.css" rel="stylesheet" />
    <link href="/assets/stylesheets/font-awesome.min.css" rel="stylesheet" />
    <link href="/assets/stylesheets/style.min.css" rel="stylesheet" />
    <link href="/assets/stylesheets/plugins/chosen/chosen.min.css" rel="stylesheet" />
    <!--[if lt IE 9]><script src="/assets/javascripts/ie8/inie8.min.js"></script><![endif]-->
    <script type="text/javascript">
        var _speedMark = new Date(),
            www_version = 1201405081146;
    </script>

</head>

<body>
    <section class="vbox">
        <header class="header bg-white b-b b-light">
            <p>编辑商品分类</p>
        </header>
        <section class="scrollable  wrapper">
            <section class="panel panel-default">
                <div class="panel-body">
                    <form class="form-horizontal form-validate" method="post" action="/api/form/ajaxform">
                        <div class="form-group">
                            <label class="col-sm-2 control-label">分类名称</label>
                            <div class="col-sm-3 must">
                                <input type="text" class="form-control" data-rule-required="true" name="Name" >
                            </div>
                        </div>
                        <div class="line line-dashed line-lg pull-in"></div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">分类图片</label>
                            <div class="col-sm-4">
                                <img class="thumb_img" src="http://stc.weimob.com/img/template/lib/home-150150.jpg" style="max-height: 100px;" />
                                <input class="hide" type="text" name="logo" value="http://stc.weimob.com/img/template/lib/home-150150.jpg" />
                                <button class="btn btn-default" type="button" data-toggle="selectimg">选择图片</button>
                            </div>

                        </div>
                        <div class="line line-dashed line-lg pull-in"></div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">商品模型</label>
                            <div class="col-sm-2">
                                <select class="form-control" name="select_tag" data-placeholder="选择模型" data-toggle="chosen">
                                    <option value=""></option>
                                    <option value="32">颜色[衣服]</option>
                                    <option value="345">尺码[衣服]</option>
                                    <option value="554">尺码[鞋子]</option>
                                </select>
                            </div>
                        </div>

                        <div class="line line-dashed line-lg pull-in"></div>
                        <div class="form-group">
                            <div class="col-sm-4 col-sm-offset-2">
                                <button type="submit" class="btn btn-primary" data-loading-text="保存中...">保存</button>
                                <button type="button" class="btn btn-default" data-toggle="back">取消</button>
                            </div>
                        </div>
                    </form>
                </div>
            </section>
        </section>
    </section>
    <script id="SpecVal_template" type='text/template'>
        <tr>
            <td>
                <input type="text" class="form-control" data-rule-required="true" data-rule-maxlength="20" name="SpecVal[{0}].name" />
            </td>
            <td>
                <input type="text" class="form-control" data-rule-required="true" data-rule-digits="true" name="SpecVal[{0}].Sort" value="0" />
            </td>
            <td>
                <input type="hidden" name="SpecVal[{0}].Id" value="0" />
                <button class="btn btn-default delspec" type="button">
                    <i class="fa fa-trash-o text-muted"></i>
                </button>
            </td>
        </tr>

    </script>
    <script src="/assets/javascripts/sea-modules/seajs/seajs/2.2.0/sea.js?v=1201405081146"></script>
    <script src="/assets/javascripts/seajs_config.js?v=1201405081146"></script>
    <script type="text/javascript">
        seajs.use(["dist/application/app.js","dist/goodsv/init.js"])
    </script>

</body>

</html>
