<!DOCTYPE html>
<html lang="cn" class="app fadeInUp animated">

<head>
    <meta charset="utf-8" />
    <title>V店</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <link href="/assets/stylesheets/bootstrap.min.css" rel="stylesheet" />
    <link href="/assets/stylesheets/animate.min.css" rel="stylesheet" />
    <link href="/assets/stylesheets/font-awesome.min.css" rel="stylesheet" />
    <link href="/assets/stylesheets/style.min.css" rel="stylesheet" />
    <link href="/assets/stylesheets/plugins/select2/select2.min.css" rel="stylesheet" />
    <link href="/assets/stylesheets/plugins/chosen/chosen.min.css" rel="stylesheet" />
    <link href="/assets/stylesheets/plugins/uploadify/uploadify.min.css" rel="stylesheet" />
    <link href="/assets/stylesheets/page/goods.css" rel="stylesheet" />
    <!--[if lt IE 9]>
    <script src="/assets/javascripts/ie8/inie8.min.js"></script>
    <![endif]-->
    <script type="text/javascript">
        var _speedMark = new Date(),
            www_version = 1201405081146;
    </script>
    <style type="text/css">
        .inputWidth{width:154px;}
        .vbox .text{    width: 100px;text-align: left;height: 30px;margin: 0 5px; display: inline;}
        .vbox .tixin{    margin-left: 50px;color: rgba(122,122,122,0.9);}
        .vbox .slleft{margin-left: 30px;}
        #sl_0 .help-block{margin-left: 30px;}
        #sl_1 .help-block{margin-left: 30px;}

        .tgfs_select .select2-arrow b:after{
            color: rgb(113,113,113) !important;
        }
        .tgfs_select a .select2-chosen{
            color: rgb(113,113,113);
        }
        .tgfs_select a.select2-choice{
            border-color: rgb(218,218,218);
            background-color: rgb(250,250,250);
        }
    </style>

</head>

<body>

    <section class="vbox">
        <header class="header bg-white b-b b-light">
            <p>编辑商品</p>
            <a class="text-muted pull-right m-t pointer" data-toggle="back" title="返回"> <i class="fa fa-reply"></i>
            </a>
        </header>
        <section class="scrollable  wrapper">
            <form class="form-horizontal form-validate" method="post" action="/api/form/ajaxform">

                <section class="panel panel-default">
                    <header class="panel-heading bg-light">基本信息</header>
                    <div class="panel-body">
                        <div class="form-group">
                            <label class="col-sm-2 control-label">商品类目</label>
                            <div class="col-sm-10">
                                <p class="form-control-static">
                                    虚拟----话费流量
                                    <a href="add_goods_ed.html" class="text-info">修改</a>
                                </p>
                                <input type="hidden" value="537114627" name="categoryId" />
                                <span class="help-block">商品上架后不可修改，请谨慎选择</span>
                            </div>
                        </div>
                        <div class="line line-dashed line-lg pull-in"></div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">
                                商品属性(
                                <small>必填</small>
                                )
                            </label>
                            <div class="col-sm-10">
                                <div data-toggle="attribute"> <i class="fa fa-spinner fa-spin"></i>
                                </div>
                                <span class="help-block">商品上架后不可修改，请谨慎选择</span>
                            </div>
                        </div>
                        <div class="line line-dashed line-lg pull-in"></div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">商品名称</label>
                            <div class="col-sm-3 must">
                                <input type="text" class="form-control" data-rule-required="true" data-msg-required="商品名称不能为空" name="Name"></div>
                        </div>
                        <div class="line line-dashed line-lg pull-in"></div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">商品类型</label>
                            <div class="col-sm-3 must">
                                <label class="radio-inline">
                                    <input type="radio" value="0" class="js_goods_pay_type" data-type="telephone" name="type" checked="" />
                                    话费
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" value="1" class="js_goods_pay_type" data-type="flow" name="type" />
                                    流量
                                </label>
                            </div>
                        </div>
                        <div class="line line-dashed line-lg pull-in"></div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">运营商</label>
                            <div class="col-sm-3 must">
                                <select type="text" class="form-control js_operator_business" data-rule-required="true" data-msg-required="运营商不能为空" name="operator">
                                    <option value="">请选择运营商</option>
                                    <option value="1">中国移动</option>
                                    <option value="2" selected="">中国联通</option>
                                    <option value="3">中国电信</option>
                                </select>
                            </div>
                        </div>
                        <div class="line line-dashed line-lg pull-in"></div>
                        <div class="form-group">
                        <label class="col-sm-2 control-label"><span class="js_goods_pay_type_div js_goods_pay_type_flow">流量</span>面值</label>
                            <div class="col-sm-3 must">
                                <select type="text" class="form-control js_operator_value" data-rule-required="true" data-selectid="2" data-msg-required="面值不能为空" name="value">
                                    <option value="">请选择面值</option>
                                </select>
                            </div>
                        </div>
                        <div class="line line-dashed line-lg pull-in"></div>
                        <div class="form-group ">
                            <label class="col-sm-2 control-label">号码归属地</label>
                            <div class="col-sm-10">
                                <label class="radio-inline hide">
                                    <input type="radio" name="isSpecificationEnabled" value="0"  data-toggle="specification-enable" data-enable="false" />
                                    统一规格
                                </label>
                                <label class="radio-inline hide">
                                    <input type="radio" name="isSpecificationEnabled" value="1" data-toggle="specification-enable" data-enable="true" checked="checked"/>
                                    多规格
                                </label>
                                <div data-toggle="specifications" class="hd">
                                    <i class="fa fa-spinner fa-spin"></i>
                                </div>

                            </div>
                        </div>
                        <div class="line line-dashed line-lg pull-in"></div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">充值渠道</label>
                            <div class="col-sm-10">
                                <div class="form-control-static m-t-xs js_value_channel">
                                    <div class="text-muted">渠道1：连连（不可用）</div>
                                    <div class="text-muted">渠道2：能良（可用）</div>
                                </div>
                            </div>
                        </div>
                        <div class="line line-dashed line-lg pull-in"></div>
                        <div class="form-group specificationstable hd">
                            <label class="col-sm-2 control-label">价格&库存</label>
                            <div class="col-sm-10 table-responsive tab-content" data-toggle="specificationstable">
                                <span class="help-block">请选择规格</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">商品分组</label>
                            <div class="col-sm-3 must">
                                <select class="col-sm-11 hd js_goods_group" name="classifyId" multiple="multiple" data-maxcount="3" data-rule-required="true" data-msg-required="请选择商品分组" data-toggle="chosen" data-placeholder="请选择系统分类" data-width="999px">
                                    <option value=""></option>
                                    <optgroup label="服装鞋包" id="group1">
                                        <option value="1">男装</option>
                                        <option value="2">流行男鞋</option>
                                        <option value="3">女装</option>
                                        <option value="4">女鞋</option>
                                    </optgroup>
                                    <optgroup label="家用电器" id="group2">
                                        <option value="5">大家电</option>
                                        <option value="6">影音电器</option>
                                        <option value="7">生活电器</option>
                                        <option value="8">厨房电器</option>
                                        <option value="9">个人护理</option>
                                    </optgroup>

                                </select>
                            </div>
                            <div class="col-sm-3 m-l-sm ">
                                <button type="button" class="btn btn-default btn-sm" data-toggle="ajaxModal" data-remote="async/group_ed.html">添加分组</button>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">商家编码</label>
                            <div class="col-sm-2">
                                <input type="text" class="form-control" name="ProductsSn" />
                            </div>

                        </div>
                        <div class="line line-dashed line-lg pull-in"></div>
                    </div>

                </section>
                <section class="panel panel-default">
                    <header class="panel-heading bg-light">其他信息</header>
                    <div class="panel-body">
                        <div class="form-group">
                            <label class="col-sm-2 control-label">商品限购</label>
                            <div class="col-sm-10">
                                <label class="radio-inline">
                                    <input type="radio" name="quota" value="0" checked="checked" class="js_quota">不限购</label>
                                <label class="radio-inline">
                                    <input type="radio" name="quota" value="1" class="js_quota js_quota_show" />                
                                    限购
                                </label>
                                <div class="js_quota_container hd  v-top">
                                    <input class="form-control input-xs input-sm" type="text" data-rule-required="true" name="quotanums" data-rule-digits="true" />                
                                </div>
                            </div>
                        </div>

                        <div class="line line-dashed line-lg pull-in"></div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">活动标签</label>
                            <div class="col-sm-10">
                                <label class="checkbox-inline">
                                    <input type="checkbox" name="activitylabel" value="1"/>                
                                    开启活动标签
                                </label>
                            </div>

                        </div>
                        <div class="line line-dashed line-lg pull-in"></div>
                        <div class="form-group js_goods_pay_type_div js_goods_pay_type_telephone">
                            <label class="col-sm-2 control-label">充值说明</label>
                            <div class="col-sm-10">
                                <div class="input-group m-t-n-xs">
                                    <label class="radio-inline">
                                        <input type="radio" name="telephoneexplan" class="js_pay_explan_select" value="0" checked="" />                
                                        无
                                    </label>
                                    <label class="radio-inline">
                                        <input type="radio" name="telephoneexplan" class="js_pay_explan_select" value="1" />                
                                        展示限充说明
                                    </label>
                                    <label class="radio-inline">
                                        <input type="radio" name="telephoneexplan" class="js_pay_explan_select" data-type="custom" value="2" />                
                                        自定义充值说明
                                    </label>
                                    <label class="radio-inline">
                                        <input class="form-control input-s input-sm" type="text" data-rule-required="true" data-rule-maxlength="6" name="explaninput" disabled="" />                
                                    </label>
                                    <label class="radio-inline text-muted">
                                        <span class="m-l-n-md">6字以内</span>
                                    </label>
                                </div>
                            </div>

                        </div>
                        <div class="form-group js_goods_pay_type_div js_goods_pay_type_flow">
                            <label class="col-sm-2 control-label">充值说明</label>
                            <div class="col-sm-10">
                                <div class="input-group m-t-n-xs">
                                    <label class="radio-inline">
                                        <input type="radio" name="flowexplan" class="js_pay_explan_select" value="0" checked="" />                
                                        无
                                    </label>
                                    <label class="radio-inline">
                                        <input type="radio" name="flowexplan" class="js_pay_explan_select" data-type="custom" value="2" />                
                                        自定义充值说明
                                    </label>
                                    <label class="radio-inline">
                                        <input class="form-control input-s input-sm" type="text" data-rule-required="true" data-rule-maxlength="15" name="explaninput" disabled="" />                
                                    </label>
                                    <label class="radio-inline text-muted">
                                        <span class="m-l-n-md">15字以内，如：六个月内有效，限充5次</span>
                                    </label>
                                    <label class="checkbox-inline">
                                        <input type="checkbox" name="flowexplan2" value="1" />                
                                        展示限充说明
                                    </label>
                                </div>
                            </div>

                        </div>
                        <div class="line line-dashed line-lg pull-in"></div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">上架时间</label>
                            <div class="col-sm-10">
                                <label class="radio">
                                    <input type="radio" name="shelves" value="1" checked="checked" />                
                                    立即上架
                                    <span class="text-danger">(上架后商品类目、商品属性及商品名称将不能再修改，请确认已填写无误)</span>
                                </label>
                                <label class="radio">
                                    <input type="radio" name="shelves" value="0">暂不上架，放入仓库中</label>

                            </div>

                        </div>
                        <div class="line line-dashed line-lg pull-in"></div>
                        <div class="form-group">
                            <div class="col-sm-4 col-sm-offset-2">
                                <input type="hidden" value="0" id="js_store_way"/>                
                                <button type="submit"  class="btn btn-primary js_save_submit" data-loading-text="保存中...">保存</button>
                                <button type="button" class="btn btn-default" data-toggle="back">取消</button>
                            </div>
                        </div>
                    </div>

                </section>
            </form>
        </section>
    </section>
    <script type='text/html' id="attribute_template">
        <div class="panel panel-default m-n bg-light">
            <div class="panel-body lt js_custom_list_contair">
                {{each data as item index}}
                <dl class="dl-horizontal inline dl-sm custom-attr-dl-horizontal {{if item.required}}must{{/if}}">
                    <dt data-title="{{item.name}}" data-id="{{item.id}}">
                        {{item.name}}<input type="hidden" value="{{item.id}}" name="attribute[{{index}}].id"></dt>
                    <dd data-required="{{item.required}}">
                        <a data-toggle="dropdown" class="btn btn-sm btn-default dropdown-toggle form-control" {{attribute_disabled}} style="text-align: left;">
                            <span class="dropdown-label custom-dropdown-label js_custom_dropdown_label" data-id="{{item.id}}" id="label_{{item.id}}" data-text="" {{if !shelves}}contenteditable="true"{{/if}} data-placeholder="选择">选择</span>
                            <span class="caret custom-dropdown-caret"></span>
                        </a>
                        <ul class="dropdown-menu dropdown-select dropdown-select-50 custom-select" id="{{item.id}}" data-type="{{if item.type == 'checkbox'}}checkbox{{else if item.type == 'radio'}}radio{{/if}}">
                            {{if item.type == 'radio'}}
                                <li><a href="javascript:;">
                                    <input type="{{if item.type == 'checkbox'}}checkbox{{else if item.type == 'radio'}}radio{{/if}}" name="attribute[{{index}}].selected" value="" />选择</a></li>
                            {{/if}}
                            {{each item.list as zitem zindex}}  
                            <li {{attribute_checked item.id zitem.id}}>
                                <a href="javascript:;" {{if item.type == 'checkbox'}}data-hide="true"{{/if}}>
                                {{if item.type == 'checkbox'}} <i class="fa fa-check-square text-primary"></i> <i class="fa fa-minus-square text-success"></i>{{/if}}
                                <input type="{{if item.type == 'checkbox'}}checkbox{{else if item.type == 'radio'}}radio{{/if}}" name="attribute[{{index}}].selected" value="{{zitem.id}}" data-title="{{zitem.name}}" data-id="{{item.id}}" {{attribute_selected item.id zitem.id}}/>{{zitem.name}}</a> {{if zitem.custom}}<a href="javascript:;" class="custom-del-btn js_custom_del "><i class="fa fa-times text-muted"></i></a>{{/if}}</li>
                            {{/each}}
                            <li class="js_search_result hide"><a href="javascript:;" style="color:#999">未找到</a></li>
                            <li class="js_custom_list hide">
                                <p class="js_input_outer"><input type="text" data-id="{{item.id}}" class="form-control js_custom_input" data-limit="8"/><span class="js_limit"><em>0</em>/<span>8</span></span></p>
                                <p>
                                    <button type="button" data-name="attribute[{{index}}].selected" class="btn btn-primary btn-sm js_custom_list_save">确定</button>
                                    <button type="button" class="btn btn-default btn-sm js_custom_list_cancel">取消</button>
                                </p>
                            </li>
                            <li class="{{if item.custom}}js_custom_list{{else}}hide{{/if}}"><a class="js_custom_btn" href="javascript:;">自定义</a></li>
                        </ul>
                    </dd>
                </dl>
                {{/each}}
                <div class="line line-dashed line-lg pull-in"></div>
            </div>
        </div>


    </script>

    <script type="text/html" id="customattrval_tem">
        <li {{if checked}}class="active"{{/if}}><a href="javascript:;" {{if type == 'checkbox'}}data-hide="true"{{/if}}>
            {{if type == 'checkbox'}} <i class="fa fa-check-square text-primary"></i> <i class="fa fa-minus-square text-success"></i> {{/if}}
            <input type="{{if type == 'checkbox'}}checkbox{{else if type == 'radio'}}radio{{/if}}" name="{{name}}" data-title="{{title}}" value="{{attrvalid}}" data-id="{{attrid}}" {{if checked}}checked="checked"{{/if}}/>{{title}}</a><a href="javascript:;" class="custom-del-btn js_custom_del "><i class="fa fa-times text-muted"></i></a></li>
    </script>

    <script type="text/html" id="specifications_template">
        <div class="panel panel-default m-t bg-light" data-toggle="specifications">
            <div class="panel-body lt">
                {{if data.length<1}}
                <span class="help-block js_nospe_tips">暂无规格数据，请先添加规格</span>
                <div class="line line-dashed line-lg pull-in js_nospe_tips"></div>
                {{/if}}
                {{each data as item index}}
                <div id="js_specifications_{{item.id}}">
                     {{if !item.isEdit}}
                     <p class="js_specifica" data-name="{{item.name}}" data-id="{{item.id}}"><strong class="m-r">{{item.name}}</strong><label class="checkbox-inline" style="margin-top:-7px" ><input type="checkbox" class="js_select_all_address"/>选择全部</label></p>
                    {{else}}
                        <p class="js_specifica" data-name="{{item.name}}" data-id="{{item.id}}"><strong>{{item.name}}</strong>
                            <a href="javascript:;" class="m-l text-info js_specifica_edit"  data-id="{{item.id}}">编辑</a>
                        </p>
                     {{/if}}
                    
                    
                    <div id="specvals_{{item.id}}" data-id="{{item.id}}" data-toggle="specvals" class="m-b">
                        {{each item.all_val as zitem zindex}}
                        <label class="checkbox-inline input-s-sm" id="spe_{{zitem.key}}">
                            <input type="checkbox" value="{{zitem.key}}" title="{{zitem.val}}" {{specifications_checked item.id zitem.key}} />{{zitem.val}}
                        </label>
                        {{/each}}
                    </div>
                </div>
                <div id="specvals_ed_{{item.id}}" class="hide js_enter_div">
                    <div class="form-group">
                        <label class="col-sm-1 control-label"><strong>{{item.name}}</strong></label>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-1 control-label">规格值</label>
                        <div class="col-sm-5">
                            <p class="js_input_outer"><input type="text" data-limit="15" placeholder="输入回车即可直接添加" class="form-control js_custom_input"/><span class="js_limit"><em>0</em>/<span>15</span></span></p>
                        </div>
                        <div class="col-sm-2">
                            <button type="button" class="btn btn-default js_add_speval" data-id="{{item.id}}">添加</button>
                        </div>
                    </div>
                    <div class="col-sm-11 col-sm-offset-1 error m-t-n-md m-b-xs" id="specvals_error_{{item.id}}"></div>
                    <div class="form-group" id="specvals_show_{{item.id}}">
                        <div class="col-sm-11 col-sm-offset-1">
                            {{each item.all_val as zitem zindex}}
                                <span class="label label-default bg-light dker specvals-show js_specvals_show {{if  zitem.custom}}js_specvals_result{{/if}}" data-name="{{zitem.val}}">{{zitem.val}}
                                {{if zitem.custom}}
                                    <i class="fa fa-times text-muted m-l-xs js_del_specvals_val_list" data-speid="{{item.id}}" 
                                    data-id="{{zitem.key}}"></i>
                                {{/if}}
                                </span>
                             {{/each}}
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-11 col-sm-offset-1">
                            <button type="button" class="btn btn-primary btn-sm js_specvals_val_save" data-id="{{item.id}}">确定</button>
                            <button type="button" class="btn btn-default btn-sm js_specvals_val_cancel" data-id="{{item.id}}">取消</button>
                        </div>
                    </div>
                </div>
                
                <div class="line line-dashed line-lg pull-in"></div>
                {{/each}}
                
                <div class="js_add_spe_form hide js_enter_div">
                   
                    <div class="form-group">
                        <label class="col-sm-2 control-label">规格名称</label>
                        <div class="col-sm-5">
                            <p class="js_input_outer"><input type="text" class="form-control js_add_spe_input js_custom_input"  data-limit="5">
                            <span class="js_limit"><em>0</em>/<span>5</span></span>
                            </p>
                        </div>
                    </div>
                    
                    <div class="form-group">
                        <label class="col-sm-2 control-label">属性值</label>
                        <div class="col-sm-5">
                            <p class="js_input_outer"><input type="text" placeholder="输入回车即可直接添加" class="form-control js_add_spev_input js_custom_input"  data-limit="15">
                            <span class="js_limit"><em>0</em>/<span>15</span></span>
                            </p>
                        </div>
                        <div class="col-sm-2">
                            <button type="button" class="btn btn-default js_spe_speval">添加</button>
                        </div>
                    </div>
                    <div class="col-sm-11 col-sm-offset-2 error m-t-n-md m-b-xs js_js_spe_spev_error" ></div>
                    <div class="form-group">
                        <div class="col-sm-11 col-sm-offset-2 js_spe_spev_show"></div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-5 col-sm-offset-1">
                            <button type="button" class="btn btn-primary btn-sm js_add_spe_save">确定</button>
                            <button type="button" class="btn btn-default btn-sm js_add_spe_cancel">取消</button>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </script>

    <script type="text/html" id="specv_tem">
        {{each spevalList as item}}
            <label class="checkbox-inline input-s-sm" id="spe_{{item.key}}">
                <input type="checkbox" value="{{item.key}}" title="{{item.val}}" />{{item.val}}
            </label>
        {{/each}}
    </script>

    <script type="text/html" id="face_value_list_temp">
        <option value="">请选择面值</option>
        {{if data}}
            {{each data as value }}
                <option value="{{value.id}}" {{if selectid==value.id}}selected="selected"{{/if}}>{{value.name}}</option>
            {{/each}}
        {{/if}}
    </script>
    <script type="text/html" id="channels_list_temp">
        {{each data as channel index }}
             <div class="text-muted">渠道{{index+1}}：{{channel.name}}</div>
        {{/each}}
    </script>

    <script type="text/html" id="specv_show_tem">
        <span class="label label-default bg-light dker specvals-show js_specvals_show js_specvals_temp" data-name="{{val}}">{{val}}
            <i class="fa fa-times text-muted m-l-xs js_del_specvals_val_list" data-speid="{{speid}}" 
            data-id="{{key}}"></i>
        </span>
    </script>

    <script type="text/html" id="specv_result_tem">
        {{each spevalList as item}}
        <span class="label label-default bg-light dker specvals-show js_specvals_show js_specvals_result" data-name="{{item.val}}">{{item.val}}
            <i class="fa fa-times text-muted m-l-xs js_del_specvals_val_list" data-speid="{{speid}}" 
            data-id="{{item.key}}"></i>
        </span>
        {{/each}}
    </script>

    <script type="text/html" id="specifications_table_template">
        <table class="table table-bordered bg-light">
            <thead>
                <tr>
                    {{each ths as th index}}
                    <th class="mn130">{{th.name}}
                        <input type="hidden"  value="{{th.name}}" name="specifications[{{index}}].name"/>
                         <input type="hidden"  value="{{th.id}}" name="specifications[{{index}}].id"/>
                    </th>
                    {{/each}}
                    <th class="mn130">供价1（元）<span class="maroon">*</span></th>
                    <th class="mn130">供价2（元）<span class="maroon">*</span></th>
                    <th class="mn130">销售价（元）<span class="maroon">*</span></th>
                    <th class="mn130">库存<span class="maroon">*</span></th>
                </tr>
            </thead>
            <tbody>
                {{each trs as tr index}}
                <tr class="lt">
                    {{each tr.tds as td zindex}}
                    {{if td.rowspan > 1 && tr.index % td.rowspan == 0}}
                    <td rowspan="{{td.rowspan}}">{{td.val}}</td>
                    {{/if}}
                    {{if td.rowspan ==1}}
                    <td>{{td.val}}</td>
                    {{/if}}
                    <td class="hd">
                        <input type="hidden" name="Products[{{index}}].SpecVal[{{zindex}}].val" value="{{td.val}}" />
                        <input type="hidden" name="Products[{{index}}].SpecVal[{{zindex}}].key" value="{{td.key}}" />
                    </td>
                    {{/each}}
                    <td>
                        <input type="text" class="form-control " name="Products[{{index}}].Price1" data-id="{{tr.key}}" data-name="Price1" value="{{tr.Price1}}" data-rule-ismoney="true" data-rule-required="true"></td>
                    <td>
                        <input type="text" class="form-control " name="Products[{{index}}].Price2" data-id="{{tr.key}}" data-name="Price2" value="{{tr.Price2}}" data-rule-ismoney="true" data-rule-required="true"></td>
                    <td>
                        <input type="text" class="form-control " name="Products[{{index}}].sprice" data-id="{{tr.key}}" data-name="sprice" value="{{tr.Price}}" data-rule-ismoney="true" data-rule-required="true"></td>
                    <td>
                        <input type="text" class="form-control" name="Products[{{index}}].Store" data-id="{{tr.key}}" data-name="Store" value="{{tr.Store}}" data-rule-digits="true" data-rule-required="true"></td>
                    
                </tr>
                {{/each}}
            </tbody>
        </table>
        
    </script>
    <script>
        window.goods_data = {
           attributes: {"1075741875":"1079743126", "1075779646": "1079845232","1075780648":["1079847842","1079847843"],},
           shelves:false,
           specifications: { "1075741873": ["1079742340", "1079742350", "1079742356"]},
           products: {
               "1079742340": {
                   "Price1": 10.00,
                   "Price2": 9.00,
                   "Price": 11.00,
                   "Store":99
               }
           } 
        }
        window.goods_setting = {
            attribute_path: "/plus/attribute.php?categoryid=537114627",
            custom_attrvalue_path: "/plus/customattr.php?categoryid=537114627",
            custom_attrvalue_del_path: "/plus/customattrdel.php?categoryid=537114627",
            custom_attr_path: "/plus/attr.php?categoryid=537114627",
            custom_attr_del_path: "/plus/attrdel.php?categoryid=537114627",
            specifications_path: "/plus/specifications2.php?categoryid=537114627",
            face_value_path: "/plus/face_value_type.php?params=value",
            channel_path: "/plus/face_value_type.php?params=channel"
           
        }
        window.extraFileUploadParams={id:11,key:"hxsq22dl"} //自定义编辑器上传参数
    </script>
<script src="/assets/javascripts/sea-modules/seajs/seajs/2.2.0/sea.js"></script>
<script src="/assets/javascripts/seajs_config.js"></script>
<script type="text/javascript">
        seajs.use(["dist/application/app.js", "dist/goodsv/init.js","dist/location/init.js"])
    </script>

</body>

</html>