
<!DOCTYPE html>
<html lang="cn" class="app fadeInUp animated">

<head>
    <meta charset="utf-8" />
    <title>V店</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <link href="/assets/stylesheets/bootstrap.min.css" rel="stylesheet" />
    <link href="/assets/stylesheets/animate.min.css" rel="stylesheet" />
    <link href="/assets/stylesheets/font-awesome.min.css" rel="stylesheet" />
    <link href="/assets/stylesheets/style.min.css" rel="stylesheet" />
    <!--[if lt IE 9]><script src="/assets/javascripts/ie8/inie8.min.js"></script><![endif]-->
    <script type="text/javascript">
    var _speedMark = new Date(),
        www_version = 1201405081146;
    </script>

</head>

<body>


    <section class="vbox">
        <header class="header bg-white b-b b-light">
            <p>店铺搬家</p>
            <a class="text-muted pull-right m-t pointer" href="move_record.html">搬家记录</a>
        </header>
        <section class="scrollable  wrapper">
            <section class="panel panel-default">
                <div class="panel-body">
                    <div class="entity-panel-body form-horizontal">
                        <div class="alert alert-success bg-light" role="alert"> <strong class="m-l-sm">店铺搬家助手说明</strong>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-11 col-sm-offset-1">
                                <p>店铺搬家流程：确认店铺→开始搬家→搬家完成。</p>
                            </div>
                        </div>
                        <div class="alert alert-success bg-light" role="alert"> <strong class="m-l-sm">旺铺搬家</strong>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-11 col-sm-offset-1">
                                <p>（1）旺铺搬家功能，可将微盟公众号对应旺铺的商品数据全部复制到供货商中心的商品列表中，旺铺的数据保留不变；您只需确认您的店铺信息，即可轻松实现搬家。</p>
                            <p>（2）支持从同一旺铺多次搬家；支持从多个旺铺搬家。</p>
                            <p>（3）搬家后，数据以最新旺铺数据同步更新到供货商中心，相同商品的数据将进行覆盖。</p>
                                <p>（4）搬家后商品为下架状态，您需要手动编辑商品并上架。</p>
                            </div>
                        </div>
                        <div class="alert alert-success bg-light" role="alert"> <strong class="m-l-sm">淘宝搬家</strong>&nbsp;<a href="new/taobao_help.html">查看使用帮助>></a>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-11 col-sm-offset-1">
                                <p>（1）淘宝搬家功能，可将淘宝店铺中的指定商品的数据复制到供货商中心的商品列表中；您只需上传从淘宝助理导出的CSV文件，即可轻松实现搬家。</p>
                                <p>（2）搬家后商品为下架状态，您需要手动编辑商品并上架</p>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-4 col-sm-offset-1">
                            <a href="goods.html" class="btn btn-primary" data-loading-text="保存中...">返回商品列表</a>
                        </div>
                    </div>
                </div>
            </section>
        </section>
    </section>

    <script src="/assets/javascripts/sea-modules/seajs/seajs/2.2.0/sea.js"></script>
    <script src="/assets/javascripts/seajs_config.js"></script>
    <script type="text/javascript">
    seajs.use("dist/application/app.js")
    </script>

</body>

</html>
