<!DOCTYPE html>
<html lang="cn" class="app fadeInUp animated">

<head>
    <meta charset="utf-8" />
    <title>V店</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <link href="/assets/stylesheets/bootstrap.min.css" rel="stylesheet" />
    <link href="/assets/stylesheets/animate.min.css" rel="stylesheet" />
    <link href="/assets/stylesheets/font-awesome.min.css" rel="stylesheet" />
    <link href="/assets/stylesheets/style.min.css" rel="stylesheet" />

    <link href="/assets/stylesheets/plugins/chosen/chosen.min.css" rel="stylesheet" />
    <!--[if lt IE 9]>
    <script src="/assets/javascripts/ie8/inie8.min.js"></script>
    <![endif]-->
    <script type="text/javascript">
        var _speedMark = new Date(),
            www_version = 1201405081146;
    </script>

</head>

<body>

    <section class="vbox">
        <header class="header bg-white b-b b-light">
            <p>人工排名</p>
            <a class="text-muted pull-right m-t pointer" data-toggle="back" title="返回"> <i class="fa fa-reply"></i>
            </a>
        </header>
        <section class="scrollable  wrapper">
            <section class="panel panel-default">
                <div class="panel-body">
                    <form class="form-horizontal form-validate" method="post" action="/api/form/ajaxform">
                        <div class="form-group">
                            <label class="col-sm-2 control-label">类目：</label>
                            <div class="col-sm-3">
                                <select name="category" id="" class="form-control" data-rule-required="true">
                                    <option value="0">美妆</option>
                                    <option value="1">母婴</option>
                                    <option value="2">食品</option>
                                </select>

                            </div>
                        </div>
                        <div class="line line-dashed line-lg pull-in"></div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">请选择需要导入的文件：</label>
                            <div class="col-sm-3">
                                <div class="fileinput fileinput-new" data-provides="fileinput">
                                    <div class="input-group">
                                        <div class="form-control" data-trigger="fileinput"> <i class="glyphicon glyphicon-file fileinput-exists"></i>
                                            <span class="fileinput-filename"></span>
                                        </div>
                                        <span class="input-group-addon btn btn-default btn-file">
                                            <span class="fileinput-new">上传文件</span>
                                            <span class="fileinput-exists">更改</span>
                                            <input type="file" name="files" />
                                        </span>
                                        <a href="#" class="input-group-addon btn btn-default fileinput-exists" data-dismiss="fileinput">移除</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <h5 class="padder"> <strong>导入文件格式为.csv，数据结构示例如下：</strong>
                        </h5>
                        <div class="form-group">
                            <div class="col-sm-7">
                                <section class="panel panel-default m-l-md">
                            <div class="table-responsive">
                                <table class="table table-striped m-b-none">
                                    <thead>
                                        <tr>
                                            <th>商品ID（必填）</th>
                                            <th>排名权重（必填）</th>
                                            <th>销量（非必填）</th>
                                            <th>收藏量（非必填）</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>100002_23232</td>
                                            <td>1.5</td>
                                            <td></td>
                                            <td></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </section>
                            </div>
                        </div>
                        

                        <div class="line line-dashed line-lg pull-in"></div>
                        <div class="form-group">
                            <div class="col-sm-4 col-sm-offset-2">
                                <button type="submit" class="btn btn-primary" data-loading-text="保存中...">保存</button>
                                <button type="button" class="btn btn-default" data-toggle="back">取消</button>
                            </div>
                        </div>
                    </form>
                </div>
            </section>
        </section>
    </section>

    <script src="/assets/javascripts/sea-modules/seajs/seajs/2.2.0/sea.js?v=1201405081146"></script>
    <script src="/assets/javascripts/seajs_config.js?v=1201405081146"></script>
    <script type="text/javascript">seajs.use(["dist/application/app.js"]);</script>

</body>

</html>