<!DOCTYPE html>
<html lang="cn" class="app fadeInUp animated">

<head>
    <meta charset="utf-8" />
    <title>微商城</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <link href="/assets/stylesheets/bootstrap.min.css" rel="stylesheet" />
    <link href="/assets/stylesheets/animate.min.css" rel="stylesheet" />
    <link href="/assets/stylesheets/font-awesome.min.css" rel="stylesheet" />
    <link href="/assets/stylesheets/style.min.css" rel="stylesheet" />
    <!--[if lt IE 9]>
    <script src="/assets/javascripts/ie8/inie8.min.js"></script>
    <![endif]-->
    <script type="text/javascript">
    var _speedMark = new Date(),
        www_version = 1201405081146;
    </script>
    <style>
        .form-modal .input-group-addon{padding: 2px;background: none;border:0;}
    </style>
</head>

<body>

    <section class="vbox">

        <header class="header bg-white b-b b-light">
            <p>推广计划详情</p>
            <a class="text-muted pull-right m-t pointer" data-toggle="back" title="返回"><i class="fa fa-reply"></i></a>
        </header>
        <section class="scrollable wrapper w-f">
            <section class="panel panel-default ">
                <div class="table-responsive">
                    <table class="table table-striped m-b-none">
                        <thead>
                            <tr>
                                <th class="col-sm-2">商品名称</th>
                                <th>上架状态</th>
                                <th>所属计划</th>
                                <th>价格</th>
                                <th>库存</th>
                                <th>佣金比例</th>
                                <th>佣金</th>
                                <th>是否在V店显示</th>
                                <th>审核状态</th>
                                <th>推广状态</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>【天价】萌宠 呆萌傲娇腹黑毒舌健气天然抖S废柴炸毛小狗狗</td>
                                <td>上架中</td>
                                <td>自定义计划1</td>
                                <td>1,200,000</td>
                                <td>999</td>
                                <td>10%</td>
                                <td>100,000</td>
                                <td>是</td>
                                <td>审核通过</td>
                                <td>推广中</td>
                            </tr>
                            <tr>
                                <td>【天价】萌宠 呆萌傲娇腹黑毒舌健气天然抖S废柴炸毛小狗狗</td>
                                <td>上架中</td>
                                <td>自定义计划2</td>
                                <td>1,800,000</td>
                                <td>666</td>
                                <td>11%</td>
                                <td>100,000</td>
                                <td>是</td>
                                <td>审核通过</td>
                                <td>推广中</td>
                            </tr>
                            <tr>
                                <td>【天价】萌宠 呆萌傲娇腹黑毒舌健气天然抖S废柴炸毛小狗狗</td>
                                <td>上架中</td>
                                <td>默认计划</td>
                                <td>1,000,000</td>
                                <td>999</td>
                                <td>15%</td>
                                <td>100,000</td>
                                <td>否</td>
                                <td>待审核</td>
                                <td>暂停</td>
                            </tr>
                            <!-- 
                                     <tr>
                            <td  colspan="8" class="nodata">暂无数据</td>
                        </tr>
                        -->
                    </tbody>
                </table>
            </div>
        </section>
    </section>
    <footer class="footer bg-white b-t">
        <div class="row text-center-xs">
            <div class="col-md-6 hidden-sm">
                <p class="text-muted m-t">总共321条 当前为第1页</p>
            </div>
            <div class="col-md-6 col-sm-12 text-right text-center-xs">
                <ul class="pagination pagination-sm m-t-sm m-b-none" data-pages-total="20" data-page-current="1"></ul>
            </div>
        </div>
    </footer>

</section>



<script src="/assets/javascripts/sea-modules/seajs/seajs/2.2.0/sea.js?v=1201405081146"></script>
<script src="/assets/javascripts/seajs_config.js?v=1201405081146"></script>
<script type="text/javascript">seajs.use("dist/application/app.js")</script>

</body>

</html>