@charset "utf-8";
.actCenter .area {
  width: 480px;
  height: 90px;
}
.actCenter .sp_radio {
  margin-top: 8px;
}
.actCenter .text {
  width: 100px;
  text-align: left;
  height: 30px;
  margin: 0 5px;
  display: inline;
}
.actCenter .long {
  width: 200px;
  color: rgba(122, 122, 122, 0.9);
}
.actCenter .check {
  padding-left: 0;
}
.actCenter .check input {
  margin-right: 5px;
  margin-top: -2px;
}
.actCenter .check .tixin {
  margin-left: 100px;
  color: rgba(122, 122, 122, 0.9);
}
.actCenter .check .tixinSp {
  float: left;
  margin-left: 400px;
  margin-top: -32px;
}
.actCenter .radio_br {
  display: block;
}
.actCenter .radio_br .tixin {
  margin-left: 50px;
  color: rgba(122, 122, 122, 0.9);
}
.actCenter .btn-group {
  line-height: 23px;
}
.actCenter .btn-group a {
  padding: 2px 7px;
  margin: 0 2px;
}
.actCenter .rules {
  width: 500px;
  height: 183px;
  overflow: auto;
  border: 1px solid;
  padding: 9px;
}
.actCenter .btn_sore {
  float: right;
  margin-right: 10px;
  line-height: 45px;
  font-weight: bold;
}
.actCenter .left {
  float: left;
}
.actCenter .input-group .form-control {
  float: none;
}
.actCenter .moreTxt {
  color: rgba(122, 122, 122, 0.9);
}
.actCenter .rww .help-block {
  display: none;
}
.actCenter .checkbox_hui {
  color: #9d9d9d;
}
