<form class="form-horizontal form-validate form-modal" method="post" action="/api/form/ajaxformurl">
    <div class="modal-dialog js_document_dismiss" style="width:680px">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">粉丝详情</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <div class="col-sm-12">
                        <span class="pull-left thumb-sm m-r-xs" style="height:80px;width:80px">
                            <img style="height:80px;width:80px" class="img-circle" src="http://img.weimob.com/c3/e8/78/1_3/image/20130922/20130922101718_58147.jpg" alt="John said"></span>
                        <div class="media-body">
                            <div class="m-t-xs" style="line-height: 26px">
                                <span style="font-size: 15px" class="m-r-sm">小狗狗汪呜呜</span>
                                <span class="label label-warning">粉丝</span>
                                <span class="label label-danger">买家</span>
                                <span class="label label-info">萌主</span>
                            </div>
                            <div class="m-t-xs text-muted">关注时间：2015-7-10 11:52</div>

                        </div>
                    </div>
                </div>
                <div class="row m-t-xs">
                    <div class="col-md-12">
                        <section class="panel panel-default">
                            <header class="panel-heading font-bold">购买情况</header>
                            <div class="panel-body">
                               <div class="form-group">
                                   <div class="col-sm-6">
                                        <div class="form-group">
                                            <label class="col-sm-6 control-label">购买单数</label>
                                            <div class="col-sm-6">
                                                <p class="form-control-static">15</p>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-6 control-label">购买总金额</label>
                                            <div class="col-sm-6">
                                               <p class="form-control-static"><strong class="text-danger">589.00</strong>元</p>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-6 control-label">平均每单购买金额</label>
                                            <div class="col-sm-6">
                                                <p class="form-control-static">39.27元</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label class="col-sm-6 control-label">购买商品数</label>
                                            <div class="col-sm-6">
                                                <p class="form-control-static">15</p>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-6 control-label">最近购买日期</label>
                                            <div class="col-sm-6">
                                               <p class="form-control-static">2015-12-14 23:54</p>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-6 control-label">首次购买日期</label>
                                            <div class="col-sm-6">
                                                <p class="form-control-static">2015-12-14 23:54</p>
                                            </div>
                                        </div>
                                    </div>

                               </div>
                            </div>
                        </section>
                    </div>
                </div>
                
                <div class="row m-t-xs">
                    <div class="col-md-12">
                        <section class="panel panel-default">
                            <header class="panel-heading font-bold">分销情况</header>
                            <div class="panel-body">
                               <div class="form-group">
                                   <div class="col-sm-6">
                                        <div class="form-group">
                                            <label class="col-sm-6 control-label">分销单数</label>
                                            <div class="col-sm-6">
                                                <p class="form-control-static">15</p>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-6 control-label">分销商品数</label>
                                            <div class="col-sm-6">
                                                <p class="form-control-static">15</p>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-6 control-label">分销总金额</label>
                                            <div class="col-sm-6">
                                               <p class="form-control-static"><strong class="text-danger">589.00</strong>元</p>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-6 control-label">平均每单分销金额</label>
                                            <div class="col-sm-6">
                                                <p class="form-control-static">39.27元</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label class="col-sm-6 control-label">上架商品数</label>
                                            <div class="col-sm-6">
                                                <p class="form-control-static">15</p>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-6 control-label">最近成单日期</label>
                                            <div class="col-sm-6">
                                               <p class="form-control-static">2015-12-14 23:54</p>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-6 control-label">首次成单日期</label>
                                            <div class="col-sm-6">
                                                <p class="form-control-static">2015-12-14 23:54</p>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-6 control-label">共计获得佣金</label>
                                            <div class="col-sm-6">
                                               <p class="form-control-static"><strong class="text-danger">589.00</strong>元</p>
                                            </div>
                                        </div>
                                    </div>

                               </div>
                            </div>
                        </section>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
            </div>
        </div>
    </div>
</form>