<form class="form-horizontal form-validate form-modal" method="post" action="/api/form/ajaxformurl">
    <div class="modal-dialog" style="max-width:550px;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">发送预览</h4>
            </div>
            <div class="modal-body">
                <div class="form-group m-b-xs">
                    <div class="col-sm-10 col-sm-offset-1 m-b-sm">
                        <label class="radio-inline">
                            <span class="m-l-sm">下载萌店APP并注册，关注本店铺后，才能接收图文消息预览</span>
                        </label>
                    </div>
                </div>
                <div class="form-group m-b-xs">
                    <div class="col-sm-10 col-sm-offset-1">
                        <input class="form-control js_mobile_number" type="text" name="tel" data-rule-required="true" placeholder="请输入萌店注册手机号" />
                    </div>
                </div>
                <div class="form-group m-b-sm text-muted">
                    <div class="col-sm-10 col-sm-offset-1">
                        <span class="small">* 多个手机号用空格分隔</span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-10 col-sm-offset-1">
                        <span class="badge badge-tag bg-light pointer m-r-xs m-t-xs js_insert_tel js_show_delTelBtn" data-tel="13990050667">13990050667<span class="m-l-xs js_del_tel hide" title="删除" data-id="1" data-tel="13990050667" data-url="/Plus/fail.php"><i class="fa fa-times-circle fa-lg"></i></span>
                        </span>
                        <span class="badge badge-tag bg-light pointer m-r-xs m-t-xs js_insert_tel js_show_delTelBtn" data-tel="13880050668">13880050668<span class="m-l-xs js_del_tel hide" title="删除" data-id="2" data-tel="13880050668" data-url="/Plus/fail.php"><i class="fa fa-times-circle fa-lg"></i></span>
                        </span>
                        <span class="badge badge-tag bg-light pointer m-r-xs m-t-xs js_insert_tel js_show_delTelBtn" data-tel="13770050669">13770050669<span class="m-l-xs js_del_tel hide" title="删除" data-id="3" data-tel="13770050669" data-url="/Plus/fail.php"><i class="fa fa-times-circle fa-lg"></i></span>
                        </span>
                        <span class="badge badge-tag bg-light pointer m-r-xs m-t-xs js_insert_tel js_show_delTelBtn" data-tel="13660050662">13660050662<span class="m-l-xs js_del_tel hide" title="删除" data-id="4" data-tel="13660050662" data-url="/Plus/fail.php"><i class="fa fa-times-circle fa-lg"></i></span>
                        </span>
                        <span class="badge badge-tag bg-light pointer m-r-xs m-t-xs js_insert_tel js_show_delTelBtn" data-tel="13550050663">13550050663<span class="m-l-xs js_del_tel hide" title="删除" data-id="5" data-tel="13550050663" data-url="/Plus/fail.php"><i class="fa fa-times-circle fa-lg"></i></span>
                        </span>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary" data-loading-text="发送中...">确定</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
            </div>
        </div>
    </div>
</form>

