<form class="form-horizontal form-validate form-modal" method="post" action="/api/form/ajaxformurl">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">默认成为优质商家设置</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <div class="col-sm-12">
                        <div class="input-group">
                            <label class="col-sm-2 form-control-static">连续有</label>
                            <div class="col-sm-3 m-l-n-xl">
                                <input type="text" class="form-control" name="goods" data-rule-required="true" data-rule-positiveInteger="true" />
                            </div>
                            <label class="form-control-static col-sm-7 m-l-n-md">个商品被审核通过了，该商家升级为优质商家</label>
                        </div>                     
                        
                    </div>  
                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary" data-loading-text="保存中..." disabled>保存</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
            </div>
        </div>
    </div>
</form>



 
  


