<form class="form-horizontal form-validate form-modal" method="post" action="/api/form/ajaxformurl">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">修改排序</h4>
            </div>
            <div class="modal-body">
                
                <div class="form-group">
                    <label class="col-sm-3 control-label">排序</label>
                    <div class="col-sm-5 must">
                        <input type="text" class="form-control" data-rule-positiveInteger="true" data-rule-required="true" value="10" name="sort" />
                    </div>
                </div>
                
            </div>
            <div class="modal-footer">
                <input type="hidden" value="12306" name="id" />
                <button type="submit" class="btn btn-primary" data-loading-text="保存中..." disabled>保存</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
            </div>
        </div>
    </div>
</form>